/* ---------- Registration page ---------- */
.registration {
  margin-top: 2rem;
}
.steps {
  display: flex;
  justify-content: space-between;
  margin: 3.5rem 0;
}
.step {
  position: relative;
  width: 32%;
}
.step::before {
  display: block;
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 3px;
  color: #dcdee4;
  background-color: #dcdee4;
}
.step.active::before {
  color: #303132;
  background-color: #2e304f;
}
.step__name {
  color: #dcdee4;
}
.step.active .step__name{
  color: #303132;
}

/* ---------- Onboarding page ---------- */
.billing-plan {}
.billing-plan_low {
  box-shadow: 0 -5px 0 #1ab27f;
}
.billing-plan_medium {
  box-shadow: 0 -5px 0 #0479ff;
}
.billing-plan_high {
  box-shadow: 0 -5px 0 #2e304f;
}
.billing-plan__name {
  margin-bottom: .6rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.billing-plan__descr {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.billing-plan__coast {
  margin-bottom: .6rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.billing-plan__users {
  margin-bottom: 1rem;
  color: #797b7e;
}
.billing-plan__list {
  margin-top: 1rem;
}
.billing-plan__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
