/* ---------- Policy page ---------- */
.icon-searh {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
}
.form-control {
    padding-left: 2rem;
}

/* ---------- Policy table ---------- */
.table {
    display: table;
}

.table__row{
    display: table-row;

}
.table__cell {
    display: table-cell;
    padding: .8rem 1.5rem;
    border-bottom: solid 1px #ced4da;
}

.table__cell_title {
    color: var(--gray);
}

.table__cell_name {
    color: var(--blue);
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle svg {
    fill: #000;
    transition: all 200ms ease-in;
}
.dropdown-toggle.active svg {
    transform: rotate(90deg);
}

.dropdown-items {
    display: block;
    margin: 0;
    padding: 0;
}

.dropdown-items .dropdown-item {
    padding: .8rem 1.5rem;
    border-bottom: solid 1px #ced4da;
}
.dropdown-items .dropdown-item:last-child {
    border-bottom: none;
}

.status {
    padding: .3rem .5rem;
    width: 6rem;
    text-align: center;
    border-radius: 3px;
}

.status__draft {
    border: solid 1px #ced4da;
}
.status__published {
    color: rgba(40, 167, 69, 1);
    background-color: rgba(40, 167, 69, .2);
}


.level {

}

.level__low {
    color: var(--green);
}

.level__medium {
    color: var(--yellow);
}

.level__high {
    color: var(--red);
}


/* ========== Create page ========== */

/* ---------- Policy Tabs ---------- */
.policy .nav-tabs {
    margin-bottom: 2rem;
    background-color: white;
    border-top: 1px solid #dee2e6;
}
.policy .nav-tabs .nav-item .nav-link,
.policy .nav-tabs .nav-item .nav-link.active {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
}

.policy__main-title {
    max-width: 260px;
    max-height: 2.5rem;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}

.policy .tab-pane {
    margin-bottom: 2rem;
    border: solid 1px #dee2e6;
    border-radius: 3px;
}

/* ---------- Policy Details ---------- */
.policy-actions {
    position: absolute;
    top: 0.7rem;
    right: 3rem;
}

.policy-details {
    margin-bottom: 0;
}
.policy-details__title {
    padding: 2rem 2.5rem;
    border-bottom: solid 1px #e9ebee;
}
.policy-details__title_no-border {
    border: none;
}
.policy-details__body {
    margin-bottom: 1rem;
    padding: 2rem 2.5rem;
    border-bottom: solid 1px #e9ebee;
}
.policy-details__body_border {
    border: solid 1px #e9ebee;
    border-radius: 5px;
}
.policy-details-section {
    margin-bottom: 1rem;
}

.policy-details__name,
.policy-details__input,
.policy-details__text-editor {
    margin-bottom: 1rem;
}
.policy-details__name {
    color: #919396;
}
.policy-details__input {
    flex-grow: 1;
    margin-right: 1rem;
    border: solid 1px transparent;
    transition: all 200ms ease-in;
}
.policy-details__input:hover,
.policy-details__input:active {
    border-color: #ced4da;
}
.policy-details__text-editor {
    cursor: pointer;
}

.policy-details-subsection {
    /*margin: 0 2.5rem 2rem;*/
    margin-bottom: .5rem;
    padding: 1rem;
    border: solid 1px #e9ebee;
}

.actions {
    position: relative;
    display: block;
    text-align: right;
}

.actions__btn {
    padding: 0 1rem;
    width: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.actions__btn.active {
    background-color: rgba(0, 0, 0, .1);
}

.actions-dropdown {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    min-width: 10rem;
    background-color: var(--white);
    border: solid 1px #e9ebee;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3)
}
.actions-dropdown.active {
    display: block;
}
.actions-dropdown__item {
    padding: .7rem 1.5rem;
    font-size: 1rem;
    text-wrap: none;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.actions-dropdown__item:hover,
.actions-dropdown__item:active {
    /*color: var(--white);*/
    background-color: rgba(0, 123, 255, .2);
}

.actions-dropdown__item.delete:hover,
.actions-dropdown__item.delete:active {
    background-color: rgba(255, 0, 0, .2);
}

/* ---------- Policy History ---------- */
.policy-history {
    margin-bottom: 2rem;
    /*border-top: solid 1px #e9ebee;*/
}
.policy-history__title {
    margin: 0 2.5rem;
    padding: 2rem 0;
}

.policy-history__body {
    position: relative;
    margin: 0 2.5rem;
    padding: 1rem;
    padding-left: 7rem;
    border: solid 1px #e9ebee;
    border-radius: 3px;
}
.policy-history__version {
    position: absolute;
    top: 50%;
    left: 2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
    transform: translateY(-50%);

    background-color: #d2d2d2;
    border-radius: 50%;
}
.policy-history__version-info,
.policy-history__author {
    margin-bottom: .5rem;
    font-weight: 600;
}
.policy-history__date {
    color: #919396;
}

/* ---------- Modal ---------- */
/*.modal-dialog {*/
    /*top: 15%;*/
/*}*/

/* ---------- Buttons ---------- */
button.btn {
    padding: .5rem 1.2rem;
    font-weight: 600;
    transition: all 200ms ease-in;
}
button.btn:hover,
button.btn:active {
    opacity: .6;
    transform: translateY(3px);
    box-shadow: 0 3px rgba(255, 193, 7, 1)
}
button.btn__menu,
button.btn__close {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.link{
    color: var(--blue);
}