/* ---------- Policy page ---------- */

/* ---------- Policy List Tabs ---------- */


/* ---------- Policy table ---------- */
.table {
  display: table;
}

.table__row {
  display: table-row;
}

.table__cell {
  display: table-cell;
  /*padding: .8rem 1.5rem;*/
  padding: 0.6875rem 0.625rem;
  font-size: 0.875rem;
  vertical-align: middle;
  border-bottom: solid 1px #ced4da;
}

.table__cell .table__cell {
  padding: .5rem 1.7rem;
}

.table__cell_first,
.table__cell:first-child {
  width: 40%;
  /*word-break: break-all;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__cell_first a,
.table__cell:first-child a {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__cell:nth-child(2) {
  width: auto;
  text-align: left;
}
.table__cell:nth-child(3) {
  width: auto;
  text-align: right;
}
.table__cell:nth-child(4) {
  width: auto;
  text-align: right;
}

.table__cell:nth-child(5) {
  width: auto;
  text-align: right;
}

.table__cell:last-child {
  width: 40px;
}

@media (max-width: 1200px) {
  .table__cell_first,
  .table__cell:first-child {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .table__cell_first,
  .table__cell:first-child {
    width: 20%;
  }
}

.table__cell_title {
  color: #797B7E;
}

.table__cell_name {
  color: #2180C2;
}

.table__cell_name:hover {
  cursor: pointer;
}

.table__cell_clickable {
  cursor: pointer;
}

.table__cell_clickable:hover svg,
.table__cell_clickable:active svg {
  transform: scale(1.2);
}

.dropdown-toggle.link .b-icon.bi {
  font-size: 0.875rem;
}


.dropdown-items {
  display: none;
  margin: 0;
  padding: 0;
}

.dropdown-items.active {
  display: block;
  cursor: pointer;
}

.dropdown-items .dropdown-item {
  padding: .8rem 1.5rem;
  border-bottom: solid 1px #ced4da;
}

.dropdown-items .dropdown-item:last-child {
  border-bottom: none;
}

.status {
  padding: .3rem .5rem;
  /*width: 6rem;*/
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  border-radius: 3px;
}

.status__draft {
  border: solid 1px #ced4da;
}

.status__published {
  color: rgba(100, 206, 171, 1);
  background-color: rgba(213, 251, 239, 1);
}


.level {

}

.level__low {
  color: #1ab27f;
  /*color: var(--green);*/
}

.level__medium {
  color: #ffc900;
  /*color: var(--yellow);*/
}

.level__high {
  color: #ce1938;
  /*color: var(--red);*/
}


/* ========== Create page ========== */

/* ---------- Policy Tabs ---------- */
.policy .nav-tabs {
  /*margin-bottom: 2rem;*/
  background-color: white;
  border-top: 1px solid #dee2e6;
}

.policy .nav-tabs .nav-item .nav-link,
.policy .nav-tabs .nav-item .nav-link.active {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.policy__main-title {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.policy .tab-pane {
  /*margin: 0 3rem 2rem 2rem;*/
  border: solid 1px #dee2e6;
  border-radius: 3px;
}


/* ---------- Policy Details ---------- */
.policy-actions {
  position: absolute;
  top: 0.7rem;
  right: 3rem;
}

.policy-details {
  margin-bottom: 0;
}

.policy-details__title {
  padding: 2rem 2.5rem;
  border-bottom: solid 1px #e9ebee;
}

.policy-details__title_no-border {
  border: none;
}

.policy-details__body {
  margin-bottom: 1rem;
  padding: 2rem 2.5rem;
  border-bottom: solid 1px #e9ebee;
}

.policy-details__body_border {
  border: solid 1px #e9ebee;
  border-radius: 5px;
}

.policy-details-section {
  margin-bottom: 1rem;
}

.policy-details__name,
.policy-details__input,
.policy-details__text-editor {
  margin-bottom: 1rem;
}

.policy-details__name {
  color: #919396;
}

.policy-details__input {
  flex-grow: 1;
  margin-right: 1rem;
  border: solid 1px transparent;
  transition: all 200ms ease-in;
}

.policy-details__input:hover,
.policy-details__input:active {
  border-color: #ced4da;
}

.policy-details__text-editor {
  min-height: 2rem;
  border: solid 1px transparent;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.policy-details__text-editor:hover,
.policy-details__text-editor:active {
  border: solid 1px #e9ebee;
}

.policy-details-subsection {
  /*margin: 0 2.5rem 2rem;*/
  margin-bottom: .5rem;
  padding: 1rem;
  border: solid 1px #e9ebee;
}

/* ---------- Policy History ---------- */
.policy-history {
  padding-bottom: 2rem;
  /*margin-bottom: 2rem;*/
  /*border-top: solid 1px #e9ebee;*/
}

.policy-history__title {
  margin: 0 2.5rem;
  padding: 2rem 0;
}

.policy-history__body {
  position: relative;
  margin: 0 2.5rem;
  padding: 1rem;
  padding-left: 7rem;
  border: solid 1px #e9ebee;
  border-radius: 3px;
}

.policy-history__version {
  position: absolute;
  top: 50%;
  left: 2rem;
  padding: .8rem .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(-50%);

  background-color: #e2e8f0;
  border-radius: 50%;
}

.policy-history__version-info,
.policy-history__author {
  margin-bottom: .5rem;
  font-weight: 600;
}

.policy-history__date {
  color: #919396;
}

.policy-history__btn-download {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

/* ---------- Left Tree ---------- */
.left-tree {
  height: 100%;
  min-height: calc(100vh - 68px);
  border-right: solid 1px #ced4da;
  overflow: hidden;
}

/*.left-tree .link {*/
  /*padding: 1rem 1.5rem;*/
  /*width: 100%;*/
  /*border-bottom: solid 1px #ced4da;*/
/*}*/

.he-tree {
  border: 1px solid #ccc;
  padding: 20px;
}

.tree-node {
}

.tree-node-inner {
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.draggable-placeholder {
}

.draggable-placeholder-inner {
  border: 1px dashed #0088F8;
  box-sizing: border-box;
  background: rgba(0, 136, 249, 0.09);
  color: #0088f9;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
}

.tree3 .tree-node-inner {
    border: none;
    padding: 0px;
  }

.tree3 .tree-node-inner-back:hover {
    background: #ddd;
  }


.tree4 .tree-node-inner {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  backgroud: #ccc;
}

.tree4 .draggable-placeholder-inner {
  background-color: orangered;
}
