version: '3.6'

services:
  postgres:
    image: postgis/postgis:9.6-2.5-alpine
    environment:
      POSTGRES_PASSWORD: mysecretpassword
  redis:
    image: redis
  ci:
    build:
      context: .
      dockerfile: Dockerfile.ci
    env_file: ./.env.ci
    depends_on:
      - postgres
      - redis
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
