Hi [Name],

Congratulations! We have selected you for our [Project Title] (hyperlink of project title name that leads to Project Dashboard page of that project) project on Complect. We're excited to get working with you so click the link and visit the project dashboard to get started!

Best,
[Company Name]
