Hi <%= @project.specialist.full_name %>,

Congratulations! We have selected you for the role of <%= @project.title %></a> through Complect.
We're excited to have you as part of our team!

<%= project_url(@project) %>

Best,
<%= @project.business.business_name %>
