p #{@project.business} has requested to end your project. If this doesn't sound right, deny it within one business day otherwise the project will automatically end.

p #{link_to @project, project_dashboard_url(@project)}
