p
  '#{@project.business} has requested to end your project #{link_to @project, project_dashboard_url(@project)}.
  '  Please confirm or deny this request within one business day otherwise it will be deemed accepted.
