p #{@project.business} has requested to extend your project #{@project}.

p Please visit the #{link_to 'project dashboard', project_dashboard_url(@project)} to accept or deny this request:

p The request will be automatically denied after one business day unless you accept it.
