/* ---------- Sign Up Page ---------- */
.registration {
  margin-top: 10rem; /* 160px */
  margin-right: auto;
  margin-left: auto;
  max-width: 35.625rem;
  border-radius: 4px;
  border-color: #DCDEE4;
  overflow: hidden;
}
@media (min-width: 576px) and (max-width: 767px) {
  .registration {
    margin-top: 3rem;
  }
}
@media (max-width: 575px) {
  .registration {
    margin-top: 1rem;
  }
}

.card.registration .card-body {
  padding: 2.5rem 2.5rem 1.25rem 2.5rem; /*40 20px*/
}
.card.registration .white-card-body {
  border-top: none;
}
.card.registration .card-footer {
  padding: 1.25rem 0;
  font-size: 0.875rem; /*14px*/
  background-color: white;
}
.registration-welcome {
  margin-bottom: 2.5rem;
  text-align: center;
}
.registration__title {
  font-size: 2rem; /* 32px */
}
.registration__subtitle {
  font-size: 1.25rem; /* 20px */
}
.registration__btn {
  margin-bottom: 1.875rem; /*30px*/
  font-weight: 600;
  background-color: #303132;
}

.account-select {
  margin-bottom: 2.875rem; /*46px*/
  padding: 2.5rem 1.5625rem; /* 40 25px */
  min-height: 15.5625rem; /*249px*/
  border: solid 1px #DCDEE4;
  border-radius: 5px;
  transition: all 200ms ease;
}
@media (max-width: 575px) {
  .account-select {
    margin-bottom: 0;
  }
}
.account-select:hover,
.account-select:active {
  background-color: #f6f6f8;
  cursor: pointer;
}
.account-select.active {
  border-color: black;
  background-color: #f6f6f8;
}
.account-select__title {
  font-size: 1rem;
  font-weight: 600;
}

.account-select__img {
  margin-bottom: 1.25rem; /*20px*/
}

.account-select__subtitle {
  /*padding: 0 3rem;*/
  /*height: 4rem;*/
  font-size: 0.875rem; /*14px*/
  text-align: center;
  color: #797B7E;
}

.code-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 3.75rem; /*60px*/
  height: 5rem; /*80px*/
  font-size: 1.5rem; /*24px*/
  text-align: center;
  border: solid 1px #DCDEE4;
  border-radius: 4px;
}
.code-input:not(:last-child) {
  margin-right: .5rem;
}

@media (min-width: 576px) and (max-width: 767px) {

}
@media (max-width: 575px) {
  .code-input {
    margin-right: .3rem;
    width: 2.5rem;
    height: 3rem;
    font-size: 1rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

/* ---------- Registration page ---------- */
.registration-onboarding {
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 71.25rem;
}
.registration-onboarding__title {
  margin-bottom: 0;
  font-size: 1.25rem;
}
.registration-onboarding .card-header {
  padding: 1.25rem 2.5rem;
  border-bottom: solid 1px #DCDEE4;
}
.registration-onboarding .card-body {
  padding: 2.125rem 2.5rem;
}
.registration-card {
  padding: 2.5rem;
  min-height: 100vh;
}
.registration-card-header {
  border-bottom: solid 1px #DCDEE4;
}

/* ---------- purchase-summary ---------- */
.purchase-summary {
  position: absolute;
  z-index: 1050;
  right: 2rem;
  top: 0;
  width: 31.875rem;
  /*transform: translateY(-30%);*/
}
.purchase-summary-header{
  padding: 1.5625rem 2.5rem;
  font-size: 1.25rem;
  background-color: white;
}
.purchase-summary-body {
  font-size: 1rem;
  border-bottom: solid 1px #DCDEE4;
}
.purchase-summary-footer {
  background-color: white;
}
.b-sidebar-backdrop {
  opacity: 1;
}
.bg-dark {
  background-color: #f6f6f8 !important;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2.5rem;
}
.step {
  position: relative;
  width: 32%;
}
.step::before {
  display: block;
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 5px;
  color: #DCDEE4;
  background-color: #DCDEE4;
}
.step.active::before {
  color: #2E304F;
  background-color: #2E304F;
}
.step__name {
  margin-bottom: 0;
  color: #A2A3A9;
  font-size: 1rem;
}
.step.active .step__name{
  color: #303132;
  font-weight: bold;
}

@media (min-width: 576px) and (max-width: 767px) {

}
@media (max-width: 575px) {
  .steps {
    flex-direction: column;
    margin: 1.2rem 0;
  }
  .step {
    width: 100%;
    margin-bottom: .8rem;
  }
  .step::before {
    top: -.8rem;
  }
  .step__name {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

/* ---------- Onboarding page ---------- */
.onboarding {}
.onboarding__title {
  font-size: 1.25rem;
  color: #303132;
}
.onboarding__sub-title,
.onboarding__label,
.onboarding-group label,
.onboarding label {
  margin-bottom: 0.3125rem;
  color: #797B7E;
  font-size: 0.875rem;
}

.onboarding__icon {
  margin-left: 0.625rem;
  margin-bottom: 2px;
  font-size: .90rem;
  color: #565759 !important;
}

.onboarding-group {
  margin-bottom: 1.25rem;
}

.billing-plan {
  width: 100%;
  min-height: 40rem;
}
.billing-plan__title {
  font-size: 2rem;
  font-weight: bold;
}
.billing-plan .card-body {
  padding: 1.875rem 1.25rem; /* 30 20 px*/
}
/*@media (min-width: 1200px) {*/
  /*.billing-plan {*/
    /*margin-bottom: 3.5rem;*/
  /*}*/
/*}*/
@media (max-width: 992px) {
  .billing-plan {
    margin-bottom: 3rem;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .billing-plan {
    margin-bottom: 2rem;
    min-height: auto;
  }
}
@media (max-width: 575px) {
  .billing-plan {
    margin-bottom: 1rem;
  }
}
.billing-plan_low {
  box-shadow: 0 -5px 0 #1ab27f;
}
.billing-plan_medium {
  box-shadow: 0 -5px 0 #0479ff;
}
.billing-plan_high {
  box-shadow: 0 -5px 0 #2e304f;
}
.billing-plan_default {
  box-shadow: 0 -5px 0 #dcdee4;
}
.billing-plan__name {
  margin-bottom: .6rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.billing-plan__descr {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.billing-plan__coast {
  margin-bottom: .6rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.billing-plan__users {
  margin-bottom: 1rem;
  color: #797b7e;
}
.billing-plan__discount {
  text-decoration: line-through;
}
.billing-plan__list {
  margin-top: 1rem;
}
.billing-plan__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.exp {}
.exp__btn {
  padding: 1rem 1.5rem;
  color: #2e304f;
  max-width: 20rem;
  text-align: left;
  border: solid 1px #dcdee4;
  background-color: white;
}
@media (max-width: 575px) {
  .exp__btn:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.exp__btn:hover,
.exp__btn:active,
.exp__btn.active {
  background-color: #f6f6f8!important;
  border-color: #2e304f;
  box-shadow: none;
}
.exp__btn:not(:last-child) {
  margin-right: 1rem;
}
.exp__btn--main {
  display: block;
  margin-bottom: .5rem;
  width: 100%;
  color: #303132;
  font-size: 1.2rem;
  font-weight: bold;
}
.exp__btn--sub {
  display: block;
  width: 100%;
  color: #797b7e;
  transition: all 200ms ease-in;
}
.exp__btn:hover .exp__btn--sub,
.exp__btn:active .exp__btn--sub,
.exp__btn.active .exp__btn--sub {
  color: inherit;
}

/* ---------- Onboarding Specialist Uploading ---------- */
.dropbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px dashed #0479ff; /* the dash box */
  border-radius: 5px;
  /*outline-offset: -10px;*/
  background: #f6f6f8;
  color: #303132;
  padding: 5px 5px;
  min-height: 100px; /* minimum height */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in;
}
.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}
.dropbox:hover {
  opacity: .7;
}
.dropbox p {
  margin-bottom: 0;
  font-size: 1.2em;
  text-align: center;
  padding: 30px 0;
}

/* ---------- NAVBAR ---------- */
.navbar .dropdown {
  transition: all 200ms ease-in;
}
.navbar .dropdown:hover,
.navbar .dropdown:active {
  background-color: #f6f6f8;
  cursor: pointer;
}
