/* ---------- Sign Up Page ---------- */
.registration {
  margin-top: 10rem;
}
@media (min-width: 576px) and (max-width: 767px) {
  .registration {
    margin-top: 3rem;
  }
}
@media (max-width: 575px) {
  .registration {
    margin-top: 1rem;
  }
}
.link{
  color: var(--blue)
}

.account-select {
  padding: 2rem 2.5rem;
  border: solid 1px #dcdee4;
  border-radius: 5px;
  transition: all 200ms ease;
}
.account-select:hover,
.account-select:active {
  background-color: #f6f6f8;
  cursor: pointer;
}
.account-select.active {
  border-color: black;
  background-color: #f6f6f8;
}
.account-select__title {}
.account-select__subtitle {
  padding: 0 3rem;
  text-align: center;
  color: #7f8184;
}

ion-icon {
  /*font-size: 15rem!important;*/
  filter: drop-shadow(5px 5px 5px lightgray);
}

.code-input {
  margin-right: .5rem;
  width: 5rem;
  height: 6rem;
  font-size: 1.8rem;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

/* ---------- Registration page ---------- */
.registration-onboarding {
  margin-top: 2rem;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin: 3.5rem 0;
}
.step {
  position: relative;
  width: 32%;
}
.step::before {
  display: block;
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 3px;
  color: #dcdee4;
  background-color: #dcdee4;
}
.step.active::before {
  color: #303132;
  background-color: #2e304f;
}
.step__name {
  color: #dcdee4;
}
.step.active .step__name{
  color: #303132;
}

@media (min-width: 576px) and (max-width: 767px) {

}
@media (max-width: 575px) {
  .steps {
    flex-direction: column;
    margin: 1.2rem 0;
  }
  .step {
    width: 100%;
    margin-bottom: .8rem;
  }
  .step::before {
    top: -.8rem;
  }
  .step__name {
    font-size: 1.2rem;
  }
}

/* ---------- Onboarding page ---------- */
.billing-plan {}
.billing-plan_low {
  box-shadow: 0 -5px 0 #1ab27f;
}
.billing-plan_medium {
  box-shadow: 0 -5px 0 #0479ff;
}
.billing-plan_high {
  box-shadow: 0 -5px 0 #2e304f;
}
.billing-plan_default {
  box-shadow: 0 -5px 0 #dcdee4;
}
.billing-plan__name {
  margin-bottom: .6rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.billing-plan__descr {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.billing-plan__coast {
  margin-bottom: .6rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.billing-plan__users {
  margin-bottom: 1rem;
  color: #797b7e;
}
.billing-plan__list {
  margin-top: 1rem;
}
.billing-plan__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.link {
  color: var(--blue);
}

/* ---------- Logo page ---------- */
.logo {
  max-width: 216px;
}
.logo__link {
  width: 100%;
}
.logo__img {
  width: 100%;
  object-fit: contain;
}
@media (min-width: 576px) and (max-width: 767px) {

}
@media (max-width: 575px) {
  .logo {
    width: 100%;
    max-width: 100%;
  }
  .logo__img {
    width: 80%;
  }
}
