/* ---------- Sign Up Page ---------- */
.registration {
  /*margin-top: 10rem; !* 160px *!*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  width: 35.625rem;
  border-radius: 4px;
  border-color: #DCDEE4;
  overflow: hidden;
}
@media (min-width: 576px) and (max-width: 767px) {
  .registration {
    margin-top: 3rem;
    margin-bottom: auto;
  }
}
@media (max-width: 575px) {
  .registration {
    margin-top: 1rem;
    margin-bottom: auto;
  }
}

.card.registration .card-body {
  padding: 2.5rem 2.5rem 1.25rem 2.5rem; /*40 20px*/
}
.card.registration .white-card-body {
  border-top: none;
}
.card.registration .card-footer {
  padding: 1.25rem 0;
  font-size: 0.875rem; /*14px*/
  background-color: white;
}
.registration-welcome {
  margin-bottom: 2rem;
  text-align: center;
}
.registration__title {
  font-size: 2rem; /* 32px */
  font-weight: 600;
}
.registration__subtitle {
  font-size: 1.25rem; /* 20px */
}
.registration__btn {
  margin-bottom: 1.875rem; /*30px*/
  font-weight: 600;
  background-color: #303132;
}
.forgot-password {
  font-size: 0.875rem;
}
.registration label {
  margin-bottom: 0.3125rem; /*5px*/
  color: #797B7E;
  font-size: 0.875rem;
}
.registration .form-control:not(.is-invalid) {
  padding: 0.4375rem 0.625rem; /*7 10px*/
  color: #303132;
  border: solid 1px #DCDEE4;
}
.registration .form-control::placeholder {
  color: #A2A3A9;
}

@media (max-width: 575px) {
  .card.registration .card-body {
    padding: 1em;
  }
  .registration-welcome {
    margin-bottom: 1em;
  }
  .registration__title {
    font-size: 1.3em;
  }
  .registration__subtitle {
    font-size: 1em;
  }
  .registration__btn {
    margin-bottom: 1em;
  }
  .card.registration .card-footer {
    padding: 1.25em 0;
    font-size: 0.875em;
  }
  .registration .form-control {
    padding: 0.4375rem 0.525rem;
  }
}

.account-select {
  margin-bottom: 2.875rem; /*46px*/
  padding: 2.5rem 1.5625rem; /* 40 25px */
  min-height: 15.5625rem; /*249px*/
  border: solid 1px #DCDEE4;
  border-radius: 5px;
  transition: all 200ms ease;
}
@media (max-width: 575px) {
  .account-select {
    margin-bottom: 0;
    padding: 1.5em 1.5em;
    min-height: auto;
  }
}
.account-select:hover,
.account-select:active {
  background-color: #f6f6f8;
  cursor: pointer;
}
.account-select.active {
  border-color: black;
  background-color: #f6f6f8;
}
.account-select__title {
  font-size: 1rem;
  font-weight: 600;
}

.account-select__img {
  margin-bottom: 1.25rem; /*20px*/
}

.account-select__subtitle {
  /*padding: 0 3rem;*/
  /*height: 4rem;*/
  font-size: 0.875rem; /*14px*/
  text-align: center;
  color: #797B7E;
}
@media (max-width: 575px) {
  .account-select__subtitle {
    padding: 0;
    margin: 0;
  }
}

.code-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 3.75rem; /*60px*/
  height: 5rem; /*80px*/
  font-size: 1.5rem; /*24px*/
  text-align: center;
  border: solid 1px #DCDEE4;
  border-radius: 4px;
}
.code-input:not(:last-child) {
  margin-right: .5rem;
}

@media (min-width: 576px) and (max-width: 767px) {

}
@media (max-width: 575px) {
  .code-input {
    margin-right: .3rem!important;
    margin-left: .3rem!important;
    padding: 0.4375rem 0.325rem!important;
    width: 1.7rem;
    height: 3rem;
    font-size: 1rem;
  }
  .code-input:first-child {
    margin-left: auto!important;
  }
  .code-input:last-child {
    margin-right: auto!important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

/* ---------- Registration page ---------- */
.registration-onboarding {
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  min-width: 71.25rem;
}
.registration-onboarding.full {
  margin: 0;
  margin-right: auto;
  width: auto;
}

@media (max-width: 1200px) {
  .registration-onboarding {
    min-width: auto;
  }
}

@media (max-width: 800px) {
  .registration-onboarding {
    margin-right: 0;
  }
}

.registration-onboarding__title {
  margin-bottom: 0;
  font-size: 1.25rem;
}
.registration-onboarding .card-header {
  padding: 1.25rem 2.5rem;
  border-bottom: solid 1px #DCDEE4;
}
.registration-onboarding .card-body {
  padding: 2.125rem 2.5rem;
}

@media (max-width: 575px) {
  .registration-onboarding {
    margin-top: 1.25em;
  }
  .registration-onboarding .card-header {
    padding: 1em 1.25rem;
  }
  .registration-onboarding .card-body {
    padding: 1.06em 1.25em;
  }
}


/* ---------- coupon ---------- */
.coupon {}
.coupon__input {
  text-transform: uppercase;
}
.coupon__input::placeholder{
  text-transform: none;
}
.coupon__btn {
  margin-left: 0.625rem;
}


/* ---------- steps ---------- */
.steps {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2.5rem;
}
.step {
  position: relative;
  width: 32%;
}
.step::before {
  display: block;
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 5px;
  color: #DCDEE4;
  background-color: #DCDEE4;
}
.step.active::before {
  color: #2E304F;
  background-color: #2E304F;
}
.step__name {
  margin-bottom: 0;
  color: #A2A3A9;
  font-size: 1rem;
}
.step.active .step__name{
  color: #303132;
  font-weight: bold;
}

@media (min-width: 576px) and (max-width: 767px) {

}
@media (max-width: 575px) {
  .steps {
    flex-direction: column;
    margin: 1.2rem 0;
  }
  .step {
    width: 100%;
    margin-bottom: .8rem;
  }
  .step::before {
    top: -.8rem;
  }
  .step__name {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

/* ---------- Onboarding page ---------- */
.onboarding {}
.onboarding__title {
  font-size: 1.25rem;
  color: #303132;
}
.onboarding__sub-title,
.onboarding__label,
.onboarding-group label,
.onboarding label {
  margin-bottom: 0.3125rem;
  color: #797B7E;
  font-size: 0.875rem;
}

.onboarding__icon {
  margin-left: 0.625rem;
  margin-bottom: 2px;
  font-size: .90rem;
  color: #565759 !important;
}

.onboarding-group {
  margin-bottom: 1.25rem;
}




/* ---------- Onboarding Specialist Uploading ---------- */
.dropbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px dashed #0479FF; /* the dash box */
  border-radius: 5px;
  /*outline-offset: -10px;*/
  background: #f6f6f8;
  color: #303132;
  padding: 5px 5px;
  min-height: 100px; /* minimum height */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in;
}
.input-file {
  font-size: 0.75rem;
  color: #303132;
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
.dropbox:hover {
  opacity: .7;
}
.dropbox p {
  margin-bottom: 0;
  padding: 1.6875rem 0;
  max-width: 7.25rem;  /*116px;*/
  text-align: center;
  line-height: 1.5;
}

.dropbox .btn.btn-default {
  width: 100%;
}

/* ---------- NAVBAR ---------- */
.navbar .dropdown {
  transition: all 200ms ease-in;
}
.navbar .dropdown:hover,
.navbar .dropdown:active {
  background-color: #f6f6f8;
  cursor: pointer;
}
