.page-parallax.parallax-window data-image-src=asset_url("turnkey/internal-header.jpg") data-parallax="scroll"
.row.text-center
  h1.small.m-t-3.p-t-1.m-b-3.p-b-3.brand-color DIG YOURSELF OUT FROM THAT MOUNTAIN OF PAPERWORK