form#new_business, form.edit_business {
  select {
    height: $input-height-large !important;
  }

  .business_jurisdictions {
    @include clearfix;

    .checkbox {
      margin-top: 0;
      padding-left: 20px; // Restore awesome-bootstrap-checkbox padding
    }
  }

  .business_anonymous {
    .btn {
      width: 180px;
    }

    .help-block {
      margin: 3em 30%;
    }

    @media (max-width: $screen-xs-max) {
      .btn {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
      }

      .help-block {
        margin: 3em 0;
      }
    }
  }

  .business_description {
    textarea {
      min-height: ($input-height-large * 2) + $form-group-margin-bottom;
    }
  }

  .business_country .multiselect-container {
    max-height: 260px;
    overflow: auto;
  }
}
