body.businesses.show {
  #header {
    background-image: asset_url("header-profile.jpg");
    background-position-y: -100px;

    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }
}

#business-dashboard {
  @media (max-width: $screen-sm-max) {
    display: block;

    .tr, .td {
      display: block;
    }
  }
}

body.businesses.new {
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;
  
  .app_container{
    -webkit-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    background-color: #ffffff;
    padding-top: 25px;
    margin-bottom: 100px;
  }

  .btn-primary {
    text-transform: uppercase;
    font-weight: $medium-weight;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 0px;
    padding: 10px 20px;
  }
}