body.businesses.show {
  #header {
    background-image: asset_url("header-profile.jpg");
    //background-position-y: -120px;
    background-size: cover;
    @media (min-width: $screen-xs-max) {
      height: 381px;
      margin-bottom: 100px;      
    }
    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }
}

#business-dashboard, #specialist-dashboard {
  @media (max-width: $screen-sm-max) {
    display: block;

    .tr, .td {
      display: block;
    }
  }
}

body.subscription_settings, body.businesses.create, body.business_dashboard.show, body.dashboard.show, body.settings, body.passwords, body.key_contacts, body.payment_settings, body.notification_settings, body.delete_accounts, body.financials {
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;  
}

body.job_applications.show, body.job_applications.edit, body.job_applications.new, body.job_applications.create, body.job_applications.new, body.businesses.create, body.businesses.new, body.businesses.edit, body.projects.new, body.projects.edit, body.businesses.update, body.turnkey_pages.new {
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;
  
  .app_container{
    -webkit-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    background-color: #ffffff;
    padding-top: 25px;
    margin-bottom: 100px;
  }

  .btn-lg {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 0px;
    padding: 10px 20px;
  }
}

.shadow_container{
  -webkit-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nested_form {
  position: relative;

  .add {
    position: absolute;
    right: 130px;
  }
}