body.businesses.show {
  #header {
    background-image: asset_url("header-profile.jpg");
    //background-position-y: -120px;
    background-size: cover;
    @media (min-width: $screen-xs-max) {
      height: 381px;
      margin-bottom: 100px;      
    }
    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }
}

#business-dashboard, #specialist-dashboard {
  @media (max-width: $screen-sm-max) {
    display: block;

    .tr, .td {
      display: block;
    }
  }
}

body.passwords, body.key_contacts, body.payment_settings, body.faq, body.subscription_settings, body.notification_settings, body.teams, body.referrals, body.delete_accounts, body.settings, body.compliance_policies, body.annual_reports, body.sessions, body.businesses.new, body.onboarding {
  background-color: #fff;
  #left_navbar {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
  }
}

a {
  &:hover, &:focus {
    text-decoration: none;
    color: #000;
  }
}

#left_navbar {
  .active {
    background-image: url(asset_path("left_nav_cursor.png"));
    background-repeat: no-repeat;
    width: 67px;
    height: 98px !important;
    position: absolute;
    right: -12px;
    top: -19px;
  }
  a {
    position: relative;
    color: #000;
    display: block;
    height: 59px;
    width: 59px;
    i {
      position: absolute;
    }
    &:hover {
      i {
        color: #ffcc01;
      }
    }
  }
}

body.personalize.quiz, body.job_applications.show, body.job_applications.edit, body.job_applications.new, body.job_applications.create, body.job_applications.new, body.projects.new, body.projects.edit, body.turnkey_pages.new {
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;
  
  .app_container{
    //-webkit-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    //-moz-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    //box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    //background-color: #ffffff;
    padding-top: 25px;
    margin-bottom: 100px;
  }

  .btn-lg {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 0px;
    padding: 10px 20px;
  }
}

.shadow_container{
  -webkit-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nested_form {
  position: relative;

  .add {
    position: absolute;
    right: 130px;
  }
}

body {
  background-color: #F3F5F7;
  @media (min-width: $screen-xs-max) {
    min-width: 1140px;
  }
}

body.noscroll {
  overflow-y: hidden;
}
