p
  | Hi #{@business.contact_first_name},

p As the co-founders of Complect, we just wanted to take the time to say a big thank you for joining Complect! We are excited to have you as part of our growing network of financial services firms and look forward to helping you find great specialists to help with all your compliance needs.
p Here are a few things to help get you started:

ul
  li Check out our <a href="https://www.complect.com/info/faqs">FAQs</a> and <a href="https://www.complect.com/Best_Practices_Business.pdf">Best Practices</a> before beginning to answer any questions you may have on how the platform works, how to post a project, how to pay specialists, and more;
  li Take a look through our growing <a href="https://www.complect.com/partnerships">Partnership Network</a> for discounts on products and services (e.g. cybersecurity software, back office administration tools, office space, etc.);
  li Have a question about a new regulation? Want to discuss your thoughts on industry trends? Head to the <a href="https://businesses.complect.com/">Forum</a> to connect with your peers and start a discussion; and
  li Last but not least, don't forget to go to your <a href="https://www.complect.com/business/settings">account settings</a> and add payment details so you can start posting projects today!

p Follow us on <a href="https://www.linkedin.com/company/complect/">LinkedIn, <a href="https://www.facebook.com/complect.co/">Facebook</a> and <a href="https://twitter.com/Complect_co">Twitter</a> to keep up with our latest news and announcements and help spread the word with your business and social networks. The beauty of our platform is the powerful network effects that will only serve to improve your user experience as our community grows. With more businesses posting projects to our platform, the more specialists will see Complect as a way to source engagements with firms like yourself.
p If you need personalized assistance to help you scope out your first project, contact us at <a href="mailto:help@complect.co">help@complect.co</a> or call 347-618-9656.

p
  | Sincerely,
  br
  | Hanh + James
