/* ---------- Risr Register page ---------- */
.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle svg {
  fill: #000;
  transition: all 200ms ease-in;
}

.dropdown-toggle.active svg {
  /*transform: rotate(90deg);*/
  transform: rotate(0);
}

.link {
  color: var(--blue);
}

.status {
  padding: .3rem .5rem;
  /*width: 6rem;*/
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  border-radius: 3px;
}

.status__draft {
  border: solid 1px #ced4da;
}

.status__published {
  color: rgba(100, 206, 171, 1);
  background-color: rgba(213, 251, 239, 1);
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle svg {
  fill: #000;
  transition: all 200ms ease-in;
}

.dropdown-toggle.active svg {
  transform: rotate(90deg);
}

.dropdown-items {
  display: none;
  margin: 0;
  padding: 0;
}

.dropdown-items.active {
  display: block;
  cursor: pointer;
}
