/* ---------- Risr Register page ---------- */
.status {
  padding: .3rem .5rem;
  /*width: 6rem;*/
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  border-radius: 3px;
}

.status__draft {
  border: solid 1px #ced4da;
}

.status__published {
  color: #1AB27F;
  background-color:#D5FBEF;
}

.dropdown-items {
  display: none;
  margin: 0;
  padding: 0;
}

.dropdown-items.active {
  display: block;
  cursor: pointer;
}

.icon-policy {
  width: 25px;
  margin-top: -3px;
  margin-right: 3px;
}

.three-dots {
  font-size: 1rem;
}

.custom-text {
  color: #2180C2 !important;
  text-decoration: none !important;
}

.custom-text:hover {
  color: #0479FF !important;
}

.sm-icon {
  font-size: 15px !important;
  margin-right: 1px !important;
}

.risk-item {
  display: table-row !important;
}

.policy-in-risk {
  position: relative;
  left: 30px;
}