/* ---------- Reports page ---------- */
.risks-heatmap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  width: 100%;
  height: 100%;
}
.risks-heatmap__impact {
  display: block;
  position: absolute;
  top: 40%;
  left: -15px;
  font-weight: 600;
  font-size: 1rem;
  transform: rotate(-90deg) translateY(-40%);
}
.risks-heatmap__likelihood {
  display: block;
  position: absolute;
  bottom: -1.8rem;
  right: 0;
  left: 25%;
  margin: 0 auto;
  width: 100px;
  font-weight: 600;
  font-size: 1rem;
}
.risks-heatmap__box-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  width: 100%;
}
.risks-heatmap__box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  width: 10rem; /*160px*/
  height: 5rem; /*160px*/
  color: white;
  background-color: lightgray;
}

.risks-heatmap__box:not(:last-child) {
  margin-right: .5rem;
}

.risks-heatmap__box-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: .5rem;
  width: 15%;
  font-size: 1rem;
}
.risks-heatmap__box_level-high {
  background-color: #ce1938;
}
.risks-heatmap__box_level-medium {
  background-color: #ffc900;
}
.risks-heatmap__box_level-low {
  background-color: #1ab27f;
}
