.hidden-sm.hidden-xs.rewards
  .container.rewards-over
    button.info-tooltip type="button" data-placement="bottom" data-toggle="tooltip" data-title="Our rewards program treats you for being a valued member of the Complect community. Your program status is calculated based on the gross value of projects you have completed during the calendar year. Status must be achieved each year." i
    .rewards-star style="left: #{reward_percent}%" &#x2605;
    .col-md-4.rewards-gold data-placement="bottom" data-toggle="tooltip" data-html="true" title="<ul><li>2% off 10% Complect fee</li></ul>" $10,000-$50,000
    .col-md-4.rewards-platinum data-placement="bottom" data-toggle="tooltip" data-html="true" title="<ul><li>3% off 10% Complect fee</li></ul>" $50,001-$100,000
    .col-md-4.rewards-honors data-placement="bottom" data-toggle="tooltip" data-html="true" title="<ul><li>4% off 10% Complect fee</li></ul>" $100,000+