footer.public
  .container
    .row
      .col-lg-12
        .row
          .col-lg-3.col-md-6
            h4 Company
            ul
              li
                a href="https://www.complect.com/about-us" 
                  | About Us
              li
                a href="https://www.complect.com/press" 
                  | Press
              li
                a href="https://www.complect.com/terms-of-use" 
                  | Terms of Use
              li
                a href="https://www.complect.com/privacy-policy" 
                  | Privacy Policy
          .col-lg-3.col-md-6
            h4 Resources
            ul
              li
                a href="https://www.complect.com/compliance-connect-2021" 
                  | Compliance Connect 2021
              li
                a href="https://www.complect.com/the-guide" 
                  | The Guide
              li
                a href="https://www.complect.com/pricing" 
                  | Pricing
          .col-lg-3.col-md-6
            h4 Products
            ul
              li
                = link_to "Compliance Command Center", "https://www.complect.com/#comp-kdok9b3r"
              li
                a href="https://app.complect.com/marketplace" 
                  | Marketplace
              li
                a href="https://app.complect.com/turnkey" 
                  | Turnkey Consulting Suite
          .col-lg-3.col-md-6
            h4 Support
            ul
              li
                a href="https://www.complect.com/faqs"
                  | FAQs
              li
                a href="https://calendly.com/complect" 
                  | Demo
              li
                a href="https://www.complect.com/security" 
                  | Security
    .public-copyright
      .row
        .col-lg-12
          .row
            .col-sm-6
              p
                | © Complect 
                = Date.today.year
                |  | All Rights Reserved
            .col-sm-6
              ul.text-right.social-link
                a href="https://www.linkedin.com/company/gocomplect" 
                  = image_tag 'linked_in.webp'
                a href="https://twitter.com/gocomplect" 
                  = image_tag 'twiter.webp'
                a href="https://www.facebook.com/gocomplect" 
                  = image_tag 'fb.webp'
