<footer class="public">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h4> Company </h4>
            <ul>
              <li>
                <a href='https://www.complect.com/about-us'>
                  About Us
                </a>
              </li>

              <li>
                <a href='https://www.complect.com/press'>
                  Press
                </a>
              </li>

              <li>
                <a href='https://www.complect.com/terms-of-use'>
                  Terms of Use
                </a>
              </li>

              <li>
                <a href='https://www.complect.com/privacy-policy'>
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6">
            <h4> Resources </h4>
            <ul>
              <li>
                <a href='https://www.complect.com/compliance-connect-2021'>
                  Compliance Connect 2021
                </a>
              </li>

              <li>
                <a href='https://www.complect.com/the-guide'>
                  The Guide
                </a>
              </li>

              <li>
                <a href='https://www.complect.com/pricing'>
                  Pricing
                </a>
              </li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6">
            <h4> Products </h4>
            <ul>
              <li>
                <a href='https://www.complect.com'>
                  Compliance Command Center
                </a>
              </li>

              <li>
                <a href='https://www.complect.com'>
                  Marketplace
                </a>
              </li>

              <li>
                <a href='https://www.complect.com'>
                  Turnkey Consulting Suite
                </a>
              </li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6">
            <h4> Support </h4>
            <ul>
              <li>
                <a href='https://www.complect.com/faqs'>
                  FAQs
                </a>
              </li>

              <li>
                <a href='https://calendly.com/complect'>
                  Demo
                </a>
              </li>

              <li>
                <a href='https://www.complect.com/security'>
                  Security
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="public-copyright">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <p>
                © Complect 2019 | All Rights Reserved
              </p>
            </div>
            <div class="col-sm-6">
              <ul class="text-right social-link">
                <a href="https://www.linkedin.com/company/gocomplect"> <%= image_tag 'linked_in.webp' %> </a>
                <a href="https://www.linkedin.com/company/gocomplect"> <%= image_tag 'twiter.webp' %> </a>
                <a href="https://www.facebook.com/gocomplect"> <%= image_tag 'fb.webp' %>  </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
