.public-header
  .public-menu
    .container
      ul
        li
          = link_to 'General', '/'
        li
          = link_to 'Portfolio Management', '/'
        li
          = link_to 'Client Management', '/'
        li
          = link_to 'Back Office', '/'
        li
          = link_to 'Cybersecurity', '/'
