- content_for :header_class, 'short_absolute'
- content_for :title, 'How it works'

.page-parallax data-image-src=asset_url("faqs.jpg") data-parallax="scroll"
  .home-content
    .hero-image.default-heading
      h1 FAQs
      p.text-center THE FINER DETAILS OF HOW WE WORK

  .hero-light
    .container
      .col-xs-10.col-xs-push-1
        ul.collapsible-list.collapse-others
          li.section
            h4 General

          li.collapsed data-toggle="collapse" data-target="#faq1"
            span What is Complect?
            #faq1.collapse
              'Complect is an online marketplace that connects financial services firms with a global network of financial
              '  regulatory compliance Specialists with a minimum three years of direct compliance experience for project based
              '  work or full time employment.

          li.collapsed data-toggle="collapse" data-target="#faq2"
            span How does Complect Work?
            #faq2.collapse
              'As a platform for Businesses and Specialists to find one another, creating a profile is always free! We only get
              '  paid when a project is staffed and underway.
              br
              br
              'Businesses can post their one-off project, hourly engagement, or full-time role on our site and wait for, or prompt,
              '  qualified Specialists to apply. In addition to our minimum three years of compliance experience requirement,
              '  Businesses can also hashtag their own prerequisites for the role to automate part of their screening process.
              '  Applicants can then be interviewed before the right one is selected for the project.
              br
              br
              'Specialists can feel secure knowing that once they’re chosen for a project, they can focus on only the task at
              '  hand as we’ll take care of the payment process through our automated billing and invoicing system. They can
              '  rest assured knowing that they’ll always be paid for a job well done. Moreover, our transparent skills hashtag
              '  system allows Specialists to stay abreast of market trends among their peer group. Not landing many projects
              '  and you don’t know why? Easily see if you’ve got the skills Businesses are looking for.


          li.collapsed data-toggle="collapse" data-target="#faq3"
            span What types of Businesses use Complect?
            #faq3.collapse
              'Complect suits any Business that must comply with financial regulatory laws. Some examples include first time
              '  or established fund managers, broker dealers, banks, financial advisers or commodity traders.


          li.collapsed data-toggle="collapse" data-target="#faq4"
            span Where do Specialists come from? What industries and jurisdictions can they help with?
            #faq4.collapse
              'Our Specialists can come from all over the world. Whether it’s New York City or Timbuktu, Complect is the place
              '  where Specialists with expertise on the financial regulatory framework in their jurisdiction or industry can find
              '  Businesses that need help to comply with those laws. We require that all of our Specialists have at least three
              '  years of direct compliance experience whether as a compliance consultant, compliance officer, regulator, or
              '  other similar roles.


          li.collapsed data-toggle="collapse" data-target="#faq5"
            span What kind of projects are posted on Complect?
            #faq5.collapse
              'Complect caters to all your financial regulatory compliance needs. Our Specialists can help with a wide range of
              '  tasks, such as: registration, regulatory filings, compliance manuals, internal reviews (e.g. email reviews and
              '  compliance program reviews), CCO support, secondment, and more.


          li.collapsed data-toggle="collapse" data-target="#faq6"
            span What happens in the event of a dispute over work product or pay?
            #faq6.collapse
              'As the saying goes, an ounce of prevention is worth a pound of cure. Therefore, we encourage Businesses to
              '  communicate their expectations early on in an engagement to provide clear and manageable guidance to the
              '  Specialists they hire.
              br
              br
              'Any dissatisfaction should be brought up with the other party promptly to prevent the situation from snowballing.
              '  In the rare case that you’re unable to settle your differences, either party can escalate the issue to Complect for
              '  review via the Project Dashboard. We will adjudicate the problem and work to find a suitable solution for both
              '  parties.
              br
              br
              'As payments are automatically drafted in accordance with the agreed upon billing cycles, as soon as the project
              '  is escalated to Complect all payments will be suspended until the issue is resolved.


          li.collapsed data-toggle="collapse" data-target="#faq7"
            span How does Complect make money?
            #faq7.collapse
              'Like many other marketplace platforms, Complect makes its money based on the value of projects completed on
              '  the platform. When the system draws a payment for a project, it will automatically include an additional 10% fee
              '  on the charge to the Businesses account and it will automatically withhold a 10% fee from the payment to the
              '  Specialist. For example, if both parties are matched for a $1,000 project then the Business will pay $1,100 and
              '  the Specialist will receive $900.
              br
              br
              'In the case of full-time roles, the Business alone will bear the fee which they may choose to incur as either (i)
              '  15% of first year salary payable on the employee&#39;s start date and refundable if employee leaves within 90 days;
              '  or (ii) 3% of first year salary payable monthly for six months beginning on the employee&#39;s start date. If the
              '  employee leaves within six months, monthly payments are no longer due after termination date.


          li.section
            h4.m-t-3 Businesses

          li.collapsed data-toggle="collapse" data-target="#faq8"
            span Will my profile be publicly visible and how can I protect confidential information?
            #faq8.collapse
              'Since one of our founders is a former compliance consultant, we understand the importance of confidentiality for
              '  our users on both sides. That is why we created a privacy setting that allows Businesses to choose to be
              '  anonymous, meaning only the industry, jurisdiction, number of employees and general Business description will
              '  be shared with other Complect users. Key information like your Business name, contact details and location will
              '  only be shared with Specialists you hire.
              br
              br
              'We specifically do not require Businesses to execute Complect issued contracts so you have the freedom to
              '  engage Specialists under any formal agreement you feel most comfortable with in order to maintain control over
              '  your proprietary information and privacy. We also don’t have access to your Project Dashboard unless an issue
              '  is escalated, so any information shared through there will be exclusively between you and the Specialist.


          li.collapsed data-toggle="collapse" data-target="#faq9"
            span How do I post a Project?
            #faq9.collapse
              'Posting a project is easy! You will always see the button affixed to your floating header. Just click the button and
              '  enter the requisite information. Have an engagement you want repeated? You can avoid having to fill out the
              '  entire project form again by using our easy copy function.
              br
              br
              'Head to My Dashboard &gt; select the Completed tab under the My Projects section &gt; click Copy on the project
              '  card you wish to duplicate.


          li.collapsed data-toggle="collapse" data-target="#faq10"
            span Can I post a full-time role?
            #faq10.collapse
              'Yes, we welcome full-time roles.


          li.collapsed data-toggle="collapse" data-target="#faq11"
            span Should I price my project using an hourly rate or a fixed price?
            #faq11.collapse
              'This is entirely up to you depending on the payment style that works best for your Business and the type of
              '  engagement you are posting. Keep in mind that while the billing on hourly projects is automated, it will require
              '  Specialists to keep timesheets and for you to approve these timesheets for payments to be released which gives
              '  you an added level of control.


          li.collapsed data-toggle="collapse" data-target="#faq44"
            span How do the different payment methods work?
            #faq44.collapse
              | When posting a project, you can elect to pay your specialist either (i) half upfront and half upon completion; (ii) on a bi-weekly basis; (iii) on a monthly basis; or (iv) upon project completion. The options available to you will depend on the length of the project and whether it is an hourly engagement or has a fixed budget. If you select to pay on a bi-weekly or monthly basis, payments will be triggered on the bi-weekly or monthly anniversary of the start date of the project.

          li.collapsed data-toggle="collapse" data-target="#faq12"
            span Do Specialists bid on projects?
            #faq12.collapse
              'No. We believe that bidding platforms promote counterproductive pricing on projects. In order to ensure
              '  Specialists are not undercutting each other for the project and then producing poor quality work to try to
              '  compensate for their lower margins, we let you set the budget you are most comfortable with and leave it to
              '  market forces to dictate whether the pay you are offering is commensurate with the work you are expecting.
              '  Remember, you get what you pay for and we want Complect to be the reliable platform for quality Specialists to
              '  find interesting and competitively paid work.
              br
              br
              'As a benchmark for fees, consider that a premier consulting firm may charge you anywhere from $300-
              '  $1,000/hour for their Specialists depending on seniority. Many employees only see a fraction of the fee that they
              '  are billed out at, so we believe there is a competitive price somewhere in the middle that saves Businesses
              '  money by hiring these same individuals on a freelancing platform and provides them with more pay for their
              '  expertise.


          li.collapsed data-toggle="collapse" data-target="#faq13"
            span What is the process for hiring a Specialist?
            #faq13.collapse
              'Once you post a project, Specialists who are interested in working on the engagement will apply. You may also
              '  proactively browse our Specialists if you would like to invite certain ones to apply. All applicants will be stored in
              '  the specific project card’s Applicant Pool which can be found by clicking Applicants at the bottom of the specific
              '  project card in the My Projects section Pending tab on your Dashboard. You can view these applicants’ full
              '  profiles, message them, shortlist them, and hide them at any time. Once you have determined your ideal
              '  candidate, just click Hire on their Specialist card in that Applicant Pool. The project card will move from the
              '  Pending tab to the Active tab on your Dashboard and will now serve as a portal to that specific engagement’s
              '  Project Dashboard.


          li.collapsed data-toggle="collapse" data-target="#faq14"
            span Can I hire someone from New York? London? Sydney?
            #faq14.collapse
              'Definitely! We are a global platform, so you are welcome to hire any Specialist on our site with expertise in the
              '  industries and jurisdictions you need.


          li.collapsed data-toggle="collapse" data-target="#faq15"
            span Am I hiring Complect or am I hiring the Specialist?
            #faq15.collapse
              'We are a freelancing platform that connects Businesses with Specialists. Each engagement is directly between
              '  you and the Specialist that you hire.


          li.collapsed data-toggle="collapse" data-target="#faq16"
            span What insurance do Specialists have?
            #faq16.collapse
              'Many freelancers do not maintain liability insurance but some may. As Complect grows, we will explore options
              '  to make liability insurance available for all Specialists on our platform. Until then, insurance is at the discretion
              '  and responsibility of the Specialists.


          li.collapsed data-toggle="collapse" data-target="#faq17"
            span How do I offer/accept a contract? Why do I need to have a contract?
            #faq17.collapse
              'These communications and negotiations are entirely at your discretion. Contracts provide a good framework for
              '  clearly articulating both parties’ expectations and can include specific provisions that are important to you or your
              '  Business.
              br
              br
              'Outside of invitations to apply to a project, to prevent spamming and unwanted contact, communication between
              '  Businesses and Specialists are only enabled once a Specialist applies for your project. At that stage, you can
              '  interview, negotiate or clarify any questions for the Specialist regarding your engagement. Contracts can be
              '  emailed and returned at that time or you may wait until you officially hire the Specialist on our platform and
              '  conduct the communications through the Project Dashboard. We recommend that any important documents you
              '  wish to keep a record of that relates to your project should be uploaded in the engagement’s Project Dashboard.
              '  This serves as a handy repository for you and the Specialist to track deliverables, engagement letters, etc.


          li.collapsed data-toggle="collapse" data-target="#faq18"
            span What materials do I have to provide my Specialist with for my project?
            #faq18.collapse
              'This will depend entirely on the type of engagement you have hired them for and what the Specialist
              '  communicates to you that they need to see. Consider asking these questions during the interview process before
              '  you select the Specialist. Otherwise, be sure this is addressed first thing upon the start of the engagement to
              '  ensure a smooth process.


          li.collapsed data-toggle="collapse" data-target="#faq19"
            span Will the Specialist work remotely or onsite?
            #faq19.collapse
              'This is up to you! You will dictate whether the engagement is entirely remote, remote + travel, or entirely onsite
              '  when you post the project. Certain engagements lend themselves to one option versus another. For instance, a
              '  secondment would likely require them to be onsite, drafting a policy for the compliance manual may be
              '  completed remotely, while conducting branch office compliance reviews and training may be a mixture of remote
              '  + travel. You should explain your exact needs in the project description.


          li.collapsed data-toggle="collapse" data-target="#faq20"
            span Who is liable for delivering work – the Specialist or Complect?
            #faq20.collapse
              'Since Complect is merely a platform to connect Businesses with Specialists, liability ultimately rests with the
              '  Specialist that you hire.


          li.collapsed data-toggle="collapse" data-target="#faq21"
            span How do I make sure the Specialist is completing the work?
            #faq21.collapse
              'Communication and setting clear and direct expectations are key to a successful project. One way you may
              '  consider tracking their work is by creating milestones with status updates or deliverables due upon these mini
              '  deadlines to provide you with work product all along the project’s duration. Ultimately, you get to decide and if
              '  you’re unhappy, say something sooner rather than later so that the Specialist knows. If you are still having
              '  issues, then please escalate the situation to us immediately. Your positive user experience is important to us.


          li.collapsed data-toggle="collapse" data-target="#faq22"
            span How do I pay the Specialist?
            #faq22.collapse
              'By securely collecting your payment information, we make billing and payments a breeze for both parties. You set your desired frequency of payments when you post your project and we will automatically draw funds from your account to pay your Specialists in accordance with project value and set payment frequency.
              br
              br
              'If you elect to pay your Specialist hourly, they will be required to submit timesheets to account for their billable hours and you will have one business day after a timesheet is submitted to either confirm or dispute it. If you take no action, the timesheet will be automatically accepted at the end of the business day following submission.

          li.collapsed data-toggle="collapse" data-target="#faq23"
            span How does invoicing work?
            #faq23.collapse
              'You will receive an auto-generated invoice to retain for your financial records of all amounts drawn from your
              '  account. No hassles!


          li.collapsed data-toggle="collapse" data-target="#faq24"
            span Can I extend my project?
            #faq24.collapse
              'We recognize that projects can balloon unexpectedly in size or that deadlines set were too unrealistic. You are
              '  always able to extend the deadline on a project as long as you and your Specialist agree on it. Please note that
              '  when you extend the deadline, you are not paying the Specialist any additional funds, you are just decreasing
              '  the size of the payments made to fit the extended duration they will now cover. If you simply wish to expand the
              '  scope of the project, it is best to complete the current project and re-hire the Specialist through a new project for
              '  the expanded scope.


          li.collapsed data-toggle="collapse" data-target="#faq25"
            span I love my Specialist and want to hire them full-time or re-hire them for another engagement. What do I do?
            #faq25.collapse
              'We like to think our Specialists are pretty great too! If you want to hire your Specialist for a full-time role or
              '  another project then simply finish your current engagement with them, add the new position on our platform and
              '  invite them to apply. Once they’ve applied, click Hire on their Specialist card and you’re all set!
              br
              br
              'Remember, while it may be tempting to go off our platform, this is against our Terms of Use. We have tried to
              '  make a simple, customizable and thoughtful service that makes it worthwhile to remain on our platform. Any
              '  questions - just email us at <a href="mailto:info@complect.com">info@complect.com</a>.


          li.collapsed data-toggle="collapse" data-target="#faq26"
            span How do I delete my account?
            #faq26.collapse
              'Oh no! We hate to see you leave, but we also know how frustrating it is when companies obscure their delete
              '  account functions or make you jump through a million hurdles to get off their platform. We make it easy.
              '  Head to Account Settings &gt; Delete Account. Remember, this function is permanent though so consider changing
              '  your profile visibility instead if you’re just not interested in being publicly located on our site at the moment.


          li.section
            h4.m-t-3 Specialists

          li.collapsed data-toggle="collapse" data-target="#faq27"
            span Does Complect hire its Specialists?
            #faq27.collapse
              'No. We are a freelancing platform that connects Specialists with Businesses. Each engagement is directly
              '  between you and the Business that hires you.


          li.collapsed data-toggle="collapse" data-target="#faq28"
            span I run a consulting firm and I want to find work through Complect. Is that allowed?
            #faq28.collapse
              'Definitely! Whether you want to expand your client base or
              '  you’re tired of chasing clients for payment, we welcome
              '  all compliance specialists to the platform. Sign up is
              '  slightly different as a consulting firm. Whoever will be
              '  acting as the firm’s account administrator should create
              '  the company admin account with Complect. From there, you
              '  will have the ability to send specialized invitations for
              '  your staff to join. This will automatically link the
              '  payments made to your staff as they complete work on our
              '  platform to the bank account associated with your admin
              '  account. You can add and delete specialists within your
              '  firm at any time through the Manage Employees section in
              '  your Account Settings.

          li.collapsed data-toggle="collapse" data-target="#faq29"
            span Will my profile be publicly visible?
            #faq29.collapse
              'Your confidentiality is important to us and one of our founders is a former compliance consultant so we totally
              '  understand the importance of having control over what personal information is shared. That is why we have
              '  created a privacy setting that allows Specialists to choose to be private, meaning Businesses will only see your
              '  profile if you apply for one of their projects or full-time roles and you will not show up when Businesses browse
              '  and search the Specialists on Complect. Even if you elect to be public, your full name, contact information and
              '  location will only be shared with Businesses that hire you.


          li.collapsed data-toggle="collapse" data-target="#faq30"
            span What is the process for being hired for a project?
            #faq30.collapse
              'Specialists may ask clarifying questions to the Business in the Q&amp;A section of the project or full-time role listing.
              '  Where you meet the project or full-time role prerequisites, you may apply by clicking the Apply button. Once you
              '  submit an application, you will become part of the Businesses’ Applicant Pool and they will have the opportunity
              '  to contact you with any questions or to interview you for the position. You will be notified if you are hired for the
              '  project and both parties will then be connected through a Project Dashboard.


          li.collapsed data-toggle="collapse" data-target="#faq31"
            span Is there a limit to the number of projects I can apply to?
            #faq31.collapse
              'We recognize that applying to jobs is like finding love on a dating app - it’s a numbers game! You can apply to as
              '  many projects and full-time roles as you like as long as you meet the Businesses’ prerequisites. We specifically
              '  allow our Specialists to see all available roles though in order to help them see what Businesses are looking for
              '  and work towards professional, self-improvement to land more opportunities.


          li.collapsed data-toggle="collapse" data-target="#faq32"
            span Can I withdraw my application?
            #faq32.collapse
              'Yes! We understand that personal obligations may come up or you are selected for another project or full-time
              '  role that conflicts with other projects or full-time roles you have applied to on Complect. It is a very important part
              '  of time management and client relationship management to withdraw applications from engagements you can no
              '  longer commit to in order for the Business to select an equally qualified candidate that would be available to
              '  complete the work.


          li.collapsed data-toggle="collapse" data-target="#faq33"
            span I’ve been hired for a project. What do I do now?
            #faq33.collapse
              'Congratulations! The first step is always to reach out to the Business through the Project Dashboard. This can be
              '  accessed by clicking View at the bottom of the specific project card in the Active tab of My Projects on your
              '  Dashboard. We suggest organizing a kick-off call early on to iron out their key deliverables, expectations and any
              '  logistics to ensure a smooth and successful project.


          li.collapsed data-toggle="collapse" data-target="#faq34"
            span What legal documents are required to begin working on a project?
            #faq34.collapse
              'When you sign up for an account with Complect, you agree to our Terms of Use, Privacy Policy, and the Stripe
              '  Agreement. Any additional documentation going forward will be determined by you and the Businesses that hire
              '  you. Depending on the engagement and Business needs, this may include a full services agreement, non-
              '  disclosure agreement, and/or even compliance with the Businesses’ internal policies and procedures.


          li.collapsed data-toggle="collapse" data-target="#faq35"
            span How do I get paid?
            #faq35.collapse
              'Getting paid is a breeze! When you’re engaged on a project, you will be paid into the primary bank account of record on the Complect platform. Depending on the billing preferences established by the Business for your specific engagement, you may be paid either (i) half upfront and half upon completion; (ii) on a bi-weekly basis; (iii) on a monthly basis; or (iv) upon project completion.
              br
              br
              'You can add your bank account information when you sign up to Complect by heading over to the Payment Details section of your Account Settings. Follow our two step process which is in place to maximize the security of your information and reduce the risk of fraud on the platform.
              br
              br
              '<u>Step One</u>. Select the country your bank account is located in, the type of account (i.e. whether its an individual account or a business account), and enter the address associated with the account. At this time, you will also be asked to provide personal information that will be used to verify the account. Please note that this information is kept completely confidential and is securely stored with Stripe – our payment processing vendor – not on our servers.
              br
              br
              '<u>Step Two</u>. Add your bank account details. Once a bank account has been added, you will always be required to maintain at least one bank account linked to your profile. If your bank account information changes for any reason, you will not be able to edit the bank details. Instead, simply add the new account and then delete your old bank account information. You may also leave multiple bank accounts active on your profile and simply designate one as the primary account for Stripe to deposit your payments.

          li.collapsed data-toggle="collapse" data-target="#faq36"
            span Do I need to send the Business an invoice for my work?
            #faq36.collapse
              'Don’t sweat it. We take the hassle out of the billing process by automating the entire invoicing and payment process for specialists and businesses. Invoices will automatically be generated by our system each time a payment is drafted from the Businesses’ accounts. These invoices will be housed in the Financials sections of your Dashboard for easy access and review.
              br
              br
              'If you are engaged to complete hourly work, you will be required to submit timesheets to account for your billable hours. You can submit timesheets as frequently as you like and you will have one business day after your project ends to submit any last minute timesheets. If a Business disputes a timesheet for any reason, simply make any edits and resubmit it for approval. Once timesheets get approved, our system aggregates the amount owed to you and automatically processes payment based on the frequency preset by the Business. The invoice that gets generated will list each timesheet that has been included in that payment.

          li.collapsed data-toggle="collapse" data-target="#faq37"
            span What if the Business wants to re-engage me for ongoing work or another one-off project?
            #faq37.collapse
              'Way to go! Landing recurring Business is a great way to stabilize your income as a freelancer. It may be
              '  tempting for Businesses and Specialists to take this recurring work off the Complect platform to “cut out the
              '  middleman” but just remember that our value added role as the middle man is what makes life easier for you and
              '  ensures you are paid promptly for your services instead of chasing down clients for outstanding invoices.
              br
              br
              'If a Business knows they want to re-hire you, together you can decide whether it is more desirable to post a new
              '  project for each recurrence or keep it simple and create a longer term project that expires several months or
              '  years in the future. For example, a firm that decides they want you to conduct all of their quarterly electronic
              '  communications reviews can either post a new project each quarter or they can create one project with a year
              '  long end date. It’s simple, customizable, and any questions on functionality - just email us at <a href="mailto:info@complect.com">info@complect.com</a>.


          li.collapsed data-toggle="collapse" data-target="#faq38"
            span I applied to a project but haven’t heard anything back.
            #faq38.collapse
              'Unfortunately, Businesses may not always remove an open project or full-time role listing from Complect’s site if
              '  it is filled externally. Rest assured that once an opportunity is filled by another Complect Specialist or the start
              '  date has elapsed, the project or full-time role will no longer be listed and you will notice it drop off from the
              '  Pending Projects tab of your Dashboard.


          li.collapsed data-toggle="collapse" data-target="#faq39"
            span I have applied for multiple projects and haven’t been hired – what’s wrong?
            #faq39.collapse
              'Chin up! Much like dating apps, it’s all a numbers game. So, don’t feel defeated. Better your odds! Complect tries
              '  to ensure a great experience for both parties on our platform by only allowing Specialists with the relevant
              '  prerequisites desired by our Businesses to apply for that project or full-time role. Enhance your credentials to
              '  bolster the number of projects you will be eligible to apply for and keep submitting applications. We specifically
              '  allow our Specialists to see all available roles in order to help them see what Businesses are looking for and
              '  work towards professional, self-improvement to land more opportunities.


          li.collapsed data-toggle="collapse" data-target="#faq40"
            span How do I report income earned through Complect to the IRS or my local tax authority?
            #faq40.collapse
              'As a global freelancing platform, we expect our compliance Specialists to come from a multitude of jurisdictions.
              '  Therefore, we do not provide tax support for our Specialists and expect them to make their own determinations
              '  on what the tax obligations are for their local jurisdictions. We do keep track of each transaction completed
              '  through our platform which you can access at any time from your Dashboard.
              br
              br
              'As a U.S. based company we are required by the IRS to provide a 1099-K for each account that meets all of the
              '  following criteria:

              ol.m-t-2
                li.fw-regular The account is based in the United States (owners do not need to be U.S. citizens though); AND
                li.fw-regular Has more than $20,000 USD in total gross receipts; AND
                li.fw-regular Has more than 200 charges.

              br

          li.collapsed data-toggle="collapse" data-target="#faq41"
            span Do I need professional indemnity or public liability insurance?
            #faq41.collapse
              'Great question! Unfortunately, the answer is largely dependent on where you are from and those local
              '  regulations. So, we recommend you do your own research. At Complect we are always looking at ways to make
              '  it easier for our Specialists to freelance on our platform though, so sign up or log in to stay up to date on our
              '  partnership offerings.


          li.collapsed data-toggle="collapse" data-target="#faq42"
            span Do you provide health insurance or any other benefits?
            #faq42.collapse
              'No, but we are currently working to expand our partnership networks to provide our freelance compliance
              '  Specialists with discounted services to help make the road to self-employment easier. Sign up today or log on to
              '  your Dashboard to see our list of partners!


          li.collapsed data-toggle="collapse" data-target="#faq43"
            span How do I delete my account?
            #faq43.collapse
              'Oh no! We hate to see you leave, but we also know how frustrating it is when companies obscure their delete
              '  account functions or make you jump through a million hurdles to get off their platform. We make it easy.
              br
              br
              'Head to Account Settings &gt; Delete Account. Remember, this function is permanent though so consider changing
              '  your profile visibility instead if you’re just not interested in being publicly located on our site at the moment.
