body.project_dashboard.show {
  #header {
    background-image: asset_url("header-project.jpg");
    background-position-y: -100px;

    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }
}

.project-overview {
  .business, .specialist {
    img {
      float: left;
      margin-right: 1rem;
    }

    .name {
      line-height: 60px;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
