.new_document .btn, .new_project_issue .btn{
  height: 36px;
  padding: 6px 14px;
}

.documents-table {
  th {
    font-weight: $regular-weight;
    text-transform: uppercase;
  }

  thead > tr > th {
    border-bottom: none;
  }
}

#project-documents {
  @media (max-width: $screen-xs-max) {
    padding: 0px 20px;
  }
}

#project-details, #project-help {
  label.strong {
    text-transform: uppercase;
    font-weight: $medium-weight !important;
    margin-bottom: 6px;
  }

  textarea.form-control {
    height: 102px;
    border: 2px solid #E3E3E3;
  }
}

.project-overview {
  @media (max-width: $screen-xs-max) {
    padding: 0px 20px;
    .panel-heading {
      display: none;
    }
  }

  .business, .specialist {
    img {
      float: left;
      margin-right: 1rem;
    }

    .name {
      //line-height: 60px;
      //white-space: nowrap;
      overflow: hidden;
      height: 60px;
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: $regular-weight;
    }
  }

  label {
    padding: 0px 10px;
    font-weight: $medium-weight;
  }

  i {
    font-size: 16px;
    font-weight: bold;
    display:inline-block;
    vertical-align: -2px;
  }

  ul {
    padding-left: 30px;
    li {
      font-size: 12px;
    }
  }

  p {
    padding-left: 30px;
    font-size: 12px;
  }
}

.question-and-answer {
  margin-top: 5px;

  .question-text p {
    padding-left: 8px;
    padding-top: 10px;
    padding-right: 30px;
    font-weight: $light-weight;
    font-size: 15px;
    color: #333333;
    padding-bottom: 10px;
  }

  .icon-flag {
    cursor: pointer;
    line-height: 1.1;
    &:hover {
      color: #ffcc00;
    }
  }

  //&:not(:first-child) {
  //  padding-top: 20px;
  //}
}

.question-and-answer {
  .q-or-a {
    font-weight: $medium-weight;
    font-size: 13px;
    color: #333333;
  }

  .answer-text {
    margin-left: 30px;
    padding-left: 15px;
    border-left: 2px solid #ffcc00;
    p {
      padding-left: 8px;
      padding-top: 10px;
      padding-bottom: 20px;
      font-weight: $light-weight;
      font-size: 15px;
      color: #333333;
      padding-right: 30px;
    }
    margin-bottom: 20px;
  }

  .question-or-answer-timestamp {
    width: 100%;
    text-align: right;
  }

  .flag-form {
    display: none;
    text-align: center;
  }
}

body.project_dashboard.show, body.dashboards.show {
  //-webkit-overflow-scrolling : touch !important;
  //overflow: auto !important;
  //height: 100% !important;
  //overflow: hidden;
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;

  h1 {
    font-size: 24px;
    font-weight: $regular-weight;
    text-transform: uppercase;
  }

  #footer {
    display: none;
  }

  .hidden-upload {
    overflow: hidden;
    width: 1px;
    height: 1px;
  }

  .upload-button {
    border-color: transparent;
    position: absolute;
    left: 0px;
    padding: 6.5px 10px;

    &:hover, &:focus, &:active {
      border-color: transparent !important;
    }
  }

  .message-form .col-xs-12 {
    padding-left: 45px;
  }

  .send_on_enter {
    line-height: 38px;
  }

  .panel-padded .panel-body {
    padding-bottom: 10px;
  }

  #new_message .col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;    
  }

  @media (max-width: $screen-xs-max) {
    .unrelative {
      position: static;
    }
    //.col-xs-12, .col-xs-8, .col-xs-4 {
    div[class*="col-"] {
      padding-left: 0px;
      padding-right: 0px;
    }

    .panel-padded {
      box-shadow: none;

      .panel-heading {
        position: fixed;
        top: 80px;
        right: 10px;
        background-color: transparent;
        z-index: 500;

        .dropdown-toggle {
          border-radius: 50%;
          background-color: #fff;
          padding: 10px 13px;
          box-shadow: rgba(0, 0, 0, 0.301961) 0px 2px 3px 1px;

          .icon-magic-wand {
            font-size: 18px;
          }
        }
      }

      .panel-body {
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;
        //padding-bottom: 0px;

        .messages {
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 35px;
        }

        .message_message {
          margin-bottom: 0px;
          padding-right: 20px;
        }

        #new_message {
          position: fixed;
          overflow: hidden;
          bottom: 0px;
          width: 100%;
          border-top: 2px solid #e4e4e4;
          background-color: #fff;

          .btn {
            //padding-top: 0px;
            //padding-bottom: 0px;
            height: 50px;
          }

          .btn-default {
            border: 0px;
          }

          .btn-primary {
            padding-left: 0px;
            padding-right: 0px;
          }
        }

        .message-form {
          .col-sm-4 {
            padding-right: 15px;
          }
        }
      }      
    } 
  }
}