body.projects.index {
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;

  .input-lg {
    border: 2px solid #ffcc00;
    border-radius: 0px;
    height: 32px;
    line-height: 28px;
    padding: 0px 10px;
    text-transform: uppercase;
    color: #333;

    .caret {
      margin-top: 14px;
    }

    .btn {
      padding-top: 0px;
      padding-bottom: 0px;
      height: 32px;
      line-height: 28px;
      font-size: 12px;
    }

    .btn-group {
      .btn {
        padding-left: 10px;
      }
    }

    .form-group {
      margin-bottom: 10px;
    }
  }

  #project_search_regulator {
    right: 9px;
  }

  .search-results {
    padding-bottom: 7px;
    .card-container {
      padding-bottom: 27px;
    }
  }
}