p Hi #{@specialist.first_name},

p
  'Your application for #{link_to @project, project_url(@project)} on Complect has been withdrawn.
  '  Visit our website to find other projects and full time roles.
