#project-message-thread.message-thread
  .messages.m-b-3 data-page="1" data-url=business_project_messages_path(@project)
    = render partial: 'messages/message', collection: @messages.map(&method(:decorate)).reverse, locals: { me: current_business }

  = render 'form', message: me.sent_messages.new
