<html>
<head>
  <style>
    .footer {
      color: #ffffff;
      background-color: #2f2f2f;
      padding: 22px 30px;
      overflow: auto;
      width: 100%;
      position: relative;
      right: 10px;
      margin-bottom: 0;
      page-break-inside: avoid;
      top: 24px;
      font-family: Raleway, arial, sans-serif;
      font-size: 12px;
    }

    .footer .left-side-link {
        float: left;
        clear: both;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
    }

    .footer .inner-link {
        margin-top: 10px;
    }
  </style>
</head>
<body>
<div class="footer">
  <a class="left-side-link" href="tel:13476189656">
    <img height="16" src="https://complect.s3.amazonaws.com/email-template/icon-phone.png" style="margin-right: 5px; vertical-align: middle; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; border: none;" width="16" />
    +1 347.618.9656
  </a>
  <a class="left-side-link inner-link" href="mailto:info@complect.co">
    <img height="16" src="https://complect.s3.amazonaws.com/email-template/icon-email.png" style="margin-right: 5px; vertical-align: middle; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; border: none;" width="16" />
    info@complect.co
  </a>
  <a class="left-side-link inner-link" href="http://www.complect.co">
    <img height="16" src="https://complect.s3.amazonaws.com/email-template/icon-website.png" style="margin-right: 5px; vertical-align: middle; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; border: none;" width="16" />
    www.complect.co
  </a>
</div>
</body>
</html>
