html, body{
  height: 100%;
}

.landing-cards {
  div {
    text-align: center;
    min-height: 465px;
    padding: 0px 79px;
    h1 {
      font-size: 19px;
      font-family: 'Muller';
      font-weight: $black-weight;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      display: block;
      height: 50px;
      margin-bottom: 30px;
    }
    img {
      width: 80px;
      height: 80px;
      margin-top: 70px;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      font-family: 'Avenir Light';
      font-size: 16px;
      letter-spacing: 0em;
    }
  }
  .card_1 {
    background-color: #000000;
    color: #ffffff;
  }
  .card_2 {
    background-color: #333333;
    color: #ffffff;
    h1 {
      color: #FFC300;
    }
  }
  .card_3 {
    background-color: #EDEDED;
    color: #000000;
    h1 {
      color: #FFC300;
    }
  }
  .card_4 {
    background-color: #FFC300;
    color: #000000;
    h1 {
      color: #ffffff;
    }
  }
}

.landing-stats {
  h1 {
    font-family: 'Nimbus Sans';
    font-weight: $bold-weight;
    color: #FFC300;
    font-size: 16px;
    text-align: center;
  }
  h2 {
    font-family: 'Muller';
    font-weight: $black-weight;
    font-size: 64px;
    color: #FFC300;
    text-align: center;
    letter-spacing: 0.2em;
  }
  p {
    text-transform: uppercase;
    color: #FFC300;
    font-family: 'Nimbus Sans Cond';
    font-weight: $regular-weight;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.1em;
  }
}

#infographics {
  background-position: center;
  background-repeat: no-repeat;
  .circle {
    border-radius: 50%;
    background-color: rgba(#ffffff, 0.7);
    position: relative;
    float: left;
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    margin: 150px 5%;
    text-align: center;
    @media (max-width: $screen-sm-max) {
      margin: 40px 15%;
      width: 20%;
      padding-bottom: 20%;
    }
    @media (max-width: $screen-xs-max) {
      width: 150px;
      padding-bottom: 150px;
      margin: 20px auto;
      float: initial;
    }
    h1 {
      font-weight: $heavy-weight;
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0%);
      font-size: 44px;
      margin-top: 30px;
    }
    p {
      font-weight: $medium-weight;
      padding-top: 50%;
      font-size: 10px;     
    }
  }
}

.relative-wrap {
  position: relative;
}

#talent-across {
  padding: 40px 0px;
  background-image: asset_url('landing/how-it-works-bg.png');
  table {
    width: 100%;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    td {
      text-align: center;
      vertical-align: middle;
      border-left: 2px solid #ffcc00;
      font-size: 16px;
      font-weight: $black-weight;
      text-transform: uppercase;
    }

    td:first-child {
      border-left: none;
      width: 17%;
    }

    td:last-child {
      width: 24%;
    }
  }

  ul {
    @media (min-width: $screen-xs-max) {
      display: none;
    }
    list-style-type: none;

    li {
      border-left: 2px solid #ffcc00;
      font-size: 16px;
      font-weight: $black-weight;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding: 10px 20px;
    }
  }

  #talent-text {
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: $light-weight;
    display: inline-block;
    margin-top: 30px;
    margin-right: 80px;
    line-height: 30px;
    @media (max-width: $screen-md-max) {
      margin-right: 40px;
    }
    @media (max-width: $screen-xs-max) {
      margin-right: 0px;
      text-align: left;
    }
  }
}

.overflow-wrap {
  overflow: hidden;
  clear: both;
}

#talent-across-header {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,0%);
  img {
    width: 100%;
  }
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

#clint-story {
  padding-bottom: 50px;
  position: relative;
  div {
    text-align: center
  }
  .pull-right {
    p {
      font-family: 'Nimbus Sans';
      font-weight: $bold-weight;
      color: #000000;
      letter-spacing: 0.1em;
      margin-top: 290px;
    }
    .btn {
      padding: 15px 40px;
      margin-top: 30px;
      font-weight: 600;
    }
  }
  .arrow-down {
    transform: rotate(270deg) scale(0.2);
  }
  .pull-left {
    .quotes {
      img {
        width: 32px;
        margin-left: 300px;
      }
    }
    h1 {
      font-family: 'Nimbus Sans';
      font-size: 24px;
      color: #FECC2A;
      font-weight: $bold-weight;
      padding-top: 20px;
    }
    h2 {
      margin-top: 0px;
      font-family: 'Nimbus Sans';
      font-weight: $bold-weight;
      font-size: 16px;
      color: #FECC2A;
      letter-spacing: 0em;
    }
  }
  .clint_photo img {
    border-radius: 50%;
  }
  #services-heading {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 275px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    span {
      font-size: 50px;
      font-weight: $bold-weight;
      line-height: 40px;
      letter-spacing: 0.1em;
    }
  }

  #services-img {
    position: absolute;
    padding-top: 5px;
    img {
      height: 290px;
    }
    @media (max-width: $screen-xs-min) {
      //display: none;
      width: 50px;
      overflow-x: hidden;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 100px;
    @media (max-width: $screen-xs-min) {
      padding-left: 50px;
    }
    li {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 50px;
    }
  }
}

#how-it-works-cont {
  padding-top: 10px;

  h2 {
    font-family: 'Nimbus Sans';
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  @media (max-width: $screen-md-min) {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .hiw-entry {
    border-left: 3px solid #000000;
    padding: 0px 12px 8px;
    //margin: 0px 80px;
    margin-bottom: 30px;

    @media (max-width: $screen-md-min) {
      margin: 0px 40px;
      margin-bottom: 80px;
    }

    @media (max-width: $screen-xs-min) {
      margin: 0px;
      margin-bottom: 80px;
    }

    h1 {
      font-size: 14px;
      font-weight: $bold-weight;
      font-family: 'Nimbus Sans';
      margin-top: 0px;
      position: relative;
      color: #000000;
    }

    p {
      font-size: 15px;
      margin-bottom: 0px;
      color: #000000;
      line-height: 18px;
      font-family: 'Avenir Light';
      font-weight: $regular-weight;
      padding-right: 100px;
    }

    .hiw-num {
      font-weight: $bold-weight;
      font-size: 176px;
      color: #000000;
      position: absolute;
      left: -230px;
      top: -60px;
      border: none !important;
      @media (max-width: $screen-md-min) {
        left: -150px;
        top: -150px;
        font-size: 300px;
      }
    }
  }

  .hiw-entry-first {
    margin-left: 120px;
  }

  .hiw-entry-middle {
    border-left: 0px;
    border-right: 3px solid #000000;
    width: 390px;
    margin-right: 130px;
    h1 {
      text-align: right;
    }
    p {
      text-align: right;
      padding-right: 0px;
    }
    .hiw-num {
      left: 400px;
    }
  }

  .hiw-entry-last {
    text-align: left;
    border-left: 3px solid #000000;
    width: 490px;
    margin-left: 252px;
    margin-top: 40px;
  }

  div:first-child {
    border-left: none;
    //border-right: 2px solid #000000;
    .hiw-num {
      top: -200px;
      right: -150px;
      @media (max-width: $screen-md-min) {
        top: -130px;
        right: -100px;
      }
    }
    text-align: right;
  }

  div:last-child {
    //border-left: none;
    //border-right: 2px solid #000000;
    .hiw-num {
      left: -65px;
      top: -200px;
      @media (max-width: $screen-md-min) {
        top: -130px;
        right: -100px;
      }
    }
    //text-align: right;
  }
}
