#header {
  padding-top: 0;
  height: 550px;
  position: relative;
  background-position: center;
  justify-content: center;
  margin-bottom: 0px;

  #how-it-works-header {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0%);
    img {
      width: 100%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .callout {
    text-align: center;
    color: #333;
    position: relative;
    display: inline-block;
    top: 370px;
    left: 50%;
    transform: translate(-50%,-50%);

    @media (max-width: $screen-xs-max) {
      padding-top: 50px;
    }

    h1 {
      text-transform: uppercase;
      color: #fff;
      margin: 0;

      span {
        display: block;
      }
    }

    .buttons {
      :first-child{
        @media (min-width: $screen-xs-max) {
          margin-right: 70px;
        }
      }

      .btn {
        cursor: pointer;
        width: 230px;
        padding: 15px 0px;
        margin-top: 30px;
        font-weight: $bold-weight;
      }

      .btn-primary:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
      }

      .btn-default:hover {
        color: #fff;
        border-color: #ffcc00;
        background: transparent;
      }
    }

    blockquote {
      text-transform: uppercase;
      font-size: 19px;
      font-weight: $bold-weight;
      font-family: "Nimbus Sans";
      color: #000000;
      width: 520px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-left: none;
      margin-bottom: 0px;
      -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
      filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
    }

    @media (max-width: $screen-xs-max) {
      h1 {
        font-size: 25px;
        letter-spacing: 0.2em;

        span {
          font-size: 40px;
          letter-spacing: 0.1em;
        }
      }
      blockquote {
        display: none;
        width: auto;
      }
    }

    @media (min-width: $screen-sm-min) {
      h1 {
        font-size: 32px;
        letter-spacing: 0.11em;
        margin-bottom: 15px;
        font-weight: 600;

        span {
          font-size: 66px;
          letter-spacing: 0.08em;
        }
      }
    }

  }
}
