p Thank you for verifying your identity. Your verification code is:

center
  strong #{@otp_code}

p Your account security is our top priority. If you did not request this code, please ignore this email.
