label.strong Urgent Issues

p If you have an urgent problem you can escalate it and someone from the Complect team will be right with you to ensure your problem gets resolved.

= render 'projects/issues/form', issue: issue
