.alert-default {
  border-color: #898989;
  background-color: #e0e0e0;
}

.alert-info {
  position: relative;
  &:after {
    content: "A";
    font-family: "maxicons";
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
  a {
    color: #0dafff;
  }
}