.alert-default {
  border-color: #898989;
  background-color: #e0e0e0;
}

.alert.loading {
  &:before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: asset_url("load-dark-16.gif") no-repeat center;
    opacity: 0.5;
    margin-right: 5px;
  }
}
