.annual_review_table {
  //margin-left: -8px;
  width: 100%;
  margin-bottom: 20px;
  td {
    border: 2px solid #ffcc00;
    width: 30%;
    padding: 0px;
    text-align: center;
    padding: 5px 4px;
    //padding: 5px 10px;
    b {
      padding: 0px;
      margin: 0px;
    }
  }
  .heading td {
    background-color: #ffcc00;
    color: #fff;
  }
  .tblbtn {
    font-weight: bold;
  }
}

.upcoming_task {
  width: 100%;
  border: 2px solid #ffcc00;
  padding: 5px 10px;
  display: block;
  margin-bottom: 5px !important;
}

.add-compliance-policy {
  width: 100%;
  border: 2px solid #ffcc00 !important;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  padding: 5px 0px !important; 

  span {
    color: #000;
    padding-left: 15px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:before {
    content: "\e095";
    font-family: "simple-line-icons";
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #000 !important;
    margin-left: 8px;
    font-weight: 600;
  }
}

.policy_list_item {
  padding: 3px 10px;
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.policies_internal_table {
  td {
    border: 2px solid #ffcc00;
    padding: 6px 10px;
  }
}