.annual_review_table {
  //margin-left: -8px;
  width: 100%;
  margin-bottom: 20px;
  td {
    border: 2px solid #ffcc00;
    width: 30%;
    padding: 0px;
    text-align: center;
    padding: 5px 4px;
    //padding: 5px 10px;
    b {
      padding: 0px;
      margin: 0px;
    }
  }
  .heading td {
    background-color: #ffcc00;
    color: #fff;
  }
  .tblbtn {
    font-weight: bold;
  }
}

.upcoming_task {
  //width: 100%;
  //border: 2px solid #ffcc00;
  padding: 5px 0px;
  //display: inline-block;
  margin-bottom: 5px !important;
  line-height: 20px;
}

.calendar_hr {
  margin: 0px auto 22px auto;
  width: 62%;
}

.padded-checkboxes {
  padding-left: 9px;
  a.icon-close {
    color: #000;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  input[type=checkbox] {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
  }

  input[type=checkbox] + label {
    padding-left:22px;
    //height:18px; 
    display:inline-block;
    line-height:13px;
    background-repeat:no-repeat;
    background-position: 0 -52px;
    background-size: 22px 70px;
    vertical-align:middle;
    cursor:pointer;
  }

  input[type=checkbox]:checked + label {
    background-position: 0 0;
  }

  label {
    background-image:asset_url("checkbox.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
  }
}

.add-compliance-policy {
  width: 100%;
  border: 2px solid #ffcc00 !important;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  padding: 5px 0px !important; 

  span {
    color: #000;
    padding-left: 15px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:before {
    content: "\e095";
    font-family: "simple-line-icons";
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #000 !important;
    margin-left: 8px;
    font-weight: 600;
  }
}

.policy_list_item {
  padding: 3px 10px;
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.policies_internal_table {
  td {
    border: 2px solid #ffcc00;
    padding: 6px 10px;
  }
}