.audit_prep_request {
  .circled {
    background-color: #ffcc00;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    padding-top: 5px;
    color: #fff;
    text-align: center;
    display: block;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.48);
    margin-right: 15px;
    position: absolute;
    margin-left: -40px;
    margin-top: -5px;
  }
  .inactive {
    background-color: #888;
  }
  .audit_request_body {
    padding-left: 60px;
    input[type="file"] {
      display: inline-block;
    }
  }
}