.btn {
  //text-transform: uppercase;
  //font-weight: ;
  font-size: 14px;
  padding: 10px 20px;
  font-family: "Open Sans";
  font-weight: bold;
}

.btn-sm {
  padding: 4px 0px;
  font-weight: bold;
  font-size: 12px;
}

.btn .icon ~ span, .btn .fa ~ span {
  margin-left: 0.4rem;
}

.btn.btn-md .icon ~ span, .btn.btn-md .fa ~ span {
  margin-left: 0.6rem;
}

.btn .icon, .btn .fa, .btn span {
  vertical-align: middle;
}

.btn span .fa {
  vertical-align: initial; // Reset for .fa so it aligns properly
}

.btn-social-linkedin {
  $bg: #ffcc00;
  background-color: $bg;
  border-color: $bg;

  &:hover, &:focus {
    background-color: lighten($bg, 10%) !important;
    border-color: lighten($bg, 10%) !important;
  }

  .fa {
    margin-top: -2px; // Small tweak
    color: #fff;
  }
}

.btn-primary {
  @include button-variant-light($btn-primary-bg);
  //text-transform: uppercase;
  border-radius: 27px;
  font-weight: 400;

  &:focus {
    background-color: #ffcc00 !important;
    border-color: #ffcc00 !important;
  }

  &:hover, &:active {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #000 !important;
  }
}

.btn-default {
  border-radius: 27px;
  font-weight: 400;
  //text-transform: uppercase;
  &:hover, &:focus, &:active {
    border-color: #000000 !important;
  }
}

.btn-black {
  background-color: #000;
  border-color: #000;
  color: #fff;
  &:hover, &:focus, &:active {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #000 !important;
  }
}

.btn-danger {
  text-transform: uppercase;
  border-color: #c9240e;
  &:hover, &:focus, &:active {
    border-color: #000;
    color: #fff;
    background-color: #000;
  }
}

.btn-success {
  text-transform: uppercase;
  border-color: #9dbb00;
  &:hover, &:focus, &:active {
    border-color: #000;
    color: #fff;
    background-color: #000;
  }
}

.btn-muted {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  color: #000;

  &:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
    color: #000;
  }
}

.btn-link {
  color: #000;

  &:hover {
    color: #000;
    opacity: 0.6;
    text-decoration: none;
  }
}

.btn-xl {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  font-weight: 700;
}

.btn-lg {
  padding-top: $padding-lg-vertical; // Make it match the inputs
  padding-bottom: $padding-lg-vertical;
}

.btn-md {
  @include button-size($padding-md-vertical, $padding-md-horizontal, $font-size-base, $line-height-md, $btn-border-radius-md);
  font-weight: 400;
  border-radius: 27px;
}

.btn-text {
  cursor: default;
}

.btn-plain {
  border: 0;
  padding: 0;
  background: transparent;
}

.btn-align-md {
  line-height: ($padding-md-vertical * 2) + ($font-size-base * $line-height-md);
}

.btn-align-lg {
  line-height: ($padding-lg-vertical * 2) + ($font-size-base * $line-height-lg);
}

.btn-align-md-bottom {
  margin-bottom: 50px;
  font-weight: $medium-weight;
  a {
    text-decoration: underline;
  }
}

.doc-send {
  float: right;
}

@media (max-width: $screen-xs-max) {
  .btn-md {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.qna_navbar {
  position: relative;
  color: #ffcc00 !important;
  margin: 0px;
  font-family: "Open Sans";
  font-weight: $bold-weight !important;
  letter-spacing: 1px;
  -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));

  &:hover, &:focus, &:active {
    color: #000 !important;
    border-color: #000 !important;
    outline: none;
  }

  @media (max-width: $grid-float-breakpoint) {
    border: none;
    padding: 0px;
  }
}
