.btn {
  //text-transform: uppercase;
  //font-weight: ;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.btn-sm {
  padding: 4px 0px;
  font-weight: $medium-weight;
  font-size: 12px;
}

.btn .icon ~ span, .btn .fa ~ span {
  margin-left: 0.4rem;
}

.btn.btn-md .icon ~ span, .btn.btn-md .fa ~ span {
  margin-left: 0.6rem;
}

.btn .icon, .btn .fa, .btn span {
  vertical-align: middle;
}

.btn span .fa {
  vertical-align: initial; // Reset for .fa so it aligns properly
}

.btn-social-linkedin {
  $bg: #ffcc00;
  background-color: $bg;
  border-color: $bg;

  &:hover, &:focus {
    background-color: lighten($bg, 10%) !important;
    border-color: lighten($bg, 10%) !important;
  }

  .fa {
    margin-top: -2px; // Small tweak
    color: #fff;
  }
}

.btn-primary {
  @include button-variant-light($btn-primary-bg);
  text-transform: uppercase;

  &:hover {
    background-color: #000;
    color: #fff !important;
    border-color: #000;
  }
}

.btn-default {
  text-transform: uppercase;
  &:hover {
    border-color: #000000;
  }
}

.btn-muted {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  color: #000;

  &:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
    color: #000;
  }
}

.btn-link {
  color: #000;

  &:hover {
    color: #000;
    opacity: 0.6;
    text-decoration: none;
  }
}

.btn-xl {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  font-weight: 700;
}

.btn-lg {
  padding-top: $padding-lg-vertical; // Make it match the inputs
  padding-bottom: $padding-lg-vertical;
}

.btn-md {
  @include button-size($padding-md-vertical, $padding-md-horizontal, $font-size-base, $line-height-md, $btn-border-radius-md);
  font-weight: $medium-weight;
}

.btn-text {
  cursor: default;
}

.btn-plain {
  border: 0;
  padding: 0;
  background: transparent;
}

.btn-align-md {
  line-height: ($padding-md-vertical * 2) + ($font-size-base * $line-height-md);
}

.btn-align-lg {
  line-height: ($padding-lg-vertical * 2) + ($font-size-base * $line-height-lg);
}

.btn-align-md-bottom {
  margin-bottom: 50px;
  font-weight: $medium-weight;
  a {
    text-decoration: underline;
  }
}

.doc-send {
  float: right;
}
