.btn {
  text-transform: uppercase;
}

.btn .icon + span, .btn .fa + span {
  margin-left: 0.4rem;
}


.btn .icon, .btn .fa, .btn span {
  vertical-align: middle;
}

.btn span .fa {
  vertical-align: initial; // Reset for .fa so it aligns properly
}

.btn-social-linkedin {
  $bg: #4f72b8;
  background-color: $bg;
  border-color: $bg;

  &:hover, &:focus {
    background-color: lighten($bg, 10%) !important;
    border-color: lighten($bg, 10%) !important;
  }

  .fa {
    margin-top: -2px; // Small tweak
    color: #fff;
  }
}

.btn-primary {
  @include button-variant-light($btn-primary-bg);
}

.btn-muted {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  color: #000;

  &:hover {
    background-color: darken(#f3f3f3, 5%);
  }
}

.btn-link {
  color: #000;

  &:hover {
    color: #000;
    opacity: 0.6;
    text-decoration: none;
  }
}

.btn-lg {
  padding-top: 14px; // Make it match the inputs
  padding-bottom: 14px;
}

.btn-md {
  @include button-size($padding-md-vertical, $padding-md-horizontal, $font-size-base, $line-height-md, $btn-border-radius-md);
}

.btn-text {
  cursor: default;
}

.btn-plain {
  border: 0;
  padding: 0;
  background: transparent;
}
