.btn .icon + span, .btn .fa + span {
  margin-left: 0.7rem;
}


.btn .icon, .btn .fa, .btn span {
  vertical-align: middle;
}

.btn-social-linkedin {
  $bg: #4875B4;
  background-color: $bg;
  border-color: $bg;
  color: #fff;

  &:hover, &:focus {
    background-color: darken($bg, 10%) !important;
    border-color: darken($bg, 10%) !important;
    color: #fff;
  }

  .fa {
    margin-top: -2px; // Small tweak
  }
}

.btn-primary {
  @include button-variant-light($btn-primary-bg);
}
