.project.card .panel-heading {
  justify-content: center;
}

.panel.card {
  box-shadow: none !important;
  margin-bottom: 10px !important;

  .panel-heading {
    height: 70px;
    padding: 0px 15px !important;
    display: flex !important;
    align-items: center;

    h4 {
      margin-left: auto;
      margin-right: auto;
      font-family: Muller;
      font-size: 14px;
      font-weight: lighter;
      max-height: 2.5em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .panel-footer .btn {
    height: 31px;
    line-height: 26px;
    padding: 0;

    &:hover, &:focus, &:active {
      span {
        color: #000000 !important;      
      }
      background-color: #ffcc00 !important;
      border-color: #ffcc00 !important;
    }
  }

  .panel-body {
    h3 {
      font-family: Muller;
      font-size: 24px;
    }

    padding: 14px 18px;

    .list-icon {
      .item {
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}