.panel.card {
  .panel-heading {
    height: 88px;

    h4 {
      font-family: Muller;
      font-size: 18px;
      font-weight: lighter;
    }
  }

  .panel-footer .btn {
    height: 31px;
    line-height: 31px;
    padding: 0;
  }
}

.panel-body {
  h3 {
    font-family: Muller;
    font-size: 24px;
  }
}
