.fake_checkbox {
  background-image:asset_url("checkbox_y.png");
  background-repeat:no-repeat;
  background-position: 0 -82px;
  background-size: 22px 100px;
  width: 22px;
  position: absolute;
  margin-left: -25px;
}

.fake_checkbox.checked {
  background-position: 0 0;
}