button.favorite {
  .unfavorite {
    display: none;
  }

  &.active {
    .icon {
      color: darken($brand-primary, 15%);
    }

    .favorite {
      display: none;
    }

    .unfavorite {
      display: inline;
      color: #FFCC01;
    }
  }

  &:hover {
    color: #FFCC01;
  }
}
