::-webkit-input-placeholder { text-transform: uppercase; }
:-moz-placeholder { text-transform: uppercase; }
::-moz-placeholder { text-transform: uppercase; }
:-ms-input-placeholder { text-transform: uppercase; }

.tt-n::-webkit-input-placeholder { text-transform: none; }
.tt-n:-moz-placeholder { text-transform: none; }
.tt-n::-moz-placeholder { text-transform: none; }
.tt-n:-ms-input-placeholder { text-transform: none; }

.custom-file-field {
  cursor: pointer;

  input {
    position: fixed;
    top: -1000px;
  }

  .selected {
    display: block;
  }
}

.panel-body label {
  color: rgba(0, 0, 0, 0.8);
  font-weight: $roboto-regular;
}

.js-datepicker {
  background-color: #fff !important;
}

.form-group {
  position: relative;
}

form .well {
  h3 {
    font-weight: $raleway-bold;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #979797;

    .icon {
      margin-right: 10px;
    }
  }

  hr, .hr {
    border-color: #979797;
  }
}

.form-group.radio_pills .btn-group {
  .btn {
    background-color: #f3f3f3;

    .panel-body &, .well & {
      background-color: #fff;
    }
  }

  .btn.active {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    @include button-variant-light($btn-primary-bg);
  }

  .btn.active:active, .btn.active.active {
    background-color: $btn-primary-bg;
    border-color: transparent;
  }
}

select.js-select.input-lg {
  height: $input-height-large !important;
}

.form-group[data-remaining-chars] {
  &:after {
    content: attr(data-remaining-chars);
    position: absolute;
    right: 15px;
    top: 10px;
    color: $text-muted;
  }
}

.has-error .dropdown-menu label {
  color: inherit;
}

.help-block {
  font-size: 11px;
}
