::-webkit-input-placeholder { color: $gray-light; }
:-moz-placeholder { text-transform: uppercase; color: $gray-light; }
::-moz-placeholder { text-transform: uppercase; color: $gray-light; }
:-ms-input-placeholder { text-transform: uppercase; color: $gray-light; }

.tt-n::-webkit-input-placeholder { text-transform: none; color: $gray-light; }
.tt-n:-moz-placeholder { text-transform: none; color: $gray-light; }
.tt-n::-moz-placeholder { text-transform: none; color: $gray-light; }
.tt-n:-ms-input-placeholder { text-transform: none; color: $gray-light; }

.form-control {
  box-shadow: none;

  &.readonly {
    border-color: lighten($gray-light, 30%);
  }
}

.input-gray {
  background-color: $gray-lighter;
}

.panel .form-control {
  background-color: #fff;
}

form .reset {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  color: $gray-light;
}

.custom-file-field {
  cursor: pointer;

  input {
    position: fixed;
    top: -1000px;
  }

  .add-button {
    $size: 110px;
    background: #fff;
    border-radius: $size / 2;
    width: $size;
    height: $size;
    line-height: $size;
    margin: 0 auto $padding-base-vertical;
    border-radius: 50%;
    border: 1px solid #999999;
    color: #999999;
    position: relative
  }

  .add-button:before, .add-button:after {
    content: "";
    position: absolute;
    background: #999999;
    left: 0%;
  }

  .add-button:before {
    left: 50%;
    width: 2px;
    margin-left: -2%;
    height: 25%;
    top: 40%;
  }

  .add-button:after {
    top: 76%;
    height: 2px;
    margin-top: -25%;
    width: 25%;
    left: 36%;
  }

  .selected {
    margin: 0 auto;
    display: block;
  }
}

.panel-body label {
  color: rgba(0, 0, 0, 0.8);
}

.js-datepicker {
  background-color: #fff !important;
}

.form-group {
  position: relative;

  &.with-tooltip .form-control {
    padding-right: 40px;
  }

  .info-tooltip {
    position: absolute;
    right: 10px;
  }

  .info-tooltip-lg {
    top: 15px;
  }
}

form .well {
  h3 {
    font-family: Muller;
    font-weight: $medium-weight;
    font-size: 16px;
    padding-bottom: 6px;
    margin-top: 0px;
    padding-left: 10px;
    letter-spacing: 2px;
    .icon {
      margin-right: 10px;
    }
  }

  hr, .hr {
    border-color: #979797;
  }

  .form-control[disabled] {
    border: 1px solid $gray-dark;
  }
}

.form-group.radio_pills {
  .btn-group {
    .btn {
      text-transform: uppercase;
      font-weight: $medium-weight;
      font-size: 14px;
      letter-spacing: 2px;
      background-color: #f3f3f3;
      border-radius: 0px;
      padding-top: 8px;
      padding-bottom: 8px;

      .panel-body &, .well & {
        background-color: #fff;
      }
    }

    .btn.active {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      @include button-variant-light($btn-primary-bg);
    }

    .btn.active:active, .btn.active.active {
      background-color: $btn-primary-bg;
      border-color: transparent;
    }
  }  
}


select.js-select.input-lg {
  height: $input-height-large !important;
}

.form-group[data-remaining-chars] {
  &:after {
    content: attr(data-remaining-chars);
    position: absolute;
    right: 15px;
    top: 10px;
    color: $text-muted;
  }
}

.has-error .dropdown-menu label {
  color: inherit;
}

.help-block {
  font-size: 12px;
  margin-top: $form-group-margin-bottom;
  font-weight: $light-weight;
  letter-spacing: 1px;
  color: $gray-light;

  .form-group.tight & {
    margin-top: 5px;
  }
}

.checkbox-lg {
  //margin: 0px;
  margin: calc(#{$input-height-large / 3} - 0.5em) 0;
  input[type="checkbox"] {
    outline: 2px solid #e4e4e4;
    border: none;
    opacity: 1;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    outline-offset: 6px;
    margin: 9px 0px 0px -12px;
  }
  label{
    font-weight: $medium-weight;
    letter-spacing: 1px;
    font-size: 12px;
  }
}

.checkbox-right {
  padding-left: 0;

  label {
    padding-left: 0;

    &:before {
      left: auto;
      right: 0;
    }

    &:after {
      right: 1px;
      left: auto;
    }
  }
}

// We place this button first in the source so it becomes the default on <enter>, and then move it off screen
.default-submit-offscreen {
  position: absolute;
  left: -100%;
}