::-webkit-input-placeholder { text-transform: uppercase; color: $gray-light; }
:-moz-placeholder { text-transform: uppercase; color: $gray-light; }
::-moz-placeholder { text-transform: uppercase; color: $gray-light; }
:-ms-input-placeholder { text-transform: uppercase; color: $gray-light; }

.tt-n::-webkit-input-placeholder { text-transform: none; color: $gray-light; }
.tt-n:-moz-placeholder { text-transform: none; color: $gray-light; }
.tt-n::-moz-placeholder { text-transform: none; color: $gray-light; }
.tt-n:-ms-input-placeholder { text-transform: none; color: $gray-light; }

.form-control {
  box-shadow: none;

  &.readonly {
    border-color: lighten($gray-light, 30%);
  }
}

.input-gray {
  background-color: $gray-lighter;
}

.panel .form-control {
  background-color: #fff;
}

form .reset {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  color: $gray-light;
}

.custom-file-field {
  cursor: pointer;

  input {
    position: fixed;
    top: -1000px;
  }

  .add-button {
    $size: 134px;
    font-weight: $roboto-light;
    font-size: 82px;
    background: #fff;
    border-radius: $size / 2;
    width: $size;
    height: $size;
    line-height: $size;
    margin: 0 auto $padding-base-vertical;
  }

  .selected {
    margin: 0 auto;
    display: block;
  }
}

.panel-body label {
  color: rgba(0, 0, 0, 0.8);
  font-weight: $roboto-regular;
}

.js-datepicker {
  background-color: #fff !important;
}

.form-group {
  position: relative;

  &.with-tooltip .form-control {
    padding-right: 40px;
  }

  .info-tooltip {
    position: absolute;
    right: 10px;
  }

  .info-tooltip-lg {
    top: 15px;
  }
}

form .well {
  h3 {
    font-family: Raleway;
    font-weight: $raleway-bold;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #979797;

    .icon {
      margin-right: 10px;
    }
  }

  hr, .hr {
    border-color: #979797;
  }

  .form-control[disabled] {
    border: 1px solid $gray-dark;
  }
}

.form-group.radio_pills .btn-group {
  .btn {
    background-color: #f3f3f3;

    .panel-body &, .well & {
      background-color: #fff;
    }
  }

  .btn.active {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    @include button-variant-light($btn-primary-bg);
  }

  .btn.active:active, .btn.active.active {
    background-color: $btn-primary-bg;
    border-color: transparent;
  }
}

select.js-select.input-lg {
  height: $input-height-large !important;
}

.form-group[data-remaining-chars] {
  &:after {
    content: attr(data-remaining-chars);
    position: absolute;
    right: 15px;
    top: 10px;
    color: $text-muted;
  }
}

.has-error .dropdown-menu label {
  color: inherit;
}

.help-block {
  font-size: 11px;
  margin-top: $form-group-margin-bottom;

  .form-group.tight & {
    margin-top: 5px;
  }
}

.checkbox-lg {
  margin: calc(#{$input-height-large / 2} - 0.5em) 0;
}

.checkbox-right {
  padding-left: 0;

  label {
    padding-left: 0;

    &:before {
      left: auto;
      right: 0;
    }

    &:after {
      right: 1px;
      left: auto;
    }
  }
}

// We place this button first in the source so it becomes the default on <enter>, and then move it off screen
.default-submit-offscreen {
  position: absolute;
  left: -100%;
}
