#header {
  background-color: transparent;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
  color: #fff;
  padding-top: $navbar-height + 3;

  &.compact {
    margin-bottom: 3rem;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }

  &.with-picture:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header-content {
    position: relative;
  }

  h1 {
    font-size: 42px;
    margin: 0;
  }

  .tools {
    line-height: 42px;
    float: right;
    margin-top: 0;
  }

  .small-header {
    $height: 180px;

    padding-bottom: 0;


    h1 {
      font-size: 32px;
      font-weight: $roboto-light;
      line-height: $height;
    }

    .tools {
      line-height: $height;
    }

    .title {
      display: block;
      height: $height;
      line-height: $height;
    }
  }
}

