#header {
  //position: relative;
  margin-bottom: 60px;
  color: #fff;
  padding-top: $navbar-height + 3;
  background-color: transparent;
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (min-width: 689px) {
    background-size: cover;
  }

  @media (max-width: $screen-sm-max) {
    background-size: cover;
  }

  @media (max-width: 689px) {
    background-position-x: center;
  }

  &.short {
    margin-bottom: 0;
    padding-top: 0px;
  }

  &.compact {
    margin-bottom: 3rem;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }

  &.with-picture:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header-content {
    position: relative;
  }

  .title, .image-container {
    @media (min-width: $screen-sm-min) {
      float: none;
      height: 280px;
      vertical-align: bottom;
      padding-bottom: 27px;
    }

    @media (max-width: $screen-xs-max) {
      text-align: center;
      height: auto;
    }
  }

  @media (max-width: $screen-xs-max) {
    .image-container {
      margin-bottom: 20px;
    }
  }

  h1 {
    font-size: 42px;
    margin: 0;
    color: #000;
  }

  .tools {
    line-height: 46px;
    float: right;
    margin-top: 0;
  }

  .small-header {
    $height: 272px;
    height: $height;
    overflow: hidden;
    padding-bottom: 0;

    // $align-bottom: calc(#{$height * 2} - 4em); // Not compatible with Firefox
    $align-bottom: $height * 2 - 129; // Magic number to align cross-browser
    h1 {
      font-size: 32px;
      line-height: $align-bottom;
    }

    .tools {
      font-size: 32px; // So the line-height below equals the h1
      line-height: $align-bottom;
    }

    .title {
      display: block;
      height: $height;
      line-height: $height;
    }

    @media (max-width: $screen-xs-max) {
      h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 5em;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .title h1 {
      font-size: 32px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .title {
      padding-bottom: 20px;

      h1 {
        font-size: 32px;
        padding-top: 2em;
      }

      &.has-logo h1 {
        padding-top: 0;
      }

      .tools {
        float: none;
        margin-bottom: 10px;
      }
    }
  }

  .no-logo {
    @media (max-width: $screen-xs-max) {
      h1 {
        padding-top: 10px;
      }

      .tools {
        margin-top: 2em;
      }
    }
  }

  .pseudo-table {
    .tools {
      .btn-primary {
        padding: 4px 32px;
      }
    }
    .has-logo {
      h1 {
        font-size: 30px;
        font-weight: $bold-weight;
      }
      @media (max-width: $screen-xs-max) {
        background-color: #ffffff;
      }
    }
    .stars {
      line-height: 20px;
    }
  }
}

