.icon-list {
  overflow: hidden;

  .item {
    line-height: 1.6em;
  }

  .icon {
    margin-right: 0.5em;
  }

  .fa {
    font-size: 115%;
    margin-right: 0.2em;
  }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 1.5em);
    display: inline-block;
    vertical-align: middle;
  }
}
