.icon-list {
  overflow: hidden;

  .item {
    line-height: 1.6em;
    white-space: nowrap;
    clear: both;
  }

  .icon, .fa {
    width: 20px;
    float: left;
    line-height: 22px;
  }

  .fa {
    font-size: 115%;
  }

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 1.5em);
    display: inline-block;
    vertical-align: middle;
    float: left;
  }
}
