.label {
  span {
    vertical-align: middle;
  }
}

.label-md {
  font-size: 100%;
}

.label-info {
  background-color: $gray-light;
}

.label-more {
  border-radius: 50%;
  background-color: rgba(135, 135, 135, 0.5);
  color: #fff !important;
  vertical-align: middle;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.2em;
  cursor: pointer;
}

h2 .label-more {
  font-size: 50%;
}

.tos_form label {
  display: inline;
  font-weight: normal;
}