// Disabled by client request but leave in case they change their mind
//a.btn-primary.loading, button.btn-primary.loading {
//  color: transparent;
//  background-image: asset_url("load-primary-16.gif");
//  background-position: center;
//  background-repeat: no-repeat;
//}


form[data-remote] {
  position: relative; // For consistent display across the board
}

form.loading {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5) asset_url("load-dark-16.gif") no-repeat center;
  }
}
