.modal {
  text-align: center;
}

@media screen and (min-width: $screen-md-max) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  @media screen and (min-width: $screen-md-min) { 
    //width: auto !important;
  }
}

.modal-header {
  border-bottom: 0px;
}

.modal.plain {
  $padding: 50px;

  .modal-header, .modal-footer {
    display: none;
  }

  .modal-body {
    padding: $padding;
  }

  hr.flush {
    margin-left: -$padding;
    width: calc(100% + #{$padding} * 2);
  }
}

.modal.transparent {
  .modal-content {
    border: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .modal-body {
    padding: 0;
  }
}

.modal-fake {
  //box-shadow: inset 0 0 3px #ffcc00;
  border: 3px solid #ffcc00;
  //border-radius: $border-radius-large;
  //box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  background: #ffffff;
  padding: 20px;
  //margin: 0 auto;

  &.gray {
    background-color: #ffffff;
    color: rgba(78, 78, 78, 0.8);
  }

  h4 {
    font-family: "Muller";
    font-weight: $medium-weight;
    font-size: 12px;
    color: #000;
  }

  h3 {
    font-size: 14px;
    font-weight: $medium-weight;
  }

  label {
    font-weight: $light-weight;
    font-size: 14px;
  }

  .form-control {
    border-radius: 0;
    border: 3px solid #ffcc00;
  }
}

$bootbox-width: 474px;
.bootbox.modal {
  $border-radius: 0;

  .modal-dialog {
    width: auto;
    background-color: #fff;
    padding: 10px;

    .bootbox-body {
      padding-top: 30px;
    }
  }

  //.modal-header {
  //  background-color: $panel-default-heading-bg;
  //  color: #fff;
  //  text-align: left;

  .bootbox-close-button {
    color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    text-shadow: none;
    opacity: 1.0;
    margin-top: -10px;
    margin-right: 5px;
    width: 16px;

    &:before {
      font-family: "maxicons" !important;
      position: absolute;
      content: "A";
      font-size: 21px;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      //opacity: 0.2;
    }
  }
  //}

  .modal-title {
    font-family: Muller;
    font-size: 18px;
    font-weight: normal;
  }

  .modal-content {
    @media screen and (min-width: $screen-md-min) { 
      width: 530px;
    }
    text-align: center;
    box-shadow: none;
    border-radius: $border-radius;
    border: 3px solid #ffcc00;
  }

  .modal-body {
    //width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 0px;
    color: #000000;
    background-color: #fff;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    label {
      font-size: 14px;
      font-weight: $light-weight;
    }

    .form-control {
      border-radius: 0;
      border: 3px solid #ffcc00;
    }

    h2 {
      color: #000;
      font-size: 32px;
      margin: 45px 0;
    }
  }

  .modal-footer {
    padding: 30px;
    padding-top: 0px;
    border-top: 0;
    background-color: #fff;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    text-align: center;

    .btn {
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  &.bootbox-sm {
    .modal-body {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .modal-footer {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &.confirm .modal-footer {
    .btn {
      width: 49%;
    }

    .btn + .btn {
      margin-left: 2%;
    }
  }
}

.modal-sm {
  margin: 0 auto;

  .modal-dialog {
    width: 300px;
  }
}

.modal-md {
  margin: 0 auto;

  .modal-dialog {
    width: 400px;
  }
}

.modal-faux-bootbox .modal-dialog {
  width: $bootbox-width;
}

.close {
  margin: 0;
  line-height: 39px !important;
  opacity: 1 !important;
  margin-top: -15px;
  font-size: 21px;
}

.close-inverse {
  color: #ffffff !important;
}

.close-absolute {
  z-index: 100;
  position: absolute;
  right: 24px;
}

.modal-popup {
  padding: 20px;

  .modal-content {
    overflow: hidden; // So corners get rounded properly
  }

  .modal-header {
    //background-color: $gray-dark;
    //color: #fff;
    //padding-top: 5px;
    //padding-bottom: 5px;
    width: 100%;
    position: relative;
    border-bottom: 0px;
  }

  .modal-body, .modal-footer {
    background-color: $gray-lighter;
  }

  .modal-footer {
    border-top: 0;
  }

  h3 {
    font-size: 14px;
    font-weight: $medium-weight;
  }

  h4 {
    font-family: Muller;
    font-weight: lighter;
  }
}

#js-project-share {
  @media (min-width: $screen-sm-min) {
    width: 549px;
    position: relative;

    /*.modal-dialog {
      width: auto !important;
    }*/

    .input-lg, .form-control, p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}