.modal.plain {
  $padding: 50px;

  .modal-header, .modal-footer {
    display: none;
  }

  .modal-body {
    padding: $padding;
  }

  hr.flush {
    margin-left: -$padding;
    width: calc(100% + #{$padding} * 2);
  }
}

.modal.transparent {
  .modal-content {
    border: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .modal-body {
    padding: 0;
  }
}

.modal-fake {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  background: #f3f3f3;
  padding: 20px;

  &.gray {
    background-color: #f3f3f3;
    color: rgba(78, 78, 78, 0.8);
  }

  h4 {
    font-family: Baskerville;
    font-weight: $baskerville-bold;
    font-style: italic;
    font-size: 18px;
    color: #666;
  }
}

.bootbox.modal {
  .modal-content {
    text-align: center;
  }

  .modal-body {
    padding: 30px;
    color: rgba(78, 78, 78, 0.8);
    font-weight: $roboto-regular;

    h2 {
      color: #000;
      font-weight: $roboto-light;
      font-size: 32px;
      margin: 45px 0;
    }
  }

  .modal-footer {
    padding: 30px;
    border-top: 0;

    .btn {
      font-weight: $roboto-regular;
    }
  }

  &.confirm .modal-footer {
    .btn {
      width: 49%;
    }

    .btn + .btn {
      margin-left: 2%;
    }
  }
}
