#nav {
  $spacing: 35px;
  height: 75px;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.21);

  padding: 6px 18px;
  @media (min-width: 1149px) and (max-width: 1378px) {
    .hidden-nav {
      display: none;
    }
    padding: 6px 18px;
  }
  @media (min-width: 1149px) and (max-width: 1278px) {
    .hidden-nav2 {
      display: none;
    }
  }
  @media (max-width: $screen-md-max) {
    padding: 6px 18px;
  }
  //text-transform: uppercase;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1001;

  .nav-about li:last-child {
    padding-right: 0px !important;
  }

  li {
    position: static;
    @media (max-width: $grid-float-breakpoint) {
      border-bottom: 1px solid #eaeaea;
    }
  }

  li.cat {
    font-weight: lighter;
    padding-left: 27px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #888;
  }

  li.bizmgr {
    background-color: #555;
    a:hover {
      background-color: #555;
    }
  }

  .fake_bottom {
    width: 100%;
    background-color: #555;
    height: 14px;
    position: absolute;
  }

  .preseparate {
    @media (min-width: $grid-float-breakpoint) {
      border-left: 1px solid #000;
      padding-left: $spacing/2;
      border-bottom: none;
    }
    a {
      color: #FFCC01;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-filter: none;
      filter: none;
    }
  }

  .navbar-right {
    position: relative;
    li a {
      font-weight: 600 !important;
    }
    .p-x-1 a {
      color: #FFCC01;
    }
  }

  .sign_in {
    li {
      //@media (min-width: $grid-float-breakpoint) {
      //  padding: 0px 20px;
      //}
      a {
        color: #FFCC01 !important;
        -webkit-filter: none;
        filter: none;
      }
    }
    //li:first-child {
    //  }
    //}
    .log_in_navbar_link {
      color: #000 !important;
      font-weight: 300 !important;
    }
    .sign_up_navbar_link {
      color: #000 !important;
      border-radius: 27px;
      font-weight: 300 !important;
      box-shadow: 2px 2px 7px 0 rgba(4,5,5,.25);
      padding: 6px 34px;
      margin-top: -8px;
      &:hover {
        background-color: #ffd735 !important;
        border-color: #ffd735 !important;
      }
      @media (max-width: $grid-float-breakpoint) {
        border: 0px !important;
        text-align: left;
        padding: 9px 0px;
        background-color: transparent !important;
        border-color: none !important;
        box-shadow: none !important;
        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

  .navbar-collapse {
    font-family: Open Sans;
    font-weight: $bold-weight;
    padding: 0px 15px;
    @media (max-width: $grid-float-breakpoint) {
      clear: both;
    }
    @media (min-width: $grid-float-breakpoint) {
      padding-top: 19px;
    }
    li {
      a {
        //color: #000000;
      }
      a:hover {
        color: #feb809;
      }
    }
  }

  .icon-bell {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
  }

  .navbar-brand {
    @include navbar-vertical-align-by-padding(53px);
    padding-left: 0;
    @media (min-width: $grid-float-breakpoint) {
      padding-right: 10px;
    }
    -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 1));
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 1));
  }

  .navbar-btn {
    margin: 0px;
    margin-top: -6px;
    padding: 9px 18px;
    font-weight: 300 !important;
    font-size: 14px;
    border: 2px solid #FFCC01;
    letter-spacing: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 27px;
    -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));

    &:hover, &:focus, &:active {
      color: #FFCC01 !important;
      border-color: #FFCC01 !important;
      outline: none;
    }

    @media (max-width: $grid-float-breakpoint) {
      border: none;
      padding: 0px;
    }

  }

  .btn {
    //text-transform: uppercase;
    font-weight: lighter;
  }

  .btn-default {
    text-transform: none;
  }

  li > a {
    font-weight: $regular-weight;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
    color: #000;

    &:hover {
      color: $brand-primary;
      filter: none;
    }

    .icon {
      font-weight: lighter;
    }
  }

  .navbar-nav > li {
    @media (min-width: $grid-float-breakpoint) {
      padding-left: 18px;
      margin: 0px !important;
    }
  }

  .navbar-nav > li > a {
    padding: 1px 0px;
    font-weight: 300;
    @media (max-width: $grid-float-breakpoint) {
      padding: 8px 0px;
    }
  }

  .m-r {
    margin-right: $spacing;
  }

  .buttons {
    margin-left: $spacing - 15px;

    .btn + .btn {
      margin-left: $spacing;
    }
  }

  .navbar-nav > .open > a {
    background-color: transparent;
    color: $brand-primary;
  }

  .badge {
    margin-top: -20px;
    margin-left: -15px;
    background-color: #00bff3;
    padding: 1px 4px;
    font-family: "Open Sans";
  }

  .dropdown {
    padding-left: 10px !important;
  }

  .dropdown-menu {
    background-color: #303233;
    padding: 13px 0px;
    color: #fff;

    a {
      color: #fff;
      line-height: 2;
      font-weight: 500;
      padding-left: 2em;
      padding-right: 1.25em; // Magic number so the items align with the dropdown trigger, sigh...

      &:hover, &:focus {
        //background-color: $brand-primary;
        color: #FFCC01;
        background-color: #363636;
      }
    }
    left: auto;
    right: 0px;

    @media (max-width: $grid-float-breakpoint-max) {
      background-color: transparent;
      padding: 0px;

      a {
        color: #555;
        padding-left: 0px;
        margin-left: 1em;

        &:hover, &:focus {
          color: #FFCC01;
          background-color: transparent;
        }
      }
    }
  }

  .navbar-toggle {
    margin-right: 0;
    border-color: transparent;
    margin-top: 12px;
    //margin-bottom: 0px;
  }

  .navbar-header { height: 76px; }

  @media (max-width: $screen-xs-max) {
    padding: 10px;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    .navbar-nav {
      margin: 0;
    }

    .navbar-nav > li + li {
      margin-left: 0;
    }

    .navbar-header {
      margin-right: 0;
    }

    .navbar-right {
      .buttons {
        display: inline-block;
      }

      li .navbar-btn:first-child {
        //margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        @media (max-width: $grid-float-breakpoint) {
          margin: 8px 0px;
        }
      }
    }

    .buttons {
      margin-left: 0;
    }
  }
}

.home.index #nav {
  background-color: #fff;
}

body.businesses.show, body.specialists.show {
  #nav {
    background-color: #fff;
  }
}

#left_navbar {
  transform-origin: top left;
  color: #000;
  width: 69px;
  min-height: 876px;
  padding-top: 28px;
  background-color: #fff;
  border-radius: 8px;
  position: fixed;
  z-index: 1000;
  left: 12px;
  i {
    font-size: 22px;
    font-weight: normal;
    display: block;
    padding: 19px 23px;
  }
  .bottom_btns {
    position: absolute;
    bottom: 0px;
  }
}

.app_container {
  padding-left: 107px;
  margin-right: 30px;
  min-height: 905px;
}