#nav {
  $spacing: 35px;

  background-color: #fff;
  padding: 0px 70px;
  @media (min-width: 1149px) and (max-width: 1378px) {
    .hidden-nav {
      display: none;
    }
  }
  @media (min-width: 1149px) and (max-width: 1278px) {
    .hidden-nav2 {
      display: none;
    }
  }
  @media (max-width: $screen-md-max) {
    padding: 4px 50px;
  }
  text-transform: uppercase;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1001;

  .nav-about li:last-child {
    padding-right: 0px !important;
  }

  li {
    position: static;
    @media (max-width: $grid-float-breakpoint) {
      border-bottom: 1px solid #eaeaea;
    }
  }

  .preseparate {
    @media (min-width: $grid-float-breakpoint) {
      border-left: 1px solid #000;
      padding-left: $spacing/2;
      border-bottom: none;
    }
    a {
      color: #ffcc00;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-filter: none;
      filter: none;
    }
  }

  .navbar-right {
    position: relative;
  }

  .sign_in {
    li {
      //@media (min-width: $grid-float-breakpoint) {
      //  padding: 0px 20px;
      //}
      a {
        color: #ffcc00 !important;
        -webkit-filter: none;
        filter: none;
      }
    }
    //li:first-child {
    //  }
    //}
  }

  .navbar-collapse {
    font-family: Nimbus Sans Cond;
    font-weight: $bold-weight;
    padding: 0px 15px;
    @media (min-width: $grid-float-breakpoint) {
      padding-top: 20px;
    }
    li {
      a {
        //color: #000000;
      }
      a:hover {
        color: #feb809;
      }
    }
  }

  .icon-bell {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
  }

  .navbar-brand {
    @include navbar-vertical-align-by-padding(53px);
    padding-left: 0;
    @media (min-width: $grid-float-breakpoint) {
      padding-right: 30px;
    }
    -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 1));
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 1));
  }

  .navbar-btn {
    margin: 0px;
    margin-top: -3px;
    padding: 7px 18px;
    font-weight: $regular-weight !important;
    font-size: 12px;
    border: 2px solid #ffcc00;
    letter-spacing: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));

    &:hover, &:focus, &:active {
      color: #ffcc00 !important;
      border-color: #ffcc00 !important;
      outline: none;
    }

    @media (max-width: $grid-float-breakpoint) {
      border: none;
      padding: 0px;
    }

  }

  .btn {
    text-transform: uppercase;
    font-weight: lighter;
  }

  li > a {
    font-weight: $regular-weight;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5));
    color: #ffc300;

    &:hover {
      color: $brand-primary;
      filter: none;
    }

    .icon {
      font-weight: lighter;
    }
  }

  .navbar-nav > li {
    @media (min-width: $grid-float-breakpoint) {
      padding-right: 23px;
      margin: 0px !important;
    }
  }

  .navbar-nav > li > a {
    padding: 5px 0px;
    @media (max-width: $grid-float-breakpoint) {
      padding: 8px 0px;
    }
  }

  .m-r {
    margin-right: $spacing;
  }

  .buttons {
    margin-left: $spacing - 15px;

    .btn + .btn {
      margin-left: $spacing;
    }
  }

  .navbar-nav > .open > a {
    background-color: transparent;
    color: $brand-primary;
  }

  .badge {
    margin-top: -20px;
    margin-left: -15px;
    background-color: #00bff3;
    padding: 1px 4px;
  }

  .dropdown-menu {
    background-color: #303233;
    padding: 13px 0px;
    color: #fff;

    a {
      color: #fff;
      line-height: 2;
      font-weight: 500;
      padding-left: 2em;
      padding-right: 1.25em; // Magic number so the items align with the dropdown trigger, sigh...

      &:hover, &:focus {
        //background-color: $brand-primary;
        color: #ffcc00;
        background-color: #363636;
      }
    }
    left: auto;
    right: 0px;

    @media (max-width: $grid-float-breakpoint-max) {
      background-color: transparent;
      padding: 0px;

      a {
        color: #555;
        padding-left: 0px;
        margin-left: 1em;

        &:hover, &:focus {
          color: #ffcc00;
          background-color: transparent;
        }
      }
    }
  }

  .navbar-toggle {
    margin-right: 0;
    border-color: transparent;
  }

  @media (max-width: $screen-xs-max) {
    padding: 10px;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    .navbar-nav {
      margin: 0;
    }

    .navbar-nav > li + li {
      margin-left: 0;
    }

    .navbar-header {
      margin-right: 0;
    }

    .navbar-right {
      .buttons {
        display: inline-block;
      }

      li .navbar-btn:first-child {
        //margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        @media (max-width: $grid-float-breakpoint) {
          margin: 8px 0px;
        }
      }
    }

    .buttons {
      margin-left: 0;
    }
  }
}

.home.index #nav {
  background-color: #fff;
}