#nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 90px;
  text-transform: uppercase;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;

  .navbar-brand {
    @include navbar-vertical-align-by-padding(42px);
    padding-left: 0;
  }

  .btn {
    text-transform: uppercase;
    font-weight: $raleway-light;
  }

  li > a {
    font-weight: $raleway-light;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      color: $brand-primary;
    }

    .icon {
      font-weight: $raleway-light;
    }
  }

  $spacing: 35px;

  .navbar-nav > li + li {
    margin-left: $spacing;
  }

  .m-r {
    margin-right: $spacing;
  }

  .buttons {
    margin-left: $spacing - 15px;

    .btn + .btn {
      margin-left: $spacing;
    }
  }

  .navbar-nav > .open > a {
    background-color: transparent;
    color: $brand-primary;
  }

  .badge {
    margin-top: -1em;
    margin-left: -1em;
    background-color: $brand-danger;
    padding: 1px 4px;
  }

  .dropdown-menu {
    background-color: #303233;
    text-align: right;
    padding: 0;
    color: #fff;

    a {
      color: #fff;
      line-height: 2;
      font-weight: 500;
      padding-left: 2em;
      padding-right: 1.25em; // Magic number so the items align with the dropdown trigger, sigh...

      &:hover, &:focus {
        background-color: $brand-primary;
        color: #000;
      }
    }
  }

  .navbar-toggle {
    margin-right: 0;
    border-color: transparent;
  }

  .navbar-header {
    margin-right: 2em;
  }

  @media (max-width: $screen-xs-max) {
    padding: 0 30px;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    .navbar-nav {
      margin: 0;
    }

    .navbar-nav > li + li {
      margin-left: 0;
    }

    .navbar-header {
      margin-right: 0;
    }

    .navbar-right {
      .buttons {
        display: inline-block;
      }

      li .navbar-btn:first-child {
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    .navbar-btn {
      margin: 0;
    }

    .buttons {
      margin-left: 0;
    }
  }
}
