#nav .notifications-dropdown {
  padding: 0px;
  max-width: 430px;
  background-color: #ebebeb;
  color: #333333;
  text-transform: none;
  overflow-y: scroll;
  @media (max-width: $grid-float-breakpoint) {
    position: relative;
    max-width: 100%;
    width: 100%
  }

  .notifications-header {
    min-width: 270px;
    .pull-left, .pull-right {
      text-transform: uppercase;
    }
  }

  .no_unread {
    //min-width: 200px;
    text-align: center;
    height: 45px;
    text-transform: uppercase;
    p {
      padding-top: 15px;
    }
  }

  .clearfix {
    font-size: 14px;
    font-weight: $bold-weight;

    .pull-right a {
      font-weight: $regular-weight;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  a {
    padding: 0px;
    line-height: inherit;
    text-transform: none;
    color: #333333;
    display: inline-block;
    width: 100%;
  }

  li {
    a {
      white-space: normal;
      padding: 1rem 10px;

      img {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
      }

      span {
        display: inline-block;
        padding-left: 60px;
      }

      small {
        color: #999;
      }
    }
  }

  li + li {
    border-top: 1px solid $gray-light;
    //margin-top: 7.5px;
    //padding-top: 7.5px;
  }
}
