.dot-pagination {
  text-align: center;
  padding: 0.5em 0;

  .page {
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    vertical-align: middle;

    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      display: inline-block;
      margin: 2px;
    }

    &.current:before, &:hover:before {
      width: 10px;
      height: 10px;
      margin: 0;
      background-color: #000;
    }
  }

  .page + .page {
    margin-left: 5px;
  }
}
