.inline-pagination {
  display: inline-block;
}

.dot-pagination {
  text-align: center;

  .page {
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    vertical-align: middle;

    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      display: inline-block;
      margin: 2px;
    }

    &.current:before, &:hover:before {
      width: 10px;
      height: 10px;
      margin: 0;
      background-color: #000;
    }
  }

  .page + .page {
    margin-left: 5px;
  }
}

.back-paging {
  font-size: 12px;
  .page,.current,.prev-slide,.next-slide {
    vertical-align: middle;
    display: inline-block;   
  }
  .page {
    color: #999999 !important;
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
  }
  .current {
    font-weight: $bold-weight;
    text-decoration: none;
  }
}