.panel-default {
  border: 0;

  .panel-heading {
    font-weight: $roboto-light;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    position: relative;
    border: 0;

    h3 {
      font-size: 22px;
      font-weight: $roboto-light;
      display: inline-block;
      margin: 0;

      span {
        font-size: 16px;

        a {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    .icon {
      margin-right: 0.5em;
      color: $brand-primary;
      font-size: 18px;

      &.small {
        font-size: 14px;
      }
    }

    .detail {
      float: right;
      font-size: 18px;
      color: #c1c1c1;

      &.strong {
        font-size: 16px;
        font-weight: $roboto-medium;
        color: #fff;
      }
    }
  }

  .panel-body {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);

    a, a:hover {
      color: rgba(0, 0, 0, 0.8);
    }

    .table th span {
      font-weight: $roboto-black;
    }

    .table th .icon {
      margin-right: 0.4em;
      opacity: 0.5;
    }
  }

  .list-group.plain .list-group-item {
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;

    h4.list-group-item-heading {
      border-bottom: 1px solid rgba(151, 151, 151, 0.35);
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
    }

    h4 span {
      font-size: 18px;
      font-weight: $roboto-regular;
    }

    .detail {
      float: right;
      font-weight: $roboto-bold;
      font-size: 16px;
      line-height: 24px;
    }
  }

  hr {
    border-color: rgba(0, 0, 0, 0.11);

    &.flush {
      margin-left: -$panel-body-padding;
      width: calc(100% + #{$panel-body-padding * 2});
    }
  }
}


.panel-body .row-compact {
  margin-left: -8px;
  margin-right: -8px;
}

.panel-heading .dropdown {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  .btn {
    height: 100%;
    font-size: 18px;
    font-weight: $roboto-light;
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    padding: 10px 15px 9px 15px;

    &:hover, &:focus {
      background-color: #383838;
      color: #fff;
    }
  }

  .dropdown-menu li.active {
    .icon {
      color: #fff;
    }
  }
}

.panel-heading .nav-pills {
  float: right;
  margin-top: -(nth($panel-heading-padding, 1));
  margin-right: -(nth($panel-heading-padding, 2));

  li + li {
    margin-left: 0;
    border-left: 1px solid #383838;
  }

  a {
    font-size: 18px;
    font-weight: $roboto-light;
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    padding: 10px 15px 9px 15px;

    .icon {
      color: #fff;
    }
  }

  a:hover, li.active a, a:focus {
    background-color: #383838;
  }
}

.panel.card {
  border: 0;
  border-bottom-left-radius: $panel-border-radius;
  border-bottom-right-radius: $panel-border-radius;
  overflow: hidden;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);

  .panel-heading, .panel-footer {
    border: 0;
  }

  .panel-heading {
    background-color: #c2c2c2;
    @include clearfix;
  }

  .panel-body {
    background-color: #fff;

    .icon-list {
      margin: 1.5em 0;

      .icon {
        opacity: 0.5;
      }
    }
  }

  .panel-footer {
    padding: 0;

    .btn-group {
      width: calc(100% + 1px); // Because a button group's btn has a -1px margin

      .btn {
        width: 50%;
        border-radius: 0;
        font-weight: $roboto-light;
      }

      .button_to {
        width: 50%;
        float: left;

        .btn {
          width: 100%;
        }
      }

      .btn-single {
        width: 100%;
      }

      .btn + .btn, .button_to + .btn, .btn + .button_to .btn {
        border-left: 1px solid rgba(0, 0, 0, 0.13);
      }
    }
  }
}
