.panel-default {
  border: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

  a.panel-heading {
    color: #fff !important;

    &:hover {
      text-decoration: none;
    }
  }

  .panel-heading {
    font-weight: $raleway-bold;
    font-size: 18px;
    line-height: 17px;
    height: 37px;
    color: #fff;
    position: relative;
    border: 0;
    display: block;

    h3 {
      font-size: 18px;
      font-family: "Baskerville";
      font-weight: $baskerville-bold;
      font-style: italic;
      display: inline-block;
      margin: 0;

      span {
        font-size: 16px;

        a {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    .icon {
      margin-right: 0.5em;
      color: $brand-primary;
      font-size: 18px;

      &.small {
        font-size: 14px;
      }
    }

    .detail {
      float: right;
      font-size: 14px;
      font-weight: $raleway-light;
      color: #c1c1c1;

      &.strong {
        font-size: 14px;
        font-weight: $raleway-bold;
        color: #fff;
      }
    }
  }

  .panel-body {
    display: block;
    color: rgba(0, 0, 0, 0.8);

    a, a:hover {
      color: rgba(0, 0, 0, 0.8);
    }

    .table th span {
      font-weight: $roboto-black;
    }

    .table th .icon {
      margin-right: 0.4em;
      opacity: 0.5;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .list-group.plain .list-group-item {
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;

    .list-group-item-heading {
      margin-bottom: 0.5em;
      font-weight: $raleway-bold;
    }

    .detail {
      float: right;
    }
  }

  hr {
    border-color: rgba(0, 0, 0, 0.11);

    &.flush {
      margin-left: -$panel-body-padding;
      width: calc(100% + #{$panel-body-padding * 2});
    }
  }
}

.panel-flat {
  box-shadow: none;
  border-radius: $input-border-radius-large;
}

.panel-body .row-compact {
  margin-left: -8px;
  margin-right: -8px;
}

.panel-heading .dropdown {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  .btn {
    height: 100%;
    font-family: Baskerville;
    font-size: 18px;
    font-weight: $baskerville-bold;
    font-style: italic;
    color: #fff;
    background-color: transparent;
    border-radius: 0;

    &:hover, &:focus {
      background-color: #383838;
      color: #fff;
    }
  }

  .dropdown-menu li.active {
    .icon {
      color: #fff;
    }
  }
}

.panel-heading .nav-pills {
  float: right;
  margin-top: -(nth($panel-heading-padding, 1));
  margin-right: -(nth($panel-heading-padding, 2));
  overflow: hidden;
  height: calc(100% + #{nth($panel-heading-padding, 1) * 2});

  li + li {
    margin-left: 0;
    border-left: 1px solid #383838;
  }

  a {
    font-family: Baskerville;
    font-size: 18px;
    font-weight: $baskerville-bold;
    font-style: italic;
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    padding: 10px 15px 9px 15px;

    .icon {
      color: #fff;
    }
  }

  a:hover, li.active a, a:focus {
    background-color: #383838;
  }

  li:last-child a {
    border-top-right-radius: $panel-border-radius;
  }

  &.small a {
    font-size: 90%;

    .icon {
      font-size: 90%;
    }
  }
}

.panel-heading.full-nav-pills {
  padding-left: 0;
  padding-right: 0;

  .nav-pills {
    float: none;
    width: 100%;
    display: flex;

    li {
      flex: 1;
      text-align: center;
    }

    li:first-child a {
      border-top-left-radius: $panel-border-radius;
    }
  }

  > .dropdown {
    width: 100%;

    .dropdown-toggle {
      width: 100%;
      border-top-left-radius: $panel-border-radius;
      border-top-right-radius: $panel-border-radius;
    }
  }
}

.panel.card {
  border: 0;
  border-bottom-left-radius: $panel-border-radius;
  border-bottom-right-radius: $panel-border-radius;
  overflow: hidden;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);

  .panel-heading, .panel-footer {
    border: 0;
  }

  .panel-heading {
    @include clearfix;
    background-color: #5a5a5a;
    padding: 24px 20px;

    h4 {
      margin: 0;
      line-height: 1.2em;
      overflow: hidden;
    }
  }

  &.active .panel-heading {
    background-color: rgba(0, 0, 0, 0.77);
  }

  .panel-body {
    background-color: #fff;

    .icon-list {

      .icon {
        opacity: 0.5;
      }
    }
  }

  .panel-footer {
    padding: 0;

    .btn-group {
      width: calc(100% + 1px); // Because a button group's btn has a -1px margin

      .btn {
        width: 50%;
        border-radius: 0;
        font-weight: $roboto-light;
      }

      .button_to {
        width: 50%;
        float: left;

        .btn {
          width: 100%;
        }
      }

      .btn-single {
        width: 100%;
      }

      .btn + .btn, .button_to + .btn, .btn + .button_to .btn {
        border-left: 1px solid rgba(0, 0, 0, 0.13);
      }
    }
  }
}

.panel-body {
  > :first-child, .list-group .list-group-item:first-child {
    margin-top: 0;
  }

  > :last-child, .list-group .list-group-item:last-child {
    margin-bottom: 0;
  }
}
