.panel-default {
  .panel-heading {
    font-weight: $roboto-light;
    font-size: 24px;
    line-height: 28px;
    color: #fff;

    .icon {
      margin-right: 0.5em;
      color: $brand-primary;
      font-size: 18px;

      &.small {
        font-size: 14px;
      }
    }

    .detail {
      float: right;
      font-size: 18px;
      color: #c1c1c1;
    }
  }

  .panel-body {
    background-color: #f3f3f3;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);

    a, a:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .list-group.plain .list-group-item {
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;

    h4.list-group-item-heading {
      border-bottom: 1px solid rgba(151, 151, 151, 0.35);
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
    }

    h4 span {
      font-size: 18px;
      font-weight: $roboto-regular;
    }

    .detail {
      float: right;
      font-weight: $roboto-bold;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
