.panel {
  margin-bottom: 35px;
  border-radius: 0;
}

.panel-content-wrapper {
  overflow-x: auto;
  overflow-y: scroll;
}

.panel-default.settings, .panel-default.helps {
  margin-left: auto;
  margin-right: auto;
  background-color: #F3F5F7;
  position: fixed;
  left: 60px;
  z-index: 990;
  width: 250px;
  height: 875px;
  border-radius: 0px;
  box-shadow: none;
}

.panel-heading a {
  color: #333;
}

.panel-heading h3 {
  font-family: "Canela";
  font-weight: normal;
  font-size: 22px;
}

.panel-settings-body, .panel-helps-body {
  padding-left: 230px;
  .panel {
    box-shadow: none;
  }
}
body.annual_reports .panel-settings-body .panel-default {
  box-shadow: 0px 3px 6px 0px rgba(44, 40, 40, 0.11);
}
.panel-default {
  .fw-700 {
    font-family: "Open Sans";
    font-weight: bold;
  }
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 6px 0px rgba(44,40,40,0.11);

  a.panel-heading {
    //color: #fff !important;
    font-weight: $black-weight;
    font-size: 13px;

    &:hover {
      text-decoration: none;
    }
  }

  .panel-heading:first-child {
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
  }

  .panel-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    //height: 37px;
    color: #333333;
    position: relative;
    border: 0;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    h3 {
      font-size: 16px;
      font-family: "Canela";
      font-weight: normal;
      display: inline-block;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;

      span {
        font-size: 16px;

        a {
          color: #333333;
          text-decoration: underline;
        }
      }
    }

    .icon {
      margin-right: 0.5em;
      color: $brand-primary;
      font-size: 18px;

      &.small {
        font-size: 14px;
      }
    }

    .detail {
      float: right;
      font-size: 13px;
      font-weight: $bold-weight;
      color: #333333;

      &.strong {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .panel-body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    display: block;
    color: rgba(0, 0, 0, 0.8);

    h2 {
      text-transform: uppercase;
      color: #d8d8d8;
    }

    a {
      color: rgba(0, 0, 0, 0.8);
    }
    table {
      a {
        &:hover {
          text-decoration: none !important;
          color: #FFCC01;
        }
      }
    }
    .table th span {
      font-weight: $bold-weight;
      margin-left: 10px;
    }

    .table th {
      font-weight: bold;
      font-family: "Open Sans";
    }

    .table th .icon {
      margin-right: 0.4em;
      opacity: 0.5;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .panel-body-thin {
    padding: 0px 15px;
  }

  .list-group.plain .list-group-item {
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;

    .list-group-item-heading {
      margin-bottom: 0.5em;
      font-weight: bold;

      .stars {
        padding-left: 20px;

        .star {
          font-size: 12px;
        }
      }
    }

    .detail {
      float: right;
    }
  }

  hr {
    border-color: rgba(0, 0, 0, 0.11);

    &.flush {
      margin-left: -$panel-body-padding;
      width: calc(100% + #{$panel-body-padding * 2});
    }
  }
}

.panel-padded {
  @media (min-width: $screen-xs-max) {
    .panel-heading, .panel-body {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.panel-flat {
  box-shadow: none;
  border-radius: $input-border-radius-large;
}

.panel-body .row-compact {
  margin-left: -8px;
  margin-right: -8px;
}

.panel-heading .dropdown {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  .btn {
    height: 100%;
    font-family: Canela;
    //font-size: 18px;
    //font-weight: bold;
    //font-style: italic;
    //color: #fff;
    background-color: transparent;
    border-radius: 0;
  }

  .dropdown-menu li.active {
    .icon {
      color: #fff;
    }
  }
}

.panel-heading .nav-pills {
  float: right;
  //margin-top: -(nth($panel-heading-padding, 1));
  margin-top: -1px;
  margin-right: -(nth($panel-heading-padding, 2));
  overflow: hidden;
  //height: calc(100% + #{nth($panel-heading-padding, 1) * 2});

  li + li {
    margin-left: 0;
    border-left: 1px solid #383838;
  }

  a.visible-sm {
    float: left;
    border-right: 1px solid #000;
    text-decoration: none;

    &.active {
      font-weight: 400;
    }
  }

  a {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    border-radius: 0;
    padding: 0px 13px;

    .icon {
      color: #fff;
    }
    text-transform: uppercase;
  }

  a:hover, li.active a, a:focus {
    background-color: #fff;
    color: #FFCC01;
    font-family: "Open Sans";
    font-weight: 400;
  }

  li.active a {
    font-weight: $bold-weight;
  }

  li:last-child a {
    border-top-right-radius: $panel-border-radius;
  }

  &.small a {
    font-size: 90%;

    .icon {
      font-size: 90%;
    }
  }
}

.panel-heading.full-nav-pills {
  padding-left: 0;
  padding-right: 0;

  .nav-pills {
    float: none;
    width: 100%;
    display: flex;

    li {
      flex: 1;
      text-align: center;
    }

    li:first-child a {
      border-top-left-radius: $panel-border-radius;
    }
  }

  > .dropdown {
    width: 100%;

    .dropdown-toggle {
      width: 100%;
      border-top-left-radius: $panel-border-radius;
      border-top-right-radius: $panel-border-radius;
    }
  }
}

.list-icon {
  font-size: 12px;
  font-weight: $regular-weight;
  line-height: 24px;
  .item {
    i {
      position: absolute;
      font-size: 16px;
      line-height: 22px;
    }
    span {
      width: 100%;
      padding-left: 23px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.panel.card {
  border: 0;
  border-bottom-left-radius: $panel-border-radius;
  border-bottom-right-radius: $panel-border-radius;
  overflow: hidden;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);

  a.panel-heading, a.panel-body {
    text-decoration: none;
  }

  .panel-heading, .panel-footer {
    border: 0;
  }

  .panel-heading {
    @include clearfix;
    //background-color: #5a5a5a;
    padding: 24px 20px;

    h4 {
      margin: 0;
      line-height: 1.2em;
      overflow: hidden;
    }
  }

  &.active .panel-heading {
    //background-color: rgba(0, 0, 0, 0.77);
  }

  .panel-body {
    background-color: #fff;
  }

  .panel-footer {
    padding: 0;

    .btn-group {
      width: calc(100% + 1px); // Because a button group's btn has a -1px margin

      .btn {
        width: 50%;
        border-radius: 0;
        position: static;

        &:hover {
          span {
            color: #fff !important;
          }
        }
      }

      .button_to {
        width: 50%;
        float: left;

        .btn {
          width: 100%;
        }
      }

      .btn-single {
        width: 100%;
      }

      .btn + .btn {
        border-left: 1px solid rgba(0, 0, 0, 0.13) !important;
      }
    }
  }
}

.panel-body {
  font-size: 13px;
  color: #333333;
  font-weight: 300;

  > :first-child, .list-group .list-group-item:first-child {
    margin-top: 0;
  }

  > :last-child, .list-group .list-group-item:last-child {
    margin-bottom: 0;
  }

  .panel-drawer {
    //background-color: #dadada;
    width: 100%;
    box-sizing: content-box;
    padding: $panel-body-padding;
    margin-left: -$panel-body-padding;
    margin-bottom: -$panel-body-padding;
    border-bottom-left-radius: $panel-border-radius;
    border-bottom-right-radius: $panel-border-radius;
    border-top: 1px solid $gray;
    @include clearfix;
  }
}

.tab-pane .dot-pagination a{
  display: none
}

//.tab-pane .card-container {
.card-container {
  //max-width: 230px;
  padding: 0px 10px;

  .project, .specialist {
    border: 2px solid #FFCC01;

    .panel-heading {
      border-bottom: 2px solid #FFCC01;
      display: block;
    }
  }
}
