.percentage-circle.tiny {
  font-size: 40px;

  > span {
    font-size: 0.3em;
    margin-top: -0.6em;
  }
}

.percentage-circle.primary {
  > span {
    color: $gray-dark;
  }

  .bar, .fill {
    border-color: $brand-primary;
  }
}
