.popup_border {
  border: 3px solid #FFCC01;
  text-align: center;
  padding: 20px;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  padding: 12px 8px;
}

.modal-header {
  height: 0px;
  padding-top: 12px;
  padding-right: 8px;
  padding-bottom: 0px;
}

body.businesses.show, body.business_dashboard, body.compliance_policies, body.annual_reviews, body.audit_requests, body.annual_reports {
  .modal-footer {
    display: none;
  }

  .close {
    background-image: asset_url("close.png");
    background-size: contain;
    //display: none;
    padding: 0;
    cursor: pointer;
    //background: transparent;
    //border: 0px;
    position: absolute;
    right: 8px;
    z-index: 10000;
    //background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    top: 13px;
    font-size: 30px;
  }

  .bootbox.confirm .modal-footer {
    display: block;
  }
}