.popup_border {
  border: 3px solid #ffcc00;
  text-align: center;
  padding: 20px;
}

body.businesses.show, body.business_dashboard, body.compliance_policies, body.annual_reviews, body.audit_requests {
  .modal-content {
    border-radius: 0px;
  }
  .modal-footer {
    display: none;
  }
  .modal-header {
    padding: 0px;
    height: 0px;
  }

  .close {
    //display: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    //border: 0px;
    position: absolute;
    right: -6px;
    z-index: 10000;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: -18px;
    font-size: 30px;
  }

  .bootbox.confirm .modal-footer {
    display: block;
  }
}