.q_and_a_forum {
  background: #ffffff;
  #left_navbar {
    display: none;
  }
  .app_container {
    margin-right: auto !important;
    padding-left: 0 !important;
  }

  .public-header {
    .brand {
      padding: 15px 0;
    }

    .public-menu {
      background: #384AD3;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          vertical-align: top;

          a {
            font-family: "Open Sans Semibold", sans-serif;
            font-size: 14pt;
            line-height: 70px;
            color: #ffffff;
            padding: 15px 15px;
            letter-spacing: -0.3px;

            &:hover {
              color: rgb(170, 170, 170);
              transition: all 0.2s ease, visibility 0s;
            }
          }
        }
      }
    }
  }

  #page-content {
    .public-page-header {
      margin: 50px 0;

      .page-header-icon {
        float: left;

        img {
          width: 120px;
        }
      }

      .page-header-title {
        padding: 25px 0;
        margin-left: 150px;
        .title-text {
          font-family: "Open Sans Semibold", sans-serif;
          font-size: 16pt;
        }
        .title-desc {
          font-family: "Open Sans Light", sans-serif;
          font-size: 14pt;
        }
      }
    }

    .details-content {
      h3 {
        margin-bottom: 25px;
        font-size: 18px;
      }

      .product-desc {
        text-align: justify;
        color: #000000;
        margin-bottom: 35px;
      }

      ul {
        padding-left: 20px;
      }
      .pricing-plan {
        margin: 20px 0 0 35px;
        .btn-warning-custom {
          border-radius: 5px;
          font-weight: 300;
          font-size: 13px;
          padding: 3px 12px;
          background: #FFCC01;
          color: #000000;
          border: none;
          box-shadow: 2px 2px 3px #dddddd;
          &:hover {
            color: #fdfdfd;
            background: #555555;
            transition: all 0.25s;
          }
        }
        h3 {
          margin: 0;
          padding: 15px 30px;
          background: #FFCC00;
          color: #000000;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            .accord-header {
              padding: 15px 30px;
              background: #000000;
              color: #ffffff;
              font-weight: bold;
              font-family: "Open Sans Semibold", sans-serif;
              border-bottom: solid 1px #111111;
              &:hover {
                cursor: pointer;
                background: #090909;
                transition: all 0.25s;
              }
            }
            list-style: none;
            ul {
              display: none;
              padding: 0 25px;
              background: rgba(249, 249, 249, 1);
              li {
                padding: 15px 0;
                color: #000000;
                text-align: justify;
                font-family: "Open Sans Light", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}
