.ratings {
  .rating {
    margin: 0;
    padding: 0;
  }

  .rating + .rating {
    margin-top: 1em;
  }
}

form#new_rating {
  .rating {
    @include clearfix;
    font-family: FontAwesome;
    width: 11em;
  }

  .rating:not(:checked) > input {
    display: none;
  }

  .rating:not(:checked) > label {
    width: 1.1em;
    float: right;
    padding: 0 .2em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
  }

  .rating:not(:checked) > label:before {
    font-family: FontAwesome;
    content: "";
  }

  .rating > input:checked ~ label {
    color: $brand-primary;
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: $brand-primary;
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: lighten($brand-primary, 10%);
  }

  .rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
  }
}

.stars_bg {
  display: inline-block;
  width: 170px;
  height: 21px;
  margin-left: -7px;
  background: asset_url("rating_bg.png");
  background-size: auto 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center left;

  .stars_fg {
    height: 21px;
    position: absolute;
    background: asset_url("rating_fg.png");
    background-size: auto 100%;
  }
}

.stars_bg.small {
  width: 89px;
  height: 11px;
  margin-left: -3px;
  .stars_fg {
    height: 11px;
  }
}

.text-center .stars_bg {
  margin-left: auto;
  margin-right: auto;
}