.multiselect {
  font-weight: bold;
  text-align: left;

  .caret {
    $center: ($input-height-base / 2) - 8px;
    margin: $center 0 $center $padding-base-horizontal;
    float: right;
  }

  &.input-lg {
    height: $input-height-large;
    line-height: $input-height-large - 2px;
    padding: 0 $padding-large-horizontal;
    text-align: left;

    .caret {
      $center: ($input-height-large / 2) - 2px;
      margin: $center 0 $center $padding-base-horizontal;
      float: right;
    }
  }

}

.multiselect-container .input-group-addon, .multiselect-container .input-group-btn {
  display: none;
}

.multiselect-container .multiselect-item .input-group{
  display: block;
}

.multiselect-item > a > label {
  width: 100%;
}

.multiselect-parent .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;

  label {
    padding: 5px 20px;
    padding-left: 30px;
  }
}

.multiselect-container li a {
  text-decoration: none !important;
}

.dropdown-menu > .active > a {
  background-color: #ffcc01 !important;
  min-height: 29px;
}