.multiselect {
  font-weight: $raleway-light;
  text-align: left;

  .caret {
    $center: ($input-height-base / 2) - 8px;
    margin: $center 0 $center $padding-base-horizontal;
    float: right;
  }

  &.input-lg {
    height: $input-height-large;
    line-height: $input-height-large - 2px;
    padding: 0 $padding-large-horizontal;
    text-align: left;

    .caret {
      $center: ($input-height-large / 2) - 2px;
      margin: $center 0 $center $padding-base-horizontal;
      float: right;
    }
  }

}

.multiselect-container .input-group-addon, .multiselect-container .input-group-btn {
  display: none;
}

.multiselect-parent .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;

  label {
    padding: 5px 20px;
  }
}
