.social {
  display: inline-block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: -2px;
  text-align: center;
}

.social-twitter, .social-linkedin {
  color: #ffffff;
}

.social-twitter {
  background-color: #33ccff;
}

.social-linkedin {
  background-color: #3399cc;
}