.stars {
  display: inline-block;

  .star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    display: inline-block;
    letter-spacing: 0.4em;

    &:before {
      content: "\f005";
      color: #d1d1d1;
    }

    &.active:before {
      //content: "\f005";
      color: $brand-primary;
    }

    &:last-child {
      letter-spacing: 0px;
    }
  }

  &.small .star {
    font-size: 14px;
  }
}
