.stripe-new {
  .stripe-button-el.stripe-button-el, .stripe-button-el.stripe-button-el:active {
    background: transparent none !important;
    box-shadow: none;
    @extend .btn;
    @extend .btn-plain;

    &:hover {
      opacity: 0.6;
    }

    &:before {
      content: "\e0cf";
      font-family: maxicons;
      width: 14px;
      display: inline-block;
      vertical-align: middle;
      color: #000 !important;
    }

    span {
      color: #000 !important;
      background: transparent !important;
      font-family: $font-family-base;
      font-weight: $roboto-regular;
      display: inline-block !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin-left: 0.4rem;
    }
  }
}

.stripe-edit {
  display: inline-block;

  .stripe-button-el.stripe-button-el, .stripe-button-el.stripe-button-el:active {
    background: transparent none !important;
    box-shadow: none;

    &:before {
      content: ">";
      font-family: maxicons;
      display: inline-block;
      color: #767676;
    }

    &:hover:before {
      opacity: 0.6;
    }

    span {
      display: none !important;
    }
  }
}
