.stripe-new {
  .stripe-button-el.stripe-button-el, .stripe-button-el.stripe-button-el:active {
    background: transparent none !important;
    box-shadow: none;
    @extend .btn;
    @extend .btn-plain;
    font-size: 13px;

    &:hover {
      opacity: 0.6;
    }

    &:before {
      content: "\e095";
      font-family: "simple-line-icons";
      width: 14px;
      display: inline-block;
      vertical-align: middle;
      color: #000 !important;
      margin-left: 8px;
    }

    span {
      color: #000 !important;
      background: transparent !important;
      font-family: $font-family-base;
      display: inline-block !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin-left: 15px;
      font-weight: $regular-weight;
      font-size: 13px;
      text-shadow: none !important;
    }
  }
}

.stripe-edit {
  display: inline-block;

  .stripe-button-el.stripe-button-el, .stripe-button-el.stripe-button-el:active {
    background: transparent none !important;
    box-shadow: none;

    &:before {
      content: "\e05f";
      font-family: "simple-line-icons";
      display: inline-block;
      color: #767676;
    }

    &:hover:before {
      opacity: 0.6;
    }

    span {
      display: none !important;
    }
  }
}

.add-bank-account {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;

  span {
    margin-left: 15px;
    color: #000;
  }

  &:hover {
    opacity: 0.6;
  }

  &:before {
    content: "\e095";
    font-family: "simple-line-icons";
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #000 !important;
    margin-left: 8px;
  }
}
