.stripe-new {
  .stripe-button-el.stripe-button-el, .stripe-button-el.stripe-button-el:active {
    background: transparent none !important;
    box-shadow: none;
    @extend .btn;
    @extend .btn-plain;
    font-size: 13px;

    &:hover {
      opacity: 0.6;
    }

    &:before {
      content: "\e095";
      font-family: "simple-line-icons";
      width: 14px;
      display: inline-block;
      vertical-align: middle;
      color: #000 !important;
      margin-left: 8px;
    }

    span {
      color: #000 !important;
      background: transparent !important;
      font-family: $font-family-base;
      display: inline-block !important;
      box-shadow: none !important;
      padding: 0 !important;
      margin-left: 15px;
      font-weight: $regular-weight;
      font-size: 13px;
      text-shadow: none !important;
    }
  }
}

.stripe-edit {
  display: inline-block;

  .stripe-button-el.stripe-button-el, .stripe-button-el.stripe-button-el:active {
    background: transparent none !important;
    box-shadow: none;

    &:before {
      content: "\e05f";
      font-family: "simple-line-icons";
      display: inline-block;
      color: #767676;
    }

    &:hover:before {
      opacity: 0.6;
    }

    span {
      display: none !important;
    }
  }
}

.add-bank-account {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;

  span {
    margin-left: 15px;
    color: #000;
  }

  &:hover {
    opacity: 0.6;
  }

  &:before {
    content: "\e095";
    font-family: "simple-line-icons";
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #000 !important;
    margin-left: 8px;
    font-weight: 600;
  }
}
.payment_form {
  display: none;

  .form-switch {
    text-align: center;
  }
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
