#subscription_modal {
  color: #000;
  .close {
    padding-top: 6px;
    span {
      font-size: 20px;
      margin-top: 5px;
    }
  }
  .small {
    color: #aaa;
  }
  .left-labels {
      label {
      margin-left: 15px;
      font-family: "Nimbus Sans";
      font-weight: bold;
    }
  }
  .right-labels {
    .control-label { display: none; }
    padding-top: 90px;
  }
  ul {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .subscription_plan, .subscription_charge {
    .btn-group {
      position: absolute;
      right: 0px;
      margin-top: -10px;
    }
  }
  .modal-dialog {
    background-color: #fff;
    padding: 20px;
  }
  .modal-content{
    box-shadow: none !important;
    border-radius: 0px !important;
    border: 2px solid #ffcc00;
  }
  .modal-footer {
    padding: 0px;
    border-top: 0px;
  }
  .no-paddings {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  @media (max-width: $screen-md-min) {
    .right-labels {
      padding-top: 0px;
      position: absolute;
      width: 100%;
      top: 160px;
    }
    .basic_switch {
      position: absolute;
      width: 100%;
    }
    #subscription_lvl_2 {
      margin-top: 80px;
    }
    .pro_switch {
      position: absolute;
      width: 100%;
      top: 178px;
      z-index: 1000;
    }
    .submit-sub-settings {
      margin-top: 90px;
    }
  }

  @media (max-width: $screen-xs-min) {
    ul {
      padding-left: 0px;
      list-style: none;
      font-size: 12px;
    }
    .modal-body {
      padding: 0px;
    }
  }
}
