// Pseudo-tables for positioning

.pseudo-table {
  display: table;
  width: 100%;

  &.row-fix {
    width: calc(100% + #{$grid-gutter-width});
    margin-left: -$grid-gutter-width / 2;
  }

  .tr {
    display: table-row;
  }

  .td {
    display: table-cell;
  }
}

.table.table-plain {
  tr td, tr th {
    border: 0;
  }

  th {
    white-space: nowrap;
  }
}

.table.table-flush {
  tr > th:first-child, tr > td:first-child {
    padding-left: 0;
  }

  tr > th:last-child, tr > td:last-child {
    padding-right: 0;
  }
}

.table-blue {
  .outdated_policy {
    float: left; width: 6px; height: 6px; border-radius: 50%; background-color: #EC428A; margin-left: -13px; margin-top: 7px;
  }
  th {
    background-color: #F1F3F9;
    text-transform: uppercase;
    font-size: 10px;
    color: #ACACAC;
    padding: 5px 24px !important;
  }
  tr:nth-of-type(odd) { background-color: #fff !important; }
  tr:nth-of-type(even) { background-color: #F7FAFC; }
  tr {
    font-size: 14px;
    color: #000;
  }
  td {
    color: #000;
    font-weight: normal;
    padding: 11px 24px !important;
    a {
      color: #000;
    }
  }
}

.addon-alerts-table {
  td, th {
    padding: 5px 8px !important;
    small {
      font-size: 8px;
      color: #989898;
    }
  }
  td:first-child, td:last-child {
    vertical-align: middle;
  }
}

table.borderless {
  td, th { border: 0px !important; }
}