// Pseudo-tables for positioning
.pseudo-table {
  display: table;
  width: 100%;

  &.row-fix {
    width: calc(100% + #{$grid-gutter-width});
    margin-left: -$grid-gutter-width / 2;
  }

  .tr {
    display: table-row;
  }

  .td {
    display: table-cell;
  }
}

.table.table-plain {
  tr td, tr th {
    border: 0;
  }

  th {
    white-space: nowrap;
  }
}

.table.table-flush {
  tr > th:first-child, tr > td:first-child {
    padding-left: 0;
  }

  tr > th:last-child, tr > td:last-child {
    padding-right: 0;
  }
}
