.tooltip {
  min-width: 200px;
}

.tooltip-inner {
  background-color: rgba(#ffc300, 0.44);
  color: #000;
}

.tooltip.top .tooltip-arrow { border-top-color: rgba(#ffc300, 0.44); }
.tooltip.right .tooltip-arrow { border-right-color: rgba(#ffc300, 0.44); }
.tooltip.bottom .tooltip-arrow { border-bottom-color: rgba(#ffc300, 0.44); }
.tooltip.left .tooltip-arrow { border-left-color: rgba(#ffc300, 0.44); }

.info-tooltip {
  background-color: #00bff3;
  border: none;
  border-radius: 50%;
  font-family: Muller;
  font-style: italic;
  font-weight: bold;
  width: 1.1em;
  height: 1.1em;
  line-height: 0.8em;
  cursor: default;
  vertical-align: middle;
  margin-left: 0.5em;
  position: absolute;
  margin-left: -30px;
  margin-top: 14px;
}
