.tooltip {
  min-width: 200px;
}

.tools .tooltip {
  min-width: auto;
  .tooltip-inner {
    padding: 5px 8px;
  }
}

/*.tooltip-inner {
  background-color: rgba(#ffffff, 0.8);
  border: 1px solid $gray-light;
  padding: 10px;
  letter-spacing: 1px;
  color: #000;
}

.tooltip.top .tooltip-arrow { border-top-color: rgba(#ffffff, 0.8); }
.tooltip.right .tooltip-arrow { border-right-color: rgba(#ffffff, 0.8); }
.tooltip.bottom .tooltip-arrow { border-bottom-color: rgba(#ffffff, 0.8); }
.tooltip.left .tooltip-arrow { border-left-color: rgba(#ffffff, 0.8); }*/

.info-tooltip {
  background-color: #00bff3;
  border: none;
  border-radius: 50%;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: $medium-weight;
  width: 1.1em;
  height: 1.1em;
  line-height: 0.8em;
  cursor: default;
  vertical-align: middle;
  margin-left: 0.5em;
  position: absolute;
  margin-left: -30px;
  margin-top: 14px;
  padding-left: 5px;
  z-index: 100;
}

.tooltip {
  &.top    { padding: $tooltip-arrow-border-width 0; }
  &.right  { padding: 0 $tooltip-arrow-border-width; }
  &.bottom { padding: $tooltip-arrow-border-width 0; }
  &.left   { padding: 0 $tooltip-arrow-border-width; }

  opacity: 1 !important;
}

.tooltip-inner {
  color: $tooltip-text-color;
  border: $tooltip-border-width solid $tooltip-border-color;
  padding: 10px;
  background-color: $tooltip-background-color;
}

.tooltip-arrow:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  z-index: -1;
}

.tooltip {
  &.top .tooltip-arrow {
    bottom: 2 * $tooltip-border-width;
    border-top-color: $tooltip-arrow-color;
    &:after {
      bottom: -2 * $tooltip-border-width;
      left: 50%;
      margin-left: -$tooltip-arrow-border-width;
      border-width: $tooltip-arrow-border-width $tooltip-arrow-border-width 0;
      border-top-color: $tooltip-border-color;
    }
  }
  &.bottom .tooltip-arrow {
    top: 2 * $tooltip-border-width;
    border-bottom-color: $tooltip-arrow-color;
    &:after {
      top: -2 * $tooltip-border-width;
      left: 50%;
      margin-left: -$tooltip-arrow-border-width;
      border-width: 0 $tooltip-arrow-border-width $tooltip-arrow-border-width;
      border-bottom-color: $tooltip-border-color;
    }
  }
  &.left .tooltip-arrow {
    right: 2 * $tooltip-border-width;
    border-left-color: $tooltip-arrow-color;
    &:after {
      right: -2 * $tooltip-border-width;
      top: 50%;
      margin-top: -$tooltip-arrow-border-width;
      border-width: $tooltip-arrow-border-width 0 $tooltip-arrow-border-width $tooltip-arrow-border-width;
      border-left-color: $tooltip-border-color;
    }
  }
  &.right .tooltip-arrow {
    left: 2 * $tooltip-border-width;
    border-right-color: $tooltip-arrow-color;
    &:after {
      left: -2 * $tooltip-border-width;
      top: 50%;
      margin-top: -$tooltip-arrow-border-width;
      border-width: $tooltip-arrow-border-width $tooltip-arrow-border-width $tooltip-arrow-border-width 0;
      border-right-color: $tooltip-border-color;
    }
  }
}

.panel-heading h3 .info-tooltip {
  margin-left: 0px;
  margin-top: 0px;
  display: inline-block;
}