.well {
  box-shadow: none;
  border-radius: 0px !important;

  a:not(.btn) {
    color: #000;
    text-decoration: underline;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .text-muted {
    color: #c2c2c2;
  }

  .dropdown-menu a {
    text-decoration: none;
  }
}

.well-lg {
  padding: 27px 27px 12px;
  max-width: 831px;
  margin: 0 auto;

  border: 2px solid #ffcc00;

  &.well-pb-full {
    padding-bottom: 27px;
  }
}

.well-transparent {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.tos_block {
  border: 0px !important;
  font-size: 12px;
}