$range-slider-inner-height: 7px;

.irs {
  height: 43px;
}

.irs-with-grid {
  height: 63px;
}

.irs-line {
  height: $range-slider-inner-height;
  top: 30px;
  background: #fff;
}

.irs-line-left {
  height: $range-slider-inner-height;
}

.irs-line-mid {
  height: $range-slider-inner-height;
}

.irs-line-right {
  height: $range-slider-inner-height;
}

.irs-bar {
  height: $range-slider-inner-height;
  top: 30px;
  border-top: 1px solid $brand-primary;
  border-bottom: 1px solid $brand-primary;
  background: $brand-primary;
}

.irs-bar-edge {
  height: 10px; top: 33px;
  width: 14px;
  border: 1px solid #428bca;
  border-right: 0;
  background: #428bca;
  background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
  border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
}

.irs-shadow {
  height: 2px; top: 31px;
  background: #000;
  opacity: 0.3;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.lt-ie9 .irs-shadow {
  filter: alpha(opacity=30);
}

.irs-slider {
  top: 25px;
  width: 18px;
  height: 18px;
  border: 1px solid $brand-primary;
  background: $brand-primary;
  background: $brand-primary;
  border-radius: 18px;
  -moz-border-radius: 18px;
  cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
  background: lighten($brand-primary, 10%);
}

.irs-min, .irs-max {
  color: #333;
  font-size: 12px; line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 5px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
  background: #ccc;
}

.irs-from, .irs-to, .irs-single {
  //color: #000;
  font-size: 14px; line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  //background: $brand-primary;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
  background: #999;
}

.irs-grid {
  height: 27px;
}

.irs-grid-pol {
  opacity: 0.5;
  background: $brand-primary;
}

.irs-grid-pol.small {
  background: #999;
}

.irs-grid-text {
  bottom: 5px;
  color: #99a4ac;
}

.irs-disabled {
}
