<p>Hi <%= @remindable.name %>, here’s your to do list for today:</p>

<ul>
  <% @past_dues.each do |task| %>
    <li><i>(Past due)</i> <%= task %></li>
  <% end %>
  <% @todays.each do |task| %>
    <li><%= task %></li>
  <% end %>
</ul>

<p>If you need help, reach out to see how we can help you outsource some of these tasks.</p>
