// Font weights:

$hairline-weight: 0;
$thin-weight: 100;
$ultralight-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 600;
$extrabold-weight: 700;
$black-weight: 800;
$heavy-weight: 900;

@font-face {
  font-family: 'Canela';
  src: url('/fonts/Canela-Bold.otf') format('opentype');
  font-weight: $bold-weight;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('/fonts/Canela-Medium.otf') format('opentype');
  font-weight: $medium-weight;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('/fonts/Canela-MediumItalic.otf') format('opentype');
  font-weight: $medium-weight;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: $bold-weight;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: $bold-weight;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: $extrabold-weight;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: $extrabold-weight;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: $light-weight;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: $light-weight;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: $regular-weight;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-RegularItalic.ttf') format('truetype');
  font-weight: $regular-weight;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: $medium-weight;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: $medium-weight;
  font-style: italic;
}