.row-compact {
  margin-left:  -(ceil(($grid-gutter-width / 4)));
  margin-right:  -(ceil(($grid-gutter-width / 4)));

  div[class*="col-"] {
    padding-left:  ceil(($grid-gutter-width / 4));
    padding-right: floor(($grid-gutter-width / 4));
  }
}
