// CUSTOMIZATION
.icon {
  vertical-align: middle;
}

.icon-fw {

}
// END CUSTOMIZATION
// ALSO CLASS NAMES CUSTOMIZED, REMOVING THE .icon PREFIX

@charset "UTF-8";

@font-face {
  font-family: "maxicons";
  src:url("#{$maxicons-font-path}/maxicons.eot");
  src:url("#{$maxicons-font-path}/maxicons.eot?#iefix") format("embedded-opentype"),
    url("#{$maxicons-font-path}/maxicons.woff") format("woff"),
    url("#{$maxicons-font-path}/maxicons.ttf") format("truetype"),
    url("#{$maxicons-font-path}/maxicons.svg#maxicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

.icon:before {
  font-family: "maxicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: text-top;
}

.maxicons1-arrow:before {
  content: "a";
}
.maxicons1-arrowdown-01:before {
  content: "b";
}
.maxicons1-arrowdown-02:before {
  content: "c";
}
.maxicons1-check:before {
  content: "d";
}
.maxicons1-calculator:before {
  content: "e";
}
.maxicons1-businessman:before {
  content: "f";
}
.maxicons1-earphones:before {
  content: "g";
}
.maxicons1-earphones2:before {
  content: "h";
}
.maxicons1-earth:before {
  content: "i";
}
.maxicons1-edit-44:before {
  content: "j";
}
.maxicons1-connect:before {
  content: "k";
}
.maxicons1-arrowleft:before {
  content: "l";
}
.maxicons1-arrowright:before {
  content: "m";
}
.maxicons1-edit-73:before {
  content: "n";
}
.maxicons1-enter:before {
  content: "o";
}
.maxicons1-copyrights:before {
  content: "p";
}
.maxicons1-back:before {
  content: "q";
}
.maxicons1-bag:before {
  content: "r";
}
.maxicons1-copy:before {
  content: "s";
}
.maxicons1-desktop:before {
  content: "t";
}
.maxicons1-equalizer:before {
  content: "u";
}
.maxicons1-euro:before {
  content: "v";
}
.maxicons1-disk:before {
  content: "w";
}
.maxicons1-bage:before {
  content: "x";
}
.maxicons1-bank:before {
  content: "y";
}
.maxicons1-document:before {
  content: "z";
}
.maxicons1-exit:before {
  content: "A";
}
.maxicons1-dollar:before {
  content: "B";
}
.maxicons1-bookreader:before {
  content: "C";
}
.maxicons1-donotenter:before {
  content: "D";
}
.maxicons1-bass:before {
  content: "E";
}
.maxicons1-fast:before {
  content: "F";
}
.maxicons1-frank:before {
  content: "G";
}
.maxicons1-gamepad:before {
  content: "H";
}
.maxicons1-down:before {
  content: "I";
}
.maxicons1-briliant:before {
  content: "J";
}
.maxicons1-building:before {
  content: "K";
}
.maxicons1-download:before {
  content: "L";
}
.maxicons1-games:before {
  content: "M";
}
.maxicons1-mail:before {
  content: "N";
}
.maxicons1-load-77:before {
  content: "O";
}
.maxicons1-load-27:before {
  content: "P";
}
.maxicons1-left:before {
  content: "Q";
}
.maxicons1-iwatch:before {
  content: "R";
}
.maxicons1-mac:before {
  content: "S";
}
.maxicons1-percent:before {
  content: "T";
}
.maxicons1-play:before {
  content: "U";
}
.maxicons1-graph:before {
  content: "V";
}
.maxicons1-mailsend:before {
  content: "W";
}
.maxicons1-microphone:before {
  content: "X";
}
.maxicons1-graphic:before {
  content: "Y";
}
.maxicons1-inarrows:before {
  content: "Z";
}
.maxicons1-money:before {
  content: "0";
}
.maxicons1-monitor:before {
  content: "1";
}
.maxicons1-inzoom:before {
  content: "2";
}
.maxicons1-ipad:before {
  content: "3";
}
.maxicons1-music:before {
  content: "4";
}
.maxicons1-next:before {
  content: "5";
}
.maxicons1-iphone:before {
  content: "6";
}
.maxicons1-ipod:before {
  content: "7";
}
.maxicons1-notebook:before {
  content: "8";
}
.maxicons1-onright:before {
  content: "9";
}
.maxicons1-pause:before {
  content: "!";
}
.maxicons1-outarrow:before {
  content: "\"";
}
.maxicons1-roundleft:before {
  content: "#";
}
.maxicons1-rounddown:before {
  content: "$";
}
.maxicons1-peoples:before {
  content: "%";
}
.maxicons1-roundright:before {
  content: "&";
}
.maxicons1-roundtop:before {
  content: "'";
}
.maxicons1-tv:before {
  content: "(";
}
.maxicons1-transaction:before {
  content: ")";
}
.maxicons1-shuffle-35:before {
  content: "*";
}
.maxicons1-right:before {
  content: "+";
}
.maxicons1-rouble:before {
  content: ",";
}
.maxicons1-star:before {
  content: "-";
}
.maxicons1-start:before {
  content: ".";
}
.maxicons1-top:before {
  content: "/";
}
.maxicons1-playlist:before {
  content: ":";
}
.maxicons1-rounfgraph:before {
  content: ";";
}
.maxicons1-umbrella:before {
  content: "<";
}
.maxicons2-cisco:before {
  content: "=";
}
.maxicons2-editor:before {
  content: ">";
}
.maxicons2-analyst:before {
  content: "?";
}
.maxicons2-instruction:before {
  content: "@";
}
.maxicons2-menu:before {
  content: "[";
}
.maxicons2-player:before {
  content: "]";
}
.maxicons2-shape:before {
  content: "^";
}
.maxicons2-wand:before {
  content: "_";
}
.maxicons3-baseball:before {
  content: "`";
}
.maxicons3-call:before {
  content: "{";
}
.maxicons3-cube:before {
  content: "|";
}
.maxicons3-gym:before {
  content: "}";
}
.maxicons3-locator:before {
  content: "~";
}
.maxicons3-remove-from-basket:before {
  content: "\\";
}
.maxicons3-tabletennis:before {
  content: "\e000";
}
.maxicons3-wi-fi-perfect:before {
  content: "\e001";
}
.maxicons3-window:before {
  content: "\e002";
}
.maxicons3-tack:before {
  content: "\e003";
}
.maxicons3-restaurant:before {
  content: "\e004";
}
.maxicons3-lte:before {
  content: "\e005";
}
.maxicons3-hand-basket:before {
  content: "\e006";
}
.maxicons3-cup:before {
  content: "\e007";
}
.maxicons3-call-in:before {
  content: "\e008";
}
.maxicons3-basket:before {
  content: "\e009";
}
.maxicons2-winer:before {
  content: "\e00a";
}
.maxicons2-sharp:before {
  content: "\e00b";
}
.maxicons2-plus:before {
  content: "\e00c";
}
.maxicons2-message:before {
  content: "\e00d";
}
.maxicons2-minus:before {
  content: "\e00e";
}
.maxicons2-profile:before {
  content: "\e00f";
}
.maxicons2-smallminus:before {
  content: "\e010";
}
.maxicons2-woman:before {
  content: "\e011";
}
.maxicons3-basketball:before {
  content: "\e012";
}
.maxicons3-call-out:before {
  content: "\e013";
}
.maxicons3-danger:before {
  content: "\e014";
}
.maxicons3-hanger:before {
  content: "\e015";
}
.maxicons3-market:before {
  content: "\e016";
}
.maxicons3-rice:before {
  content: "\e017";
}
.maxicons3-topboard:before {
  content: "\e018";
}
.maxicons3-workingtable:before {
  content: "\e019";
}
.maxicons3-trousers:before {
  content: "\e01a";
}
.maxicons3-shashlik:before {
  content: "\e01b";
}
.maxicons3-roller:before {
  content: "\e01c";
}
.maxicons3-trousers-1:before {
  content: "\e01d";
}
.maxicons3-shelf:before {
  content: "\e01e";
}
.maxicons3-tub:before {
  content: "\e01f";
}
.maxicons3-tub2:before {
  content: "\e020";
}
.maxicons3-shoes:before {
  content: "\e021";
}
.maxicons3-sos:before {
  content: "\e022";
}
.maxicons3-uplamp:before {
  content: "\e023";
}
.maxicons3-wi-fi:before {
  content: "\e024";
}
.maxicons3-soup:before {
  content: "\e025";
}
.maxicons3-spoon:before {
  content: "\e026";
}
.maxicons3-wi-fi-bad:before {
  content: "\e027";
}
.maxicons3-wi-fi-good:before {
  content: "\e028";
}
.maxicons3-swim:before {
  content: "\e029";
}
.maxicons3-t-shirt:before {
  content: "\e02a";
}
.maxicons3-wi-fi-no-signal:before {
  content: "\e02b";
}
.maxicons3-wi-fi-normal:before {
  content: "\e02c";
}
.maxicons3-table:before {
  content: "\e02d";
}
.maxicons3-pulse:before {
  content: "\e02e";
}
.maxicons3-on-charge:before {
  content: "\e02f";
}
.maxicons3-ok:before {
  content: "\e030";
}
.maxicons3-no-siignal:before {
  content: "\e031";
}
.maxicons3-no-signal:before {
  content: "\e032";
}
.maxicons3-network:before {
  content: "\e033";
}
.maxicons3-mug:before {
  content: "\e034";
}
.maxicons3-moto:before {
  content: "\e035";
}
.maxicons3-menu:before {
  content: "\e036";
}
.maxicons3-meat:before {
  content: "\e037";
}
.maxicons3-heart:before {
  content: "\e038";
}
.maxicons3-ice-cream:before {
  content: "\e039";
}
.maxicons3-labirint:before {
  content: "\e03a";
}
.maxicons3-ladder:before {
  content: "\e03b";
}
.maxicons3-lamp:before {
  content: "\e03c";
}
.maxicons3-lifebuoy:before {
  content: "\e03d";
}
.maxicons3-light:before {
  content: "\e03e";
}
.maxicons3-light2:before {
  content: "\e03f";
}
.maxicons3-line:before {
  content: "\e040";
}
.maxicons3-loader:before {
  content: "\e041";
}
.maxicons3-grapes:before {
  content: "\e042";
}
.maxicons3-golf:before {
  content: "\e043";
}
.maxicons3-glass:before {
  content: "\e044";
}
.maxicons3-gift:before {
  content: "\e045";
}
.maxicons3-fencing:before {
  content: "\e046";
}
.maxicons3-electric-column:before {
  content: "\e047";
}
.maxicons3-drop:before {
  content: "\e048";
}
.maxicons3-download:before {
  content: "\e049";
}
.maxicons3-edge:before {
  content: "\e04a";
}
.maxicons3-case:before {
  content: "\e04b";
}
.maxicons3-card:before {
  content: "\e04c";
}
.maxicons3-call-pass:before {
  content: "\e04d";
}
.maxicons3-dress:before {
  content: "\e04e";
}
.maxicons3-car:before {
  content: "\e04f";
}
.maxicons3-casserole:before {
  content: "\e050";
}
.maxicons3-chair:before {
  content: "\e051";
}
.maxicons3-check:before {
  content: "\e052";
}
.maxicons3-cheese:before {
  content: "\e053";
}
.maxicons3-cherry:before {
  content: "\e054";
}
.maxicons3-chess:before {
  content: "\e055";
}
.maxicons1-presentation:before {
  content: "\e056";
}
.maxicons1-prev:before {
  content: "\e057";
}
.maxicons1-print:before {
  content: "\e058";
}
.maxicons1-radio:before {
  content: "\e059";
}
.maxicons1-rec:before {
  content: "\e05a";
}
.maxicons1-refresh:before {
  content: "\e05b";
}
.maxicons1-shuffle-21:before {
  content: "\e05c";
}
.maxicons1-shield:before {
  content: "\e05d";
}
.maxicons1-shelf:before {
  content: "\e05e";
}
.maxicons1-scales:before {
  content: "\e05f";
}
.maxicons1-safe:before {
  content: "\e060";
}
.maxicons1-router:before {
  content: "\e061";
}
.maxicons1-undo:before {
  content: "\e062";
}
.maxicons1-volumemax:before {
  content: "\e063";
}
.maxicons2-archive:before {
  content: "\e064";
}
.maxicons2-anchor:before {
  content: "\e065";
}
.maxicons2-clock:before {
  content: "\e066";
}
.maxicons2-cloud:before {
  content: "\e067";
}
.maxicons2-enginering:before {
  content: "\e068";
}
.maxicons2-editting:before {
  content: "\e069";
}
.maxicons2-interface:before {
  content: "\e06a";
}
.maxicons2-justify:before {
  content: "\e06b";
}
.maxicons2-key:before {
  content: "\e06c";
}
.maxicons2-female:before {
  content: "\e06d";
}
.maxicons2-code:before {
  content: "\e06e";
}
.maxicons2-assign:before {
  content: "\e06f";
}
.maxicons1-volumenormal:before {
  content: "\e070";
}
.maxicons1-volumeoff:before {
  content: "\e071";
}
.maxicons2-base:before {
  content: "\e072";
}
.maxicons2-comment:before {
  content: "\e073";
}
.maxicons2-fire:before {
  content: "\e074";
}
.maxicons2-leftalign:before {
  content: "\e075";
}
.maxicons2-movie:before {
  content: "\e076";
}
.maxicons2-quotepaste:before {
  content: "\e077";
}
.maxicons2-speed:before {
  content: "\e078";
}
.maxicons2-zoomout:before {
  content: "\e079";
}
.maxicons3-battery-charge:before {
  content: "\e07a";
}
.maxicons3-battery-bad:before {
  content: "\e07b";
}
.maxicons2-zoomin:before {
  content: "\e07c";
}
.maxicons2-smallpluss:before {
  content: "\e07d";
}
.maxicons2-question:before {
  content: "\e07e";
}
.maxicons2-mouse:before {
  content: "\e07f";
}
.maxicons2-navigation:before {
  content: "\e080";
}
.maxicons2-paste:before {
  content: "\e081";
}
.maxicons2-pen:before {
  content: "\e082";
}
.maxicons2-new:before {
  content: "\e083";
}
.maxicons2-rain:before {
  content: "\e084";
}
.maxicons2-quotetop:before {
  content: "\e085";
}
.maxicons2-startmac:before {
  content: "\e086";
}
.maxicons2-strokes:before {
  content: "\e087";
}
.maxicons3-4g:before {
  content: "\e088";
}
.maxicons3-3g:before {
  content: "\e089";
}
.maxicons3-battery-full:before {
  content: "\e08a";
}
.maxicons3-battery-normal:before {
  content: "\e08b";
}
.maxicons3-battery-off:before {
  content: "\e08c";
}
.maxicons3-add-to-basket:before {
  content: "\e08d";
}
.maxicons2-temperature:before {
  content: "\e08e";
}
.maxicons2-rightalign:before {
  content: "\e08f";
}
.maxicons2-roadwork:before {
  content: "\e090";
}
.maxicons2-tipography:before {
  content: "\e091";
}
.maxicons3-add-to-basket2:before {
  content: "\e092";
}
.maxicons3-bed:before {
  content: "\e093";
}
.maxicons3-bottle:before {
  content: "\e094";
}
.maxicons3-cake:before {
  content: "\e095";
}
.maxicons3-bouling:before {
  content: "\e096";
}
.maxicons3-bag:before {
  content: "\e097";
}
.maxicons3-armchair:before {
  content: "\e098";
}
.maxicons3-apple:before {
  content: "\e099";
}
.maxicons3-butterfly:before {
  content: "\e09a";
}
.maxicons3-add-to-hand-basket:before {
  content: "\e09b";
}
.maxicons2-transparency:before {
  content: "\e09c";
}
.maxicons2-usb:before {
  content: "\e09d";
}
.maxicons2-video:before {
  content: "\e09e";
}
.maxicons2-view:before {
  content: "\e09f";
}
.maxicons2-send:before {
  content: "\e0a0";
}
.maxicons2-search:before {
  content: "\e0a1";
}
.maxicons2-scissors:before {
  content: "\e0a2";
}
.maxicons2-science:before {
  content: "\e0a3";
}
.maxicons2-pic:before {
  content: "\e0a4";
}
.maxicons2-male:before {
  content: "\e0a5";
}
.maxicons2-magnit:before {
  content: "\e0a6";
}
.maxicons2-lower:before {
  content: "\e0a7";
}
.maxicons2-login:before {
  content: "\e0a8";
}
.maxicons2-like:before {
  content: "\e0a9";
}
.maxicons2-fix:before {
  content: "\e0aa";
}
.maxicons2-folder:before {
  content: "\e0ab";
}
.maxicons2-book:before {
  content: "\e0ac";
}
.maxicons1-yuan:before {
  content: "\e0ad";
}
.maxicons1-weight:before {
  content: "\e0ae";
}
.maxicons2-blocks:before {
  content: "\e0af";
}
.maxicons2-copier:before {
  content: "\e0b0";
}
.maxicons2-crown:before {
  content: "\e0b1";
}
.maxicons2-comments:before {
  content: "\e0b2";
}
.maxicons2-bell:before {
  content: "\e0b3";
}
.maxicons1-wallet:before {
  content: "\e0b4";
}
.maxicons2-glasses:before {
  content: "\e0b5";
}
.maxicons2-graphtablet:before {
  content: "\e0b6";
}
.maxicons2-guide:before {
  content: "\e0b7";
}
.maxicons2-man:before {
  content: "\e0b8";
}
.maxicons2-home:before {
  content: "\e0b9";
}
.maxicons2-information:before {
  content: "\e0ba";
}
.maxicons2-map:before {
  content: "\e0bb";
}
.maxicons2-insta:before {
  content: "\e0bc";
}
.maxicons2-medal:before {
  content: "\e0bd";
}
.maxicons2-planet:before {
  content: "\e0be";
}
.maxicons2-place:before {
  content: "\e0bf";
}
.maxicons2-picarchive:before {
  content: "\e0c0";
}
.maxicons2-dribbble:before {
  content: "\e0c1";
}
.maxicons2-draw:before {
  content: "\e0c2";
}
.maxicons2-documents:before {
  content: "\e0c3";
}
.maxicons2-dislike:before {
  content: "\e0c4";
}
.maxicons2-crowp:before {
  content: "\e0c5";
}
.maxicons2-bookmark:before {
  content: "\e0c6";
}
.maxicons2-bright:before {
  content: "\e0c7";
}
.maxicons2-brush:before {
  content: "\e0c8";
}
.maxicons2-catalogue:before {
  content: "\e0c9";
}
.maxicons2-centeralign:before {
  content: "\e0ca";
}
.maxicons2-alchemy:before {
  content: "\e0cb";
}
.maxicons2-addcloud:before {
  content: "\e0cc";
}
.maxicons2-act:before {
  content: "\e0cd";
}
.maxicons1-zoom:before {
  content: "\e0ce";
}
.maxicons2-add:before {
  content: "\e0cf";
}
