h1 {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 500;
}

h2 {
  font-family: "Open Sans";
  font-weight: 300;
  //letter-spacing: 2px;
  font-size: 16px;
  margin-top: 0;

  .info-tooltip {
    font-size: 65%;
    line-height: 1;
  }
  //font-weight: $medium-weight;
}

b { font-weight: 500 }

h4 {
  font-family: "Open Sans";
  font-weight: bold;
}

h6 {
  font-weight: bold;
  letter-spacing: 1px;
}

a[class~="text-white"] {
  &:hover {
    color: darken(#fff, 10%);
  }
}

a[class~="text-white"][class*=" o-"] {
  &:hover {
    color: #fff;
  }
}

a[class*=" o-"] {
  &:hover {
    opacity: 1.0 !important;
  }
}

a.link {
  text-decoration: underline;

  &:hover {
    color: $brand-primary !important;
  }
}

a.no-link {
  text-decoration: none;
  color: #000;
}

.text-muted {
  color: $text-muted !important;
  font-size: 12px;
  letter-spacing: 1px;
  a {
    color: $text-muted !important;
    text-decoration: underline;
  }
}

ul.list-flush {
  padding-left: 15px;
}

a:focus, div:focus {
  outline: none;
}

input[type="password"] {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
