h1 {
  font-size: 18px;
  font-family: Muller;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-family: Muller, serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 0;

  .info-tooltip {
    font-size: 65%;
    line-height: 1;
  }
  font-weight: $medium-weight;
}

h4 {
  font-family: Muller, serif;
  font-weight: bold;
}

h6 {
  font-weight: $medium-weight;
  letter-spacing: 1px;
}

a[class~="text-white"] {
  &:hover {
    color: darken(#fff, 10%);
  }
}

a[class~="text-white"][class*=" o-"] {
  &:hover {
    color: #fff;
  }
}

a[class*=" o-"] {
  &:hover {
    opacity: 1.0 !important;
  }
}

a.link {
  text-decoration: underline;

  &:hover {
    color: $brand-primary !important;
  }
}

a.no-link {
  text-decoration: none;
  color: #000;
}

.text-muted {
  color: $text-muted !important;
  font-family: Muller, serif;
  font-size: 12px;
  letter-spacing: 1px;
  a {
    color: $text-muted !important;
    text-decoration: underline;
  }
}

ul.list-flush {
  padding-left: 15px;
}
