h1 {
  font-size: 36px;
  font-weight: $raleway-light;
  font-family: Raleway;
}

h2 {
  font-family: Baskerville, serif;
  font-weight: $baskerville-bold;
  font-style: italic;
  font-size: 22px;
  margin-top: 0;
}

h4 {
  font-family: Baskerville, serif;
  font-weight: $baskerville-bold;
}

a[class~="text-white"] {
  &:hover {
    color: darken(#fff, 10%);
  }
}

a[class~="text-white"][class*=" o-"] {
  &:hover {
    color: #fff;
  }
}

a[class*=" o-"] {
  &:hover {
    opacity: 1.0 !important;
  }
}

a.link {
  text-decoration: underline;

  &:hover {
    color: $brand-primary !important;
  }
}

.text-muted {
  color: $text-muted !important;
}
