$default-font-size: 1rem; //16px

@import "_variables.scss";

h1 {

}

h2 {

}


h3 {

}

h4 {

}

h5 {

}

h6 {

}

.heading-primary {}
.heading-secondary {
  font-size: $font-size-20;
  font-weight: 600;
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
}

.paragraph {
  font-size: $font-size-14;

  //&:not(:last-child) {
  //  margin-bottom: 3rem;
  //}
}

.paragraph-16 {
  font-size: $font-size-16;
}

//a[class~="text-white"] {
//  &:hover {
//    color: darken(#fff, 10%);
//  }
//}
//
//a[class~="text-white"][class*=" o-"] {
//  &:hover {
//    color: #fff;
//  }
//}
//
//a[class*=" o-"] {
//  &:hover {
//    opacity: 1.0 !important;
//  }
//}
//
//a.link {
//  text-decoration: underline;
//
//  &:hover {
//    color: $brand-primary !important;
//  }
//}
//
//a.no-link {
//  text-decoration: none;
//  color: #000;
//}
//
//.text-muted {
//  color: $text-muted !important;
//  font-size: 12px;
//  letter-spacing: 1px;
//  a {
//    color: $text-muted !important;
//    text-decoration: underline;
//  }
//}
//
//ul.list-flush {
//  padding-left: 15px;
//}
//
//a:focus, div:focus {
//  outline: none;
//}
//
//input[type="password"] {
//  padding-bottom: 0px !important;
//  padding-top: 0px !important;
//}
