.relative-wrap {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

//== Spacers

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
  min-height: 0px !important;
  height: 0px !important;
}

.m-y-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.m-y-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.m-y-2 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
.m-y-3 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.m-x-auto { margin-left: auto !important; margin-right: auto !important; }
.m-x-0 { margin-left: 0 !important; margin-right: 0 !important; }
.m-x-1 { margin-left: 1rem !important; margin-right: 1rem !important; }
.m-x-2 { margin-left: 2rem !important; margin-right: 2rem !important; }
.m-x-3 { margin-left: 3rem !important; margin-right: 3rem !important; }
.m-t-0 { margin-top: 0 !important; }
.m-t-1 { margin-top: 1rem !important; }
.m-t-2 { margin-top: 2rem !important; }
.m-t-3 { margin-top: 3rem !important; }
.m-r-0 { margin-right: 0 !important; }
.m-r-1 { margin-right: 1rem !important; }
.m-r-2 { margin-right: 2rem !important; }
.m-r-3 { margin-right: 3rem !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-b-1 { margin-bottom: 1rem !important; }
.m-b-2 { margin-bottom: 2rem !important; }
.m-b-3 { margin-bottom: 3rem !important; }
.m-l-0 { margin-left: 0 !important; }
.m-l-1 { margin-left: 1rem !important; }
.m-l-2 { margin-left: 2rem !important; }
.m-l-3 { margin-left: 3rem !important; }
.p-y-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.p-y-1 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.p-y-2 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
.p-y-3 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.p-x-0 { padding-left: 0 !important; padding-right: 0 !important; }
.p-x-1 { padding-left: 1rem !important; padding-right: 1rem !important; }
.p-x-2 { padding-left: 2rem !important; padding-right: 2rem !important; }
.p-x-3 { padding-left: 3rem !important; padding-right: 3rem !important; }
.p-x-4 { padding-left: 4rem !important; padding-right: 4rem !important; }
.p-x-5 { padding-left: 5rem !important; padding-right: 5rem !important; }
.p-a-0 { padding: 0 !important; }
.p-t-0 { padding-top: 0 !important; }
.p-t-1 { padding-top: 1rem !important; }
.p-t-2 { padding-top: 2rem !important; }
.p-t-3 { padding-top: 3rem !important; }
.p-r-0 { padding-right: 0 !important; }
.p-r-1 { padding-right: 1rem !important; }
.p-r-2 { padding-right: 2rem !important; }
.p-r-3 { padding-right: 3rem !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-b-1 { padding-bottom: 1rem !important; }
.p-b-2 { padding-bottom: 2rem !important; }
.p-b-3 { padding-bottom: 3rem !important; }
.p-l-0 { padding-left: 0 !important; }
.p-l-1 { padding-left: 1rem !important; }
.p-l-2 { padding-left: 2rem !important; }
.p-l-3 { padding-left: 3rem !important; }

.fz-1-3x { font-size: 1.3em; }
.fz-1-5x { font-size: 1.5em; }

.fw-hairline { font-weight: $hairline-weight; }
.fw-thin { font-weight: $thin-weight; }
.fw-ultralight { font-weight: $ultralight-weight; }
.fw-light { font-weight: $light-weight !important; }
.fw-regular { font-weight: $regular-weight; }
.fw-medium { font-weight: $medium-weight; }
.fw-bold { font-weight: $bold-weight; }
.fw-extrabold { font-weight: $extrabold-weight; }
.fw-black { font-weight: $black-weight; }
.fw-heavy { font-weight: $heavy-weight; }

.fw-700 { font-weight: 700 !important; }

.fs-italic { font-style: italic; }
.strong { font-weight: bold !important; }

.text-white { color: #fff; }

.td-u { text-decoration: underline; }
.td-n { text-decoration: none !important; }
.tt-u { text-transform: uppercase; }
.tt-n { text-transform: none !important; }

.ws-normal { white-space: normal; }
.ww-break { word-wrap: break-word; }

.o-8 { opacity: 0.8; }

.d-b { display: block !important; }
.d-ib { display: inline-block !important; }

.rotate-l-45 {
  transform: rotate(-45deg);
  display: inline-block;
}

.flip-x {
  transform: scaleX(-1);
  display: inline-block;
}

.border-round {
  border-radius: 50%;
}

.va-top { vertical-align: top; }

@media (min-width: $screen-md-min) {
  .pull-md-right {
    float: right;
  }
}

.border-left-2 { border-left: 2px solid #ffcc00; }

.width-110 { width: 110%; }

.hidden-bp {
  @media (min-width: $grid-float-breakpoint-max) {
    display: none;
  }
}

.show-bp {
  @media (max-width: $grid-float-breakpoint-max) {
    display: none;
  }
}