//== Spacers

.m-y-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.m-y-2 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
.m-y-3 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.m-x-1 { margin-left: 1rem !important; margin-right: 1rem !important; }
.m-x-2 { margin-left: 2rem !important; margin-right: 2rem !important; }
.m-x-3 { margin-left: 3rem !important; margin-right: 3rem !important; }
.m-t-1 { margin-top: 1rem !important; }
.m-t-2 { margin-top: 2rem !important; }
.m-t-3 { margin-top: 3rem !important; }
.m-r-1 { margin-right: 1rem !important; }
.m-r-2 { margin-right: 2rem !important; }
.m-r-3 { margin-right: 3rem !important; }
.m-b-1 { margin-bottom: 1rem !important; }
.m-b-2 { margin-bottom: 2rem !important; }
.m-b-3 { margin-bottom: 3rem !important; }
.m-l-1 { margin-left: 1rem !important; }
.m-l-2 { margin-left: 2rem !important; }
.m-l-3 { margin-left: 3rem !important; }
.p-y-1 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.p-y-2 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
.p-y-3 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.p-x-1 { padding-left: 1rem !important; padding-right: 1rem !important; }
.p-x-2 { padding-left: 2rem !important; padding-right: 2rem !important; }
.p-x-3 { padding-left: 3rem !important; padding-right: 3rem !important; }
.p-t-1 { padding-top: 1rem !important; }
.p-t-2 { padding-top: 2rem !important; }
.p-t-3 { padding-top: 3rem !important; }
.p-r-1 { padding-right: 1rem !important; }
.p-r-2 { padding-right: 2rem !important; }
.p-r-3 { padding-right: 3rem !important; }
.p-b-1 { padding-bottom: 1rem !important; }
.p-b-2 { padding-bottom: 2rem !important; }
.p-b-3 { padding-bottom: 3rem !important; }
.p-l-1 { padding-left: 1rem !important; }
.p-l-2 { padding-left: 2rem !important; }
.p-l-3 { padding-left: 3rem !important; }

.fz-1-5 { font-size: 1.5em; }

.text-white { color: #fff; }
