.m-y-0 { margin-top: 0; margin-bottom: 0; }
.m-y-1 { margin-top: 1rem; margin-bottom: 1rem; }
.m-y-2 { margin-top: 2rem; margin-bottom: 2rem; }
.m-y-3 { margin-top: 3rem; margin-bottom: 3rem; }
.m-x-auto { margin-left: auto; margin-right: auto; }
.m-x-0 { margin-left: 0; margin-right: 0; }
.m-x-1 { margin-left: 1rem; margin-right: 1rem; }
.m-x-2 { margin-left: 2rem; margin-right: 2rem; }
.m-x-3 { margin-left: 3rem; margin-right: 3rem; }
.m-t-0 { margin-top: 0; }
.m-t-05 { margin-top: 5px; }
.m-t-1 { margin-top: 1rem; }
.m-t-2 { margin-top: 2rem; }
.m-t-3 { margin-top: 3rem; }
.m-r-0 { margin-right: 0; }
.m-r-1 { margin-right: 1rem; }
.m-r-2 { margin-right: 2rem; }
.m-r-3 { margin-right: 3rem; }
.m-b-0 { margin-bottom: 0; }
.m-b-05 { margin-bottom: 5px; }
.m-b-1 { margin-bottom: 1rem; }
.m-b-2 { margin-bottom: 2rem; }
.m-b-3 { margin-bottom: 3rem; }
.m-l-0 { margin-left: 0; }
.m-l-1 { margin-left: 1rem; }
.m-l-2 { margin-left: 2rem; }
.m-l-3 { margin-left: 3rem; }
.p-y-0 { padding-top: 0; padding-bottom: 0; }
.p-y-05 { padding-top: 5px; padding-bottom: 5px; }
.p-y-1 { padding-top: 1rem; padding-bottom: 1rem; }
.p-y-2 { padding-top: 2rem; padding-bottom: 2rem; }
.p-y-3 { padding-top: 3rem; padding-bottom: 3rem; }
.p-x-0 { padding-left: 0; padding-right: 0; }
.p-x-1 { padding-left: 1rem; padding-right: 1rem; }
.p-x-2 { padding-left: 2rem; padding-right: 2rem; }
.p-x-3 { padding-left: 3rem; padding-right: 3rem; }
.p-x-4 { padding-left: 4rem; padding-right: 4rem; }
.p-x-5 { padding-left: 5rem; padding-right: 5rem; }
.p-a-0 { padding: 0; }
.p-t-0 { padding-top: 0; }
.p-t-05 { padding-top: 5px; }
.p-t-1 { padding-top: 1rem; }
.p-t-2 { padding-top: 2rem; }
.p-t-3 { padding-top: 3rem; }
.p-t-4 { padding-top: 4rem; }
.p-t-5 { padding-top: 5rem; }
.p-r-0 { padding-right: 0; }
.p-r-1 { padding-right: 1rem; }
.p-r-2 { padding-right: 2rem; }
.p-r-3 { padding-right: 3rem; }
.p-b-0 { padding-bottom: 0; }
.p-b-05 { padding-bottom: 5px; }
.p-b-1 { padding-bottom: 1rem; }
.p-b-2 { padding-bottom: 2rem; }
.p-b-3 { padding-bottom: 3rem; }
.p-l-0 { padding-left: 0; }
.p-l-1 { padding-left: 1rem; }
.p-l-2 { padding-left: 2rem; }
.p-l-3 { padding-left: 3rem; }

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

.fs-italic { font-style: italic; }
.strong { font-weight: bold; }

.td-u { text-decoration: underline; }
.td-n { text-decoration: none; }
.tt-u { text-transform: uppercase; }
.tt-n { text-transform: none; }
