@import "fonts";
$maxicons-font-path: "/fonts";
@import "maxicons";
$fa-font-path: "font-awesome/fonts";
@import "simple-line-icons";
@import "font-awesome/scss/font-awesome";
@import "bootstrap/loader";
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
@import "bootstrap-multiselect/dist/css/bootstrap-multiselect";
@import "pickadate/lib/themes/classic";
@import "pickadate/lib/themes/classic.date";
@import "pickadate/lib/themes/classic.time";
@import "ion.rangeSlider/css/ion.rangeSlider";
@import "percircle/src/css/percircle";
@import "bootstrap-switch/dist/css/bootstrap2/bootstrap-switch";

@import "grid";
@import "mixins";
@import "utilities";
@import "type";

@import "components/*";
@import "application/*";
@import "slick";
@import 'slick-theme';