/* ---------- IMPORTS ---------- */
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
// REMOVE LATER UTILITES (unneed)
@import "_vue_utilities.scss";
@import "_vue_theme.scss";
// REMOVE LATER
//@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;600&family=Varela&display=swap');


$minWidthContent: calc(62.5rem - 17.8125rem); // 1000px-285px (width minus sidebar width)

/* ---------- MAIN STYLES ---------- */
#app, body, html {
  margin: 0;
  padding: 0;
  min-height: calc(100vh);
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

#app {

}

body {
  //font-family: Avenir Next W02,Helvetica,Arial,sans-serif;
  //font-weight: 400;
  //font-size: 14px;
  //color: #33475b;
  //line-height: 24px;

  //min-width: 1440px;
  //min-width: calc(17.8125rem + 50rem); //calc(285px + 800px);

  // MEDIA FOR ALL SITE
  //@include media-breakpoint-down(xl) {
  //  background-color: lightblue;
  //}
  //@include media-breakpoint-down(lg) {
  //  background-color: yellow;
  //}
  //@include media-breakpoint-down(md) {
  //  background-color: blue;
  //}
  //@include media-breakpoint-down(sm) {
  //  background-color: red;
  //}
  //@include media-breakpoint-down(xs) {
  //  background-color: green;
  //}
}

body.modal-open {
  overflow: hidden !important;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  //This define what 1rem is
  //font-size: 87.5%; // 1rem = 16px: 14px / 16px = 87.5%

  //font-size: 68%;
  //font-size: 14px;
  //font-family: 'Varela', sans-serif;
  font-family: 'Public Sans', sans-serif;
  background-color: $gray-background;
  //overflow-y: scroll;

  //@media (max-width: 575px) {
  //  font-size: 60%;
  //}
}

*:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.wrapper {
  //position: relative;
  //top: 5rem;

  display: flex;
  //flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

// need remove or rewrite
#main-content {
  min-height: calc(100vh - 80px);
  background-color: $gray-background;
}

.main-content {
  //display: none;
  //padding: 2.5rem; //40px;
  background-color: $gray-background;
  width: 100%;
  //max-width: 1140px;
  //min-width: calc(1000px - 285px);
  //min-width: 1440px;
  //min-width: 1000px;
  //min-width: 900px;
  //min-width: 100%;
  //max-width: 100%;
  //min-width: $minWidthContent;

  overflow: auto;
  //border: solid 1px red;
}


/* ---------- TOP NAVBAR ---------- */
.navbar-nav {
  height: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: $black !important;
}

.topbar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  //z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem; // 80px;

  background-color: white;

  //border: solid 1px green;
}

.topbar-menu {
  margin-left: 2.5rem;
  //margin: 1.875rem auto 1.875rem 2.5rem; // 30px auto 30px 40px;
  //height: 100%;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: auto;
    padding: 0;
    list-style: none;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 2.5rem; // 40px;

    @media (max-width: 1000px) {
      margin-right: 0;
      width: 100%;
    }

  }

  .nav-link,
  &__link {
    font-family: 'Public Sans Regular', sans-serif;
    font-size: 1rem; // 16px
    color: $black;

    &:hover,
    &:active,
    &.active {
      text-decoration: none;
    }

    @media (max-width: 1000px) {
      display: flex;
      width: 100%;
      padding: 1rem;
      color: $white;

      &:hover,
      &:active,
      &.active {
        background-color: $primary;
        color: $white;
      }
    }
  }

  //@media (max-width: 991.98px) {
  @media (max-width: 1000px) {
    position: fixed;
    top: 5rem; //80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 5rem);
    color: $white;
    background-color: $primary-dark;
    z-index: 10;
    margin-left: 0;
  }
}

.navbar-light .navbar-toggler {

  @media (max-width: 991.98px) {
    border: none;
    display: flex;
    align-items: center;
  }
}

.navbar-expand-lg {


}

// Logo
.logo {
  //margin: 20px 20px 40px 10px;
  margin: 1.75rem 1.25rem; // 28 20 px
  //margin-right: 2.5rem; // 40px
  //max-width: 5.0625rem; //81px

  &__link {
    //width: 100%;
  }

  &__img {
    //width: 100%;
    //object-fit: contain;

    &_small {
      //margin: 1.75rem 1.25rem; // 28 20 px
      width: 1.375rem; // 22px
      height: 1.375rem;
    }

    &_full {
      //max-width: 216px;
      max-width: 160px;
    }
  }
}

.btn-topbar {
  transition: all 200ms ease-in;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: $gray-hover;
  }

  &_find {
    margin-right: 1.875rem; //30px
    color: $black !important;
    font-weight: 600 !important;
    background-color: $yellow;

    &:hover,
    &:active {
      color: #282a30;
      background-color: #ffdc5b !important;
      border-color: #ffdc5b !important;
    }

    @include media-breakpoint-down(lg) {
      margin-right: .5em;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &_notify {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.875rem; //30px
    border: none;
    //border-radius: 50%;

    ion-icon {
      font-size: 25px;
    }

    @include media-breakpoint-down(lg) {
      margin-right: .2em;
    }
  }

  //&_help {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //
  //  padding-left: 1.25rem; // 20px;
  //  padding-right: 2.5rem; // 40px;
  //  height: 100%;
  //
  //  color: #565759;
  //  border: none;
  //
  //  @include media-breakpoint-down(sm) {
  //    display: none;
  //  }
  //}
}

.topbar-right-dropdown {
  display: flex;

  border-left: solid 1px $gray-1;
  border-right: solid 1px $gray-1;
  height: 100%;
  color: $black;
  transition: all 200ms ease-in;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: $gray-hover;
  }

  &__avatar {
    margin-right: 1.25rem; // 20px;
    //width: 1.5625rem; // 25px
    //height: 1.5625rem; // 25px

    @include media-breakpoint-down(lg) {
      margin-right: .5em;
    }

    @include media-breakpoint-down(xs) {
      margin-right: 0;
    }
  }

  &__icon {
    margin-left: 0.8125rem;

    @include media-breakpoint-down(lg) {
      margin-left: .5em;
    }
  }

  .dropdown-toggle {
    margin: 0 1.25rem; // 0 20px
    width: 100%;
    height: 100%;
    color: $black;

    @include media-breakpoint-down(lg) {
      margin: 0 .5em;
    }
  }

  @include media-breakpoint-down(xs) {
    span.topbar-right-dropdown__name,
    ion-icon.topbar-right-dropdown__icon {
      display: none;
    }
  }
}

/* ---------- LEFT SIDEBAR ---------- */
.sidebar-menu {
  display: flex;
  flex-direction: column;

  padding: 0.625rem; // 10px
  width: 100%;
  min-width: 17.8125rem; // 285px;
  max-width: 17.8125rem; // 285px;
  min-height: calc(100vh - 5rem);
  background-color: #1b1c29;
  color: $white;
  transition: max-width 200ms ease-in;

  //border: solid 1px yellow;

  &.menuClosed {
    min-width: auto;
    max-width: 70px;

    ion-icon {
      margin-right: 0;
    }

    .sidebar-menu__title {
      ion-icon:first-child {
        margin-right: 0;
      }

      span {
        display: none;
      }

      ion-icon:last-child {
        display: none;
      }
    }

    .sidebar-menu__list {
      display: none;
    }

    .sidebar-menu__link {
      margin: 0;
      padding: 0;
    }

    .sidebar-menu__title,
    .sidebar-menu__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 1rem;
    }

    .sidebar-menu__btn {
      span {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    min-width: auto;
    max-width: 70px;

    .sidebar-menu__title {
      padding-left: 0;
    }

    .sidebar-menu__title,
    .sidebar-menu__link {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: none;
      }

      ion-icon:last-child {
        display: none;
      }
    }
    .sidebar-menu__list {
      display: none;
    }
    .sidebar-menu__title_settings {
      display: block;

      .sidebar-menu__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.375rem 0;
        padding-left: 10px;
        padding-top: 15px;
      }

      span {
        display: none;
      }
    }
    .sidebar-menu__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      span {
        display: none;
      }

      ion-icon {
        transform: rotate(180deg);
      }
    }

    &.menuClosed {
      min-width: 285px;
      max-width: 285px;

      ion-icon {
        margin-right: 0.625rem;
      }

      .sidebar-menu__title {
        display: flex;

        ion-icon:first-child {
          margin-right: .5rem;
        }

        span {
          display: flex;
        }

        ion-icon:last-child {
          display: flex;
        }
      }

      .sidebar-menu__title_settings {
        display: flex;
        padding: 0;

        .sidebar-menu__link {
          display: flex;
        }

        ion-icon:first-child {
          margin-right: .5rem;
        }
      }

      .sidebar-menu__list {
        display: flex;
      }

      .sidebar-menu__item {
        display: flex;
      }

      .sidebar-menu__link {
        display: flex;
        justify-content: flex-start !important;
        padding: 0.75rem 1.375rem;
      }

      .sidebar-menu__btn {
        display: flex;
        justify-content: space-between;

        span {
          display: block;
        }
      }
    }
  }

  &__central {
    flex-grow: 1;
    //border: solid 1px green;
  }

  ion-icon {
    margin-right: 0.625rem; // 10px
    //margin-right: 8px;
    font-size: 15px;
    vertical-align: middle;

    @include media-breakpoint-down(xs) {
      margin-right: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    //margin-bottom: 1.125rem; // 18px
    margin: 1.375rem 0; // 22px
    color: #f6f6f6;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 5px;

    font-family: 'Public Sans Bold', sans-serif;
    font-size: 0.75rem; // 12px
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    //font-size: 11px;

    //@media (max-width: 991.98px) {
    //  //display: none;
    //
    //  span,
    //  ion-icon:last-child {
    //    display: none;
    //  }
    //}

    &_settings {
      margin: 0;
      padding: 0;

      h3 {
        padding: 0;
        margin: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    //@media (max-width: 991.98px) {
    //  display: none;
    //}
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    font-family: 'Public Sans Regular', sans-serif;
    font-size: 0.875rem; // 14px
    //line-height: 1;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.375rem; // 12px 22px;
    width: 100%;

    font-size: 0.875rem; // 14px
    color: $white;
    border-radius: 4px;
    transition: all 200ms ease-in;

    &:hover,
    &:active,
    &.active {
      color: $white;
      text-decoration: none;
      background-color: #2f304f;
    }

    &.active {
      font-weight: 600;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem; // 20px
    padding-right: 0;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    color: $white;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    transition: all 200ms ease-in;

    &:hover,
    &:active,
    &.active,
    &:focus {
      color: $white;
      text-decoration: none;
      background-color: #2f304f;
      border: none;
      outline: none;
    }
  }
}

.dropdown-divider {
  border-color: $primary;
}

/* ---------- COMMON PAGES ---------- */
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  //overflow: auto;
  //border: solid 1px blue;

  @media (max-width: 1000px) {
    min-width: $minWidthContent;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title,
  &__title h2 {
    margin: 2.5rem auto 1.9375rem 2.5rem; // 40px auto 31px 40px
    font-size: 1.5rem; // 24px
    font-weight: 400;
    color: $black;
  }

  &__title h2 {
    margin: 0;
  }

  &__subtitle {
    font-size: 1rem;
  }

  &__actions {
    margin-right: 2.5rem; // 40px

    @include media-breakpoint-down(lg) {
      min-width: 250px;
      text-align: right;
    }
  }
}

//.nav-tabs {
//  padding-left: 2.5rem;
//}
//
.nav-tabs .nav-item .nav-link {
  //margin-left: 0;
  //margin-right: 2.5rem; // 40px
}

//.nav-tabs .nav-item a {
//  margin-left: 2.5rem !important;
//}

.nav-tabs .nav-item:first-child {
  margin-left: 2.5rem;
}

.nav-tabs .nav-item:not(:last-child) {
  margin-right: 1.25rem;
}

.nav-tabs .nav-item .nav-link.active {
  font-weight: bold;
  border-color: $yellow;
}

.card-body_full-height {
  flex-grow: 1;
  padding: 1.25rem 2.5rem !important; /* 20px 40px */
  //min-height: calc(100vh - 216px) !important;
}


// Move to comp search
.form-control_search {
  padding: 0.625rem 2.0625rem; // 10 33px
  //max-width: 25rem; //400px
  border-color: #DCDEE4;

  &::placeholder {
    color: $gray-2;
  }
}

.b-icon.bi.icon-searh {
  position: absolute;
  top: .7rem;
  left: .7rem;
  color: #565759;
}

.btn-clear {
  position: absolute;
  top: 1.25rem;
  right: .4rem;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  transition: all 200ms ease;
  transform: translateY(-50%);
}

.btn-clear:hover,
.btn-clear:active {

  &:hover,
  &:focus {
    background-color: $gray-hover;
  }

  &.active,
  &:active {
    background-color: $blue-light;
  }
}

/* ---------- LINKS ---------- */
a.link,
.link {
  color: var(--blue);
  cursor: pointer;
}

/* ---------- BUTTONS ---------- */
.btn-primary,
.btn-dark {
  color: $white;
  background-color: $black;
  border-color: $black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

/* ---------- Buttons ---------- */

/*a.btn,*/
/*button.btn {*/
/*padding: .5rem 1.2rem;*/
/*font-weight: 600;*/
/*transition: all 200ms ease-in;*/
/*}*/
/*a.btn {*/
/*padding: .6rem 1.2rem;*/
/*}*/
/*a.btn:hover,*/
/*a.btn:active,*/
/*button.btn:hover,*/
/*button.btn:active {*/
/*opacity: .6;*/
/*transform: translateY(3px);*/
/*box-shadow: 0 3px rgba(255, 193, 7, 1)*/
/*}*/

/*button.btn__menu,*/
/*button.btn__close {*/
/*padding: 0;*/
/*font-size: 1.5rem;*/
/*font-weight: 600;*/
/*}*/

/*.policy-actions .dropdown-item,*/
/*.delete button,*/
/*.delete button{*/
/*transition: all 200ms ease-in;*/
/*}*/

/*.delete button:hover,*/
/*.delete button:active{*/
/*background-color: rgba(255, 0, 0, .2);*/
/*}*/


/* ---------- DROPDOWNS ---------- */
//.actions {
//  position: relative;
//  display: block;
//  text-align: right;
//
//  &__btn {
//    padding: 0 1rem;
//    width: 2rem;
//    font-size: 1.5rem;
//    font-weight: 600;
//    background-color: transparent;
//    border: none;
//    border-radius: 3px;
//
//    &.active {
//      background-color: rgba(0, 0, 0, .1);
//    }
//  }
//}
//
//
//.actions-dropdown {
//  display: none;
//  position: absolute;
//  z-index: 2;
//  top: 100%;
//  right: 0;
//  padding: 0;
//  margin: 0;
//  list-style: none;
//  text-align: left;
//  min-width: 10rem;
//  background-color: white;
//  border: solid 1px #e9ebee;
//  border-radius: 3px;
//  box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
//
//  &.active {
//    display: block;
//  }
//
//  &__item .link {
//    display: flex;
//    width: 100%;
//    height: 100%;
//    color: inherit;
//    text-decoration: none;
//  }
//}
//
//.actions .dropdown-item,
//.actions-dropdown__item {
//  display: flex;
//  padding: .7rem 1.5rem;
//  font-size: 1rem;
//  text-wrap: none;
//  cursor: pointer;
//  text-decoration: none;
//  transition: all 200ms ease-in;
//}

//.actions .dropdown-item:hover,
//.actions .dropdown-item:active
//.actions-dropdown__item:hover,
//.actions-dropdown__item:active {
//  /*color: var(--white);*/
//  background-color: rgba(0, 123, 255, .2);
//}

//.actions .delete .dropdown-item:hover,
//.actions .delete .dropdown-item:active,
//.policy-actions .delete .dropdown-item:hover,
//.policy-actions .delete .dropdown-item:active,
//.actions-dropdown__item.delete:hover,
//.actions-dropdown__item.delete:active {
//  background-color: rgba(255, 0, 0, .2);
//}

//.dropdown-menu-right {
//  margin: 0;
//  padding: 0;
//}
//.dropdown-menu-right li {
//  padding: 0.75rem 0.625rem 0.75rem 0.625rem;
//}
//.dropdown-menu-right li:hover,
//.dropdown-menu-right li:active {
//  background-color: $gray-hover;
//}

.dropdown-item {
  padding: 0.75rem 0.625rem; // 12 10px
  font-size: 0.875rem; //14px
  color: #303132;
  transition: all 200ms ease-in;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.dropdown-item:hover,
.dropdown-item:focus {
  color: #303132;
  text-decoration: none;
  background-color: $gray-hover;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #0479FF;
  text-decoration: none;
  background-color: $blue-light;
}
a {
  color: #0479FF;
}
a:hover {
  color: #0479FF;
  text-decoration: underline;
}


/* ---------- TABLES ---------- */
.table th, .table td {

  @include media-breakpoint-down(lg) {
  //@media (max-width: 1000px) {
    padding: 0.75rem 0.35em;
    //word-break: break-all;
    //text-overflow: ellipsis;
    font-size: 12px;

    th:first-child,
    td:first-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .link,
    a.link {
      max-width: 90px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      //border: solid 1px blue;

      a,
      span {
        max-width: inherit;
        white-space: inherit;
        overflow: inherit;
        text-overflow: inherit;
      }
    }

    .m-r-1 {
      margin-right: .2em;
    }

    .btn.dropdown-toggle {
      padding: 0;
    }

    .b-icon.bi {
      font-size: 100%;
    }
  }
}

table.table,
table.table thead tr th {
  font-size: 0.875rem; //14px
  font-weight: 400;
  color: $gray-3;
  border: 0;
}

.task_table {
  .name {
    display: flex;
    align-items: center;
  }

  tbody ion-icon {
    font-size: 20px;
    vertical-align: middle;
    color: $gray-1;
  }

  .due-date {
    color: $black;
  }

  .overdue {
    //&:before {
    //content: ' ⚠️ ';
    //}

    ion-icon,
    .text-warning {
      color: #FFC900;
    }

    color: #AD841D;
  }

  .done_task {
    color: #1AB27F;
  }
}


//table {
/*width: 400px;*/
//}
//table, tr td {
/*border: 1px solid red*/
//}
.short-table thead {
  width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
}

.short-table tbody {
  display: block;
  max-height: 20rem;
  overflow: auto;
}

.short-table thead,
.short-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

/* ---------- ACCESS DENIED PAGE ---------- */
.access-denied {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &_h-100 {
    min-height: calc(100vh - 5rem - 3rem); // 80px
  }

  &__title {
    margin-bottom: 1.25rem;
  }

  &__subtitle {
    margin-bottom: 1.75rem;
  }

  &__btn {
  }

  &__logo {
    margin-bottom: 2.5rem;
    width: 8.9375rem;
    height: 8.75rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.access-denied-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/* ---------- BADGE ---------- */
.badge {
  border: 1px solid $gray-1;
  padding: 5px 15px !important;
  font-size: 0.75rem !important;
  font-weight: normal !important;
  text-transform: capitalize;
  line-height: 14px;
}

.badge-success {
  color: #1bb380;
  background-color: #d5fbef;
  border-color: #d5fbef;
}

.badge-danger {
  color: #ce1938;
  background-color: #fddee3;
  border-color: #fddee3;
}

.badge-warning {
  color: #b08824;
  background-color: #fff7e4;
  border-color: #fff7e4;
}

.badge-light {
  color: $gray-3;
  background-color: $gray-hover;
  border-color: $gray-hover;
}

.badge-progress {
  color: #2180C2;
  background-color: $blue-light;
  border-color: $blue-light;
}

.badge-secondary {
  color: #373839;
  background-color: #ffffff;
  border-color: $gray-1;
}

.badge-primary {
  color: white;
  background-color: $black;
  border-color: $black;
}

.badge.badge-risk {
  color: white;
}

.badge.badge-success.badge-risk {
  background-color: #1ab27f;
}

.badge.badge-warning.badge-risk {
  background-color: #ffc900;
}

.badge.badge-danger.badge-risk {
  background-color: #ce1938;
}


/* ---------- DASHBOARD CALENDAR ---------- */
.fc .fc-col-header-cell-cushion {
  font-weight: 100;
  padding: 0.375rem; //6px
  font-size: 0.75rem // 12px;
}

.fc-daygrid-event {
  border-radius: 4px;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-end), .fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-start) {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-right-width: 1px !important;
  //border-color: transparent;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-start), .fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-end) {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-left-width: 1px !important;
  //border-color: transparent;
}

.fc-event-title-container {
  padding: 0.25rem 0.3125rem; // 4px 5px
  padding-top: 0;
}

.fc .fc-daygrid-event {
  border-radius: 4px;
}

.task-is-task span,
.task-is-task a,
.task-is-project span,
.task-is-project a {
  //font-size: 0.75rem; // 12px
  color: #fff;
}

.task-is-project span {
  //margin: 0.25rem 0.3125rem; // 4px 5px
}

.fc-h-event .fc-event-title {
  position: relative;
  display: flex;
  align-items: center;
}

.fc-h-event .fc-event-title-container {
  align-items: center;
}

.fc-event-title.fc-sticky {

  span.pointer,
  span {
    position: relative;
    top: 4px;
    margin-right: 5px;
  }

  ion-icon {
    font-size: 1.1rem;
  }
}

.task-is-project,
.task-is-project .fc-event-title {
  background-color: #047aff !important;
  color: #dae9fe;
}

//.task-id-project a {
//  color: #fff;
//}

.task-is-task {
  border: 1px solid #1AB27F !important;
}

.task-is-task span.pointer {
  top: -2px !important;
}

.task-is-task,
.task-is-task .fc-event-title {
  background-color: #1ab27f !important;
  color: #fff;
}

.task-is-overdue {
  border: 1px solid $gray-1 !important;
}

.task-is-overdue,
.task-is-overdue .fc-event-title {
  background-color: #FFF7E4 !important;
  color: $black;
}

.task-is-overdue ion-icon[name="warning-outline"] {
  color: #FFC900;
}

.task-is-overdue a {
  color: $black;
}

/* .task-is-complete,
.task-is-complete .fc-event-title {
  background-color: #1ab27f !important;
  color: #e6f5ef;
} */
.task-is-complete {
  background-color: #e2e8f0;
  border: 1px solid #dee1e7;
  color: #454648;
}

.fc-event-title {
  font-size: 0.75rem;
  //font-weight: 400 !important;
  //line-height: 2;
}

.fc-daygrid-dot-event {
  padding: 2px 3px;
}

.fc-day-today {
  background-color: $gray-hover !important;
}

.fc-daygrid-day-number {
  color: $black !important;
  font-size: 0.75rem; //12px
}

.fc-day-other .fc-daygrid-day-number {
  color: $gray-1 !important
}

.fc-daygrid-day-top {
  display: block !important;
}

.fc-col-header-cell-cushion {
  font-weight: 400 !important;
  color: #666667 !important;
}

.fc-col-header-cell .fc-scrollgrid-sync-inner {
  text-align: left !important;
}

.fc-event-time, .fc-daygrid-event-dot {
  display: none;
}

.fc-daygrid-day-frame {
  min-height: 74px !important;
}

.fc .fc-daygrid-more-link {
  font-size: 0.75rem; //12px
  //  color: $black;
}

// DROPDOWN IN CALENDAR
.fc-theme-standard .fc-popover {
  border-radius: 0.375rem !important; //6px
  overflow: hidden;
}

.fc-theme-standard .fc-popover-header {
  font-size: 0.875rem;
  background-color: white !important;
  border-bottom: solid 1px $gray-1;
}

.fc-theme-standard .fc-popover .fc-h-event,
.fc-theme-standard .fc-popover .fc-event-title,
.fc-theme-standard .fc-popover .task-is-project span,
.fc-theme-standard .fc-popover .task-is-project a,
.fc-theme-standard .fc-popover .fc-h-event {
  color: $black !important;
  background-color: white !important;
  border: none !important;
}

.fc-theme-standard .fc-popover .fc-event-title-container {
  padding: 0.375rem 0; //6px
}


/* ---------- NOT CHECKED STYLES - START ---------- */
.border-dark-progress {
  border-top: 4px solid #2F304F;
}

.b-form-datepicker {
  .form-control, .form-control:focus {
    border: 0;
    box-shadow: none;

    .rounded-circle {
      border-radius: 0 !important;
    }

    .btn-primary.active:not(:disabled):not(.disabled) {
      background-color: #eceff4;
      border: 0 !important;
    }

    .btn:focus {
      box-shadow: none !important;
    }

    .btn-outline-primary {
      color: #000;
    }

    .btn-outline-primary:hover {
      background: #ECEFF4;
    }
  }
}

// need remove
//#top_navbar {
//  background-color: $white;
//  border-bottom: 1px solid #dfe0e6;
//  font-size: 14px;
//  .nav-item {
//    padding-left: 2.5rem;
//    padding-top: 20px;
//    padding-bottom: 20px;
//    a {
//      color: #3a3b3c;
//    }
//  }
//  //.btn { height: 30px; }
//  #notifications_dropdown {
//    font-size: 22px;
//    padding: 20px 20px 0px 20px;
//
//    .link {
//      position: relative;
//      &.active {
//        &:after {
//          position: absolute;
//          display: block;
//          content: '';
//          top: -2px;
//          right: 0;
//          width: 15px;
//          height: 15px;
//          background-color: #ffc900;
//          border-radius: 50%;
//        }
//      }
//    }
//  }
//  #helps {
//    padding-top: 22px;
//  }
//}


// need remove
#profile_dropdown {
  border-left: 1px solid #e3e5e9;
  border-right: 1px solid #e3e5e9;
  padding-top: 22px;
  padding-bottom: 20px;
}

// need remove
.dropdown-profile {
  display: flex;

  padding: 0 1rem;
  height: 100%;

  position: relative;
  border-left: 1px solid #e3e5e9;
  border-right: 1px solid #e3e5e9;

  @media (max-width: 575px) {
    padding: 0.25rem 0.75rem;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 575px) {
      font-size: 1rem;
    }
  }

  .dropdown-menu {
    position: absolute !important;
  }
}


.card-header {
  background: none !important;
  padding: 0.9375rem 1.25rem; //15 20px

  h3 {
    font-weight: 400;
    font-size: 1.25rem; //20px
    line-height: 2.35rem;
    color: $black;
  }
}

.btn.btn-default {
  border: 1px solid #dadadc;
  background-color: $white;
}

.btn.btn-default:hover,
.btn.btn-default:active {
  background-color: $gray-hover;
}


.white-card-body {
  background-color: $white;
  border-top: 2px solid #e9ebee;
}

.pointer {
  color: $gray-1;
  cursor: pointer;
}

.caret {
  display: inline-block;
  margin-left: .255em;
  margin-right: .255em;
  margin-top: -0.2em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  transition: transform ease .12s;
}

.caret.caret_rotated {
  transform: rotate(-90deg);
}

.nav-tabs {
  .nav-item {
    a {
      //border: 0;
      padding-left: 0;
      padding-right: 0;
      //margin-left: 27px;
      font-size: 1.2rem;
      color: #919396;
      border: none;
    }

    .nav-link.active {
      font-weight: 600;
      background: none !important;
      border-bottom: 4px solid #ffcc00;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
}

.userpic_small {
  width: 35px;
  border-radius: 50%;
  height: 35px;
}

.rating_table {
  width: 100%;

  h3 {
    font-size: 16px;
    color: #0A79FF
  }

  color: #7A7B7E;

  i {
    color: #373839;
  }

  tr {
    td {
      padding-top: 20px;

      &:first-child, &:last-child {
        width: 1px;
      }

      vertical-align: top;
    }

    border-bottom: 2px solid #E4E6EB;
  }
}

.borderless {
  border: 0px !important;
}

#ProjectSidebar {
  .b-sidebar-header {
    display: none;
  }
}

.project-figures {
  li {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;

    &:last-child {
      border: 0px;
    }

    &:first-child {
      padding-left: 0px;
    }
  }
}

.b-toaster-slot {
  max-width: 280px !important;
}

.b-toast {
  background-color: $black;
  border-radius: 0px;
  max-width: 280px !important;

  .toast {
    border: 0px;

    .toast-header, .toast-body {
      border-radius: 0px;
      border: 0px;
      background-color: $black;
      color: $white;

      button.close {
        color: $white;
        opacity: 1;
      }
    }

    .toast-header {
      padding-top: 10px;
      padding-bottom: 0px;
      font-size: 14px;
      font-weight: 300;
    }

    .toast-body {
      padding-top: 0px;
      padding-bottom: 10px;
    }
  }
}

/* ---------- NOT CHECKED STYLES - END ---------- */

/* ---------- reviews ---------- */
.reviews {
  &__list {
    &-icon {
      color: #cecfd2;
      font-size: 20px;

      &.checked {
        color: #1ab27f;
      }
    }

    &-link {
      font-size: 16px;
      margin: 10px 0;
      display: block;
      color: #000;
      font-weight: 300;

      &--active {
        color: #047aff;
        font-weight: normal;
      }

      &:hover {
        color: #047aff;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }

  &__input {
    //border: none;
    width: 100%;
    border: 1px solid transparent;
    transition: all 200ms ease-in;

    &:hover,
    &:active {
      border: 1px solid #dee2e6;
    }
  }

  &__topic {
    &-body {
      font-size: 16px;
      font-weight: 500;
    }

    &-label {
      color: #828487;
    }

    &-name {
      padding: .5rem;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
    }
  }

  &__checkbox {
    margin-top: 10px;

    &-item {
      line-height: 1;
      padding: 2px 7px;
      font-size: 16px;
      text-align: center;
      border: 1px solid #dee2e6;
      border-radius: 3px;
      cursor: pointer;
      transition: all 200ms ease-in;

      &.checked {
        color: $white;
      }

      &--true {
        &.checked {
          color: white;
          border-color: #1ab27f;
          background: #1ab27f;
        }
      }

      &--false {
        &.checked {
          color: white;
          border-color: #ce1938;
          background: #ce1938;
        }
      }

      &.disabled {
        opacity: 1;
      }

      &:hover, &:active {
        &:not(.disabled) {
          color: #2e304f;
          background-color: #dee2e6;
          border-color: #dee2e6;
        }
      }

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }

  &__tabs {
    .nav-tabs {
      margin-bottom: 2rem;
      background-color: white;
      border-top: 1px solid #dee2e6;

      .nav-item .nav-link, .policy .nav-tabs .nav-item .nav-link.active {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 600;
      }
    }
  }

  &__card {
    border-radius: 10px;
    border: 2px solid #e9ebee;

    &--internal {
      border-top: initial;
      border-bottom: 2px solid #e9ebee;

      &-top {
        border-bottom: initial;
      }
    }
  }

  &-table {
    &__progress {
      &-bar {
        background: #c3c3c3;
        width: 150px;
        height: 15px;

        &__item {
          height: 100%;
          background: #6fca65;
        }
      }
    }
  }
}

/* ---------- settings ---------- */
.settings {
  &__card {
    border-radius: 10px;
    border: 2px solid #e9ebee;

    &--internal {
      border-top: initial;
      border-bottom: 2px solid #e9ebee;

      &-top {
        border-bottom: initial;
      }
    }

    &--label {
      color: $gray-3;
    }
  }

  .form-control {
    padding: 0.25rem 0.75rem;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      border-color: $blue;
      box-shadow: none;
    }

    &_search {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

/* ---------- portal ---------- */
.portal {
  min-height: 100vh;
}

/* ---------- FORMS---------- */
.text-right .btn {
  /*min-width: 65px;*/
  font-weight: 600;
}

.btn.btn-dark:hover,
.btn.btn-dark:active {
  background-color: #2E304F;
  box-shadow: none;
}

.btn.btn-default:hover,
.btn.btn-default:active {
  background-color: $gray-hover;
  box-shadow: none;
}

.custom-radio:not(:last-child) {
  margin-bottom: 1rem;
}

label.required:after {
  content: " *";
  color: #ED60A6;
}

.form-control:focus,
.form-control:active {
  border: 1px solid #0378fe;
  box-shadow: none !important;
}

.form-control.is-invalid {
  border-color: #cd1837;
}

label,
legend, .label {
  color: #797b7e;
}

.otp-icon {
}

@media (max-width: 575px) {
  .otp-icon {
    width: 9.375rem; /* 150px; */
    height: 5rem; /*80px;*/
  }
}

/* ---------- Files List view ---------- */
.file-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: solid 1px #dcdee4;
  background-color: $blue-light;
}

.file-card:not(:last-child) {
  margin-bottom: 1rem;
}

.file-card__icon {
  color: #797b7e;
}

.file-card__name {
  margin-bottom: 0;
}

.file-card__link {
}

.file-card__close {
  position: relative;
}

.file-card__close::before,
.file-card__close::after {
  display: block;
  position: absolute;
  content: '.';
}

.file-card__close::before {
  top: -5px;
  left: 0;
}

.file-card__close::after {
  top: -5px;
  right: 0;
}

.file-card .dropdown-toggle::after {
  display: none;
}

/* ---------- Loading ---------- */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 145px;
}

.lds-ring-small {
  width: 25px;
  height: 25px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 140px;
  height: 140px;
  margin: 8px;
  border: 13px solid #2E304F;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2E304F $gray-1 $gray-1 $gray-1;
}

.lds-ring-small div {
  width: 15px;
  height: 15px;
  margin: 1px;
  border: 3px solid #2E304F;
  border-color: #2E304F transparent transparent transparent;
}

.lds-ring-stop div {
  animation: none;
  border-color: #2E304F #2E304F #2E304F #2E304F;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.lds-ring-stop div:nth-child(1) {
  transform: rotate(90deg);
}

.lds-ring-stop div:nth-child(2) {
  transform: rotate(180deg);
}

.lds-ring-stop div:nth-child(3) {
  transform: rotate(270deg);
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------- CUTE SCROLLBAR ---------- */
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8a8a8), to(#a8a8a8));
  background-image: linear-gradient(to top, #1B1C29, #2E304F);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


/* ---------- UTILITIES ---------- */
.p-20 {
  padding: 1.25rem !important; // 20px
}

.p-40 {
  padding: 2.5rem; // 40px
}

.p-x-20 {
  padding-left: 1.25rem !important; // 20px
  padding-right: 1.25rem !important; // 20px
}

.p-x-40 {
  padding-left: 2.5rem !important; // 40px
  padding-right: 2.5rem !important; // 40px
}

.p-y-20 {
  padding-top: 1.25rem !important; // 20px
  padding-bottom: 1.25rem !important; // 20px
}

.p-y-30 {
  padding-top: 1.875rem !important; // 30px
  padding-bottom: 1.875rem !important; // 30px
}

.p-y-40 {
  padding-top: 2.5rem !important; // 40px
  padding-bottom: 2.5rem !important; // 40px
}

.p-b-20 {
  padding-bottom: 1.25rem !important; // 20px
}


.m-20 {
  margin: 1.25rem !important; // 20px
}

.m-x-20 {
  margin-right: 1.25rem !important; //20px
  margin-left: 1.25rem !important; //20px
}

.m-y-20 {
  margin-top: 1.25rem !important; //20px
  margin-bottom: 1.25rem !important; //20px
}

.m-b-20 {
  margin-bottom: 1.25rem !important; // 20px
}

.m-b-40 {
  margin-bottom: 2.5rem !important;
}

.m-b-80 {
  margin-bottom: 5rem !important;
}
