@import "_vue_utilities.scss";
@import "_vue_theme.scss";

html {
  font-size: 12px;
  background-color: #f6f6f8;
}

*:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

#sidebarMenu {
  background-color: #1b1c29;
  color: #fff;
  ion-icon {
    font-size: 15px;
    margin-right: 8px;
    vertical-align: middle;
  }
  a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
  }
  h3 {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #f6f6f6;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  a.btn {
    width: 100%;
    text-align: left;
    margin-top: 5px;
  }
  a.btn:hover {
    background-color: #2f304f;
  }
}

#main-content {
  background-color: #f6f6f8;
}

#top_navbar {
  background-color: #fff;
  border-bottom: 1px solid #dfe0e6;
  font-size: 14px;
  .nav-item {
    padding-left: 2.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
      color: #3a3b3c;
    }
  }
  .btn { height: 30px; }
  #notifications_dropdown {
    font-size: 22px;
    padding: 20px 20px 0px 20px;
  }
  #helps {
    padding-top: 22px;
  }
}

#profile_dropdown {
  border-left: 1px solid #e3e5e9;
  border-right: 1px solid #e3e5e9;
  padding-top: 22px;
  padding-bottom: 20px;
}

.card-header { 
  background: none !important;
  padding: 13px 16px;
  h3 {
    font-weight: 400 !important;
    font-size: 16px;
    padding-top: 5px;
  }
}

.btn.btn-default { border: 1px solid #dadadc; background-color: #fff; }

table.table, table.table thead tr th {
  border: 0px;
  color: #767779;
  font-weight: 500;
}

.task_table {
  tbody ion-icon {
    font-size: 20px;
    vertical-align: middle;
    color: #d2d3d8;
  }
  .overdue {
    &:before {
      content: ' ⚠️ ';
    }
    color: #b08a2b;
  }
  .done_task {
    color: #3488FF;
  }
}

.white-card-body {
  background-color: #fff;
  border-top: 2px solid #e9ebee;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
