@import "_vue_utilities.scss";
@import "_vue_theme.scss";

html {
  font-size: 12px;
  background-color: #f6f6f8;
}

*:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.border-dark-progress {
  border-top: 4px solid #2F304F;
}

#sidebarMenu_alt {
  h3 {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #373839;
    padding-bottom: 5px;
  }
}

.badge {
  border: 1px solid #E5E5EA;
  padding: 4px 9px !important;
  font-weight: normal !important;
}

#sidebarMenu {
  background-color: #1b1c29;
  color: #fff;
  ion-icon {
    font-size: 15px;
    margin-right: 8px;
    vertical-align: middle;
  }
  h3 {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #f6f6f6;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
  }
  a.btn {
    width: 100%;
    text-align: left;
    margin-top: 5px;
  }
  a.btn:hover, a.btn.active {
    background-color: #2f304f;
  }
}

.b-form-datepicker {
  .form-control, .form-control:focus {
    border: 0px;
    box-shadow: none;
    .rounded-circle {
      border-radius: 0px !important;
    }
    .btn-primary.active:not(:disabled):not(.disabled) {
      background-color: #eceff4;
      border: 0px !important;
    }
    .btn:focus {
      box-shadow: none !important;
    }
    .btn-outline-primary {
      color: #000;
    }
    .btn-outline-primary:hover {
      background: #ECEFF4;
    }
  }
}

#main-content {
  background-color: #f6f6f8;
}

#top_navbar {
  background-color: #fff;
  border-bottom: 1px solid #dfe0e6;
  font-size: 14px;
  .nav-item {
    padding-left: 2.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
      color: #3a3b3c;
    }
  }
  .btn { height: 30px; }
  #notifications_dropdown {
    font-size: 22px;
    padding: 20px 20px 0px 20px;
  }
  #helps {
    padding-top: 22px;
  }
}

#profile_dropdown {
  border-left: 1px solid #e3e5e9;
  border-right: 1px solid #e3e5e9;
  padding-top: 22px;
  padding-bottom: 20px;
}

.dropdown-profile {
  display: flex;

  padding: 0 1rem;
  height: 100%;

  position: relative;
  border-left: 1px solid #e3e5e9;
  border-right: 1px solid #e3e5e9;

  @media (max-width: 575px) {
    padding: 0.25rem 0.75rem;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 575px) {
      font-size: 1rem;
    }
  }

  .dropdown-menu {
    position: absolute!important;
  }
}


.card-header { 
  background: none !important;
  padding: 13px 16px;
  h3 {
    font-weight: 400 !important;
    font-size: 16px;
    padding-top: 5px;
  }
}

.btn.btn-default { border: 1px solid #dadadc; background-color: #fff; }
.btn.btn-default:hover,
.btn.btn-default:active { background-color: #F3F6F9; }

table.table, table.table thead tr th {
  border: 0px;
  color: #767779;
  font-weight: 500;
}

.task_table {
  tbody ion-icon {
    font-size: 20px;
    vertical-align: middle;
    color: #d2d3d8;
  }
  .overdue {
    &:before {
      content: ' ⚠️ ';
    }
    color: #b08a2b;
  }
  .done_task {
    color: #3488FF;
  }
}

.white-card-body {
  background-color: #fff;
  border-top: 2px solid #e9ebee;
}

.pointer {
  cursor: pointer;
}

.caret {
  display: inline-block;
  margin-left: .255em;
  margin-right: .255em;
  margin-top: -0.2em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  transition: transform ease .12s;
}
.caret.caret_rotated {
  transform: rotate(-90deg);
}

.nav-tabs {
  .nav-item {
    a {
      //border: 0;
      padding-left: 0;
      padding-right: 0;
      //margin-left: 27px;
      font-size: 1.2rem;
      color: #919396;
      border: none;
    }
    .nav-link.active {
      font-weight: 600;
      background: none !important;
      border-bottom: 4px solid #ffcc00;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
}

.userpic_small {
  width: 35px;
  border-radius: 50%;
  height: 35px;
}

.rating_table {
  width: 100%;
  h3 { font-size: 16px; color: #0A79FF }
  color: #7A7B7E;
  i { color: #373839; }
  tr {
    td { 
      padding-top: 20px;
      &:first-child, &:last-child { width: 1px; }
      vertical-align: top;
    }
    border-bottom: 2px solid #E4E6EB;
  }
}

.borderless { border: 0px !important; }

#ProjectSidebar {
  .b-sidebar-header { display: none; }
}

.project-figures {
  li {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    &:last-child {
      border: 0px;
    }
    &:first-child {
      padding-left: 0px;
    }
  }
}

.b-toaster-slot {
  max-width: 280px !important;
}
.b-toast {
  background-color: #303132;
  border-radius: 0px;
  max-width: 280px !important;
  .toast {
    border: 0px;
    .toast-header, .toast-body {
      border-radius: 0px;
      border: 0px;
      background-color: #303132;
      color: #fff;
      button.close {
        color: #fff;
        opacity: 1;
      }
    }
    .toast-header {
      padding-top: 10px;
      padding-bottom: 0px;
      font-size: 14px;
      font-weight: 300;
    }
    .toast-body {
      padding-top: 0px;
      padding-bottom: 10px;
    }
  }
}


.reviews {
  &__list {
    &-icon {
      color: #cecfd2;
      font-size: 20px;
      &.checked {
        color: #1ab27f;
      }
    }
    &-link {
      font-size: 16px;
      margin: 10px 0;
      display: block;
      color: #000;
      font-weight: 300;
      &--active {
        color: #047aff;
        font-weight: normal;
      }
      &:hover {
        color: #047aff;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }
  &__input {
    //border: none;
    width: 100%;
    border: 1px solid transparent;
    transition: all 200ms ease-in;

    &:hover,
    &:active {
      border: 1px solid #dee2e6;
    }
  }
  &__topic {
    &-body {
      font-size: 16px;
      font-weight: 500;
    }
    &-label{
      color: #828487;
    }
    &-name {
      padding: .5rem;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
    }
  }
  &__checkbox {
    margin-top: 10px;
    &-item {
      line-height: 1;
      padding: 2px 7px;
      font-size: 16px;
      text-align: center;
      border: 1px solid #dee2e6;
      border-radius: 3px;
      cursor: pointer;
      transition: all 200ms ease-in;
      &.checked {
        color: #fff;
      }
      &--true {
        &.checked {
          color: white;
          border-color: #1ab27f;
          background: #1ab27f;
        }
      }
      &--false {
        &.checked {
          color: white;
          border-color: #ce1938;
          background: #ce1938;
        }
      }

      &.disabled {
        opacity: 1;
      }
      &:hover, &:active {
        &:not(.disabled) {
          color: #2e304f;
          background-color: #dee2e6;
          border-color: #dee2e6;
        }
      }

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
  &__tabs {
    .nav-tabs {
      margin-bottom: 2rem;
      background-color: white;
      border-top: 1px solid #dee2e6;
      .nav-item .nav-link, .policy .nav-tabs .nav-item .nav-link.active {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 600;
      }
    }
  }
  &__card {
    border-radius: 10px;
    border: 2px solid #e9ebee;
    &--internal {
      border-top: initial;
      border-bottom: 2px solid #e9ebee;
      &-top {
        border-bottom: initial;
      }
    }
  }
  &-table {
    &__progress {
      &-bar {
        background: #c3c3c3;
        width: 150px;
        height: 15px;
        &__item {
          height: 100%;
          background: #6fca65;
        }
      }
    }
  }
}

.settings {
  &__card {
    border-radius: 10px;
    border: 2px solid #e9ebee;
    &--internal {
      border-top: initial;
      border-bottom: 2px solid #e9ebee;
      &-top {
        border-bottom: initial;
      }
    }
    &--label {
      color: #797b7e;
    }
  }

  .form-control {
    padding: 0.25rem 0.75rem;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      border-color: #0479ff;
      box-shadow: none;
    }

    &_search {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

.portal {
  min-height: 100vh;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
