title = "<%= local_assigns[:title] == false ? '' : "<h2>#{local_assigns[:title] || 'Complect'}</h2>" %>";
options = {
  message: title + "<p><%= j message %></p>",
  backdrop: true,
  closeButton: false,
  className: 'notice <%= local_assigns[:css_class] %>'
};
bootbox.alert(options);
