options = {
  message: "<div class='modal-popup m-b-0'><h3 class='text-uppercase m-b-2'>Error</h3><p><%= j message %></p></div>",
  backdrop: true,
  closeButton: true,
  className: 'alert'
};
bootbox.dialog(options);
