#new_specialist_search {
  .form-control {
    background-color: $gray-lighter;
    font-weight: $raleway-bold;
  }

  .panel .form-control {
    background-color: #fff;
  }

  .reset {
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    color: $gray-light;
  }
}
