html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1 0 auto;
}
#footer {
  flex-shrink: 0;
}

#footer {
  .social:hover {
    color: #ffcc00;
  }
  .social {
    margin-bottom: 30px;
  }
  min-height: 207px;
  background-color: #333333;
  padding: 55px 70px 40px 70px;
  @media (max-width: $screen-sm-max) {
    padding: 55px 20px 40px 20px;
  }
  color: #ffcc00;
  .contact-us {
    p {
      font-family: "Avenir Light";
      font-size: 14px;
      padding-left: 25px;
    }
    h1 {
      font-size: 20px;
      font-family: "Nimbus Sans";
      font-weight: $bold-weight;
    }
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  .links {
    a {
      font-family: "Avenir Light";
      font-size: 16px;
      display: block;
      margin-bottom: 11px;
    }
  }

  .copyright {
    font-family: "Avenir Light";
    font-size: 14px; 
  }
/*  .copyright {
    text-align: center;
    font-size: 12px;
    font-weight: $regular-weight;
    text-transform: uppercase;
    margin-top: 0px;
  }

  .pull-right-md {
    @media (min-width: $screen-xs-max) {
      text-align: right;
      float: right;
    }
    margin-bottom: 70px;
  }

  .email {
    a {
      text-transform: uppercase;
      color: #ffcc00;
      font-size: 12px;
      weight: $light-weight;
    }
  }

  a {
    color: #fff;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .links {
    float: left;
    font-size: 12px;
    color: #ffcc00;
    margin-bottom: 50px;

    .title {
      font-weight: $bold-weight;
      margin-bottom: 5px;
      border-left: 0px;
      padding-left: 12px;
    }

    li {
      padding-bottom: 20px;
      padding-left: 10px;
      text-transform: uppercase;
      font-weight: $regular-weight;
      border-left: 2px solid #ffcc00;

      a {
        color: #ffcc00;
      }
    }

    li:last-child {
      padding-bottom: 0px;
    }
  }

  .links + .links {
    margin-left: 114px;
  }

  .social-twitter {
    margin-right: 16px;    
  }

  .social {
    margin-bottom: 17px;
    margin-top: -12px;
  }

  @media (max-width: $screen-xs-max) {
    .links, .contact {
      float: none;
      //text-align: center;
    }

    .links + .links, .contact {
      margin-left: 0;
      margin-top: 40px;
    }
  }*/
}
