#footer {
  min-height: 207px;
  background-color: #333333;
  padding: 70px 40px 40px 40px;
  color: #ffcc00;

  .copyright {
    text-align: center;
    font-size: 12px;
    font-weight: $regular-weight;
    text-transform: uppercase;
    margin-top: 0px;
  }

  .pull-right-md {
    @media (min-width: $screen-xs-max) {
      text-align: right;
      float: right;
    }
    margin-bottom: 70px;
  }

  .email {
    a {
      text-transform: uppercase;
      color: #ffcc00;
      font-size: 12px;
      weight: $light-weight;
    }
  }

  a {
    color: #fff;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .links {
    float: left;
    font-size: 12px;
    color: #ffcc00;
    margin-bottom: 70px;

    .title {
      font-weight: $bold-weight;
      margin-bottom: 40px;
      border-left: 0px;
      padding-left: 12px;
    }

    li {
      padding-bottom: 20px;
      padding-left: 10px;
      text-transform: uppercase;
      font-weight: $regular-weight;
      border-left: 2px solid #ffcc00;

      a {
        color: #ffcc00;
      }
    }

    li:last-child {
      padding-bottom: 0px;
    }
  }

  .links + .links {
    margin-left: 114px;
  }

  .social-twitter {
    margin-right: 16px;    
  }

  .social {
    margin-bottom: 30px;
  }

  @media (max-width: $screen-xs-max) {
    .links, .contact {
      float: none;
      //text-align: center;
    }

    .links + .links, .contact {
      margin-left: 0;
      margin-top: 40px;
    }
  }
}
