.businesses.edit{
  font-size: 12px;
  .panel-heading{
    padding-bottom: 0px;
    padding-top: 15px;
  }
  .input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .stripe-new .input-group-lg > .input-group-btn > .stripe-button-el{
    height: 30px;
    padding: 0 16px;
    line-height: 28px;
  }
  .multiselect.input-lg .caret, .input-group-lg > .multiselect.form-control .caret, .input-group-lg > .multiselect.input-group-addon .caret, .input-group-lg > .input-group-btn > .multiselect.btn .caret, .stripe-new .input-group-lg > .input-group-btn > .multiselect.stripe-button-el .caret{
    margin: 13px 0 19px 12px;
  }
  
  .profiles{
    max-height: 415px;
  }

  .products{
    height: 300px; 
    padding: 11px 18px;
    overflow: auto;
  }

  #logo{
    overflow: auto;
  }
}

#annual_budget_chart {
  text { font-weight: 300; font-family: "Open Sans" }
  .c3-axis-x {
    display: none;
  }

  .c3-axis-y {
    .domain {
      display: none;
    }
    .tick line {
      display: none;
    }
  }

  .c3-chart-bar {
    border-radius: 20px;
  }
}

#compliance_spend_chart {
  text { font-weight: 300; font-family: "Open Sans" }
  .c3-line {
    stroke-width: 4px;
  }
}