form#new_business, form.edit_business {
  select {
    height: $input-height-large !important;
  }

  .business_jurisdictions {
    @include clearfix;

    .checkbox {
      @include make-sm-column(3);
      @include make-xs-column(6);
      margin-top: 0;
      padding-left: 20px; // Restore awesome-bootstrap-checkbox padding
    }
  }

  .business_anonymous {
    .btn {
      width: 180px;
    }

    .help-block {
      margin: 3em 30%;
    }

    @media (max-width: $screen-xs-max) {
      .btn {
        width: 100%;

        &:first-child {
          border-bottom-left-radius: 0;
          border-top-right-radius: $btn-border-radius-large;
        }

        &:last-child {
          border-top-right-radius: 0;
          border-bottom-left-radius: $btn-border-radius-large;
        }
      }

      .help-block {
        margin: 3em 0;
      }
    }
  }

  .business_description {
    textarea {
      min-height: ($input-height-large * 2) + $form-group-margin-bottom;
    }
  }

  .custom-file-field {
    .add-button {
      $size: 134px;
      font-weight: $roboto-light;
      font-size: 82px;
      background: #fff;
      border-radius: $size / 2;
      width: $size;
      height: $size;
      line-height: $size;
      margin: 0 auto $padding-base-vertical;
    }

    .selected {
      margin: 0 auto;
    }
  }
}

#header {
  .container {
    margin-top: -$navbar-margin-bottom;
  }

  .title, .logo-container {
    @media (min-width: $screen-sm-min) {
      float: none;
      height: 280px;
      vertical-align: bottom;
      padding-bottom: 27px;
    }

    @media (max-width: $screen-xs-max) {
      text-align: center;
      height: auto;
    }
  }

  .title h1 .fa {
    $color: #a7d2ff;
    color: $color;
    font-size: 16px;
    margin-left: 5px;

    &:hover {
      text-decoration: none;
      color: darken($color, 10%);
    }
  }

  .business-logo {
    position: relative;

    .ghost {
      visibility: hidden;

      @media (max-width: $screen-xs-max) {
        visibility: visible;
        margin: 20px 0;
      }
    }

    .real {
      position: absolute;
      bottom: -70px;

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .title h1 {
      font-size: 32px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .title {
      padding-bottom: 20px;

      h1 {
        font-size: 32px;
        padding-top: 2em;
      }

      &.has-logo h1 {
        padding-top: 0;
      }

      .tools {
        float: none;
        margin-bottom: 10px;
      }
    }
  }

  .no-logo {
    @media (max-width: $screen-xs-max) {
      h1 {
        padding-top: 10px;
      }

      .tools {
        margin-top: 2em;
      }
    }
  }
}

.panel.business-info {
  h3 {
    font-size: 32px;
    font-weight: $roboto-light;
    text-align: center;
  }

  .logo {
    width: 70%;
    margin: 0 auto;
  }

  .btn-group {
    width: 100%;

    .btn {
      width: 50%;
    }
  }
}
