.feedback-request-popup {
  a .fa {
    color: #000;
    font-size: 22px;
    margin: 0px 5px;
  }
  .feedback-left {
    background-color: #000;
    img {
      margin: 35px 0;
    }
    p { color: #CCCCCC; }
  }
  .feedback-right {
    background-color: #fff;
    h1 {
      font-size: 32px;
    }
    label {
      display: none;
    }
    .col-md-5 {
      padding: 2px;
    }
    .form-group {
      margin-bottom: 2px;
    }
    textarea {
      height: 106px;
    }
    .btn-primary {
      margin-right: 30px;
    }
    p a {
      color: #000;
    }
  }
}