.my-financials {
  text-align: center;
  display: flex;

  .financial {
    flex: 1;
    padding: 0rem $padding-base-vertical;

    .description {
      font-size: 14px;
    }
  }

  .financial + .financial {
    border-left: 2px solid #ffcc00;
  }

  @media (max-width: $screen-sm-max) {
    display: block;

    .financial + .financial {
      border-left: 0;
      border-top: 1px solid $gray-light;
    }
  }

  .amount {
    font-weight: $bold-weight;
    font-family: "Muller";
    font-size: 18px;
    margin-bottom: 1rem;
  }
}
