body.forum_questions.index, body.forum_questions.search, body.forum_questions.create, body.forum_questions.show {
  .forum_answer_body {
    label {
      display: none;
    }
  }
  .search_results {
    .well {
      border: 2px solid #ffcc00;
      a {
        color: #000;
      }
    }
  }
  .forum_answer {
    background-color: #f7f7f7;
    border-radius: 9px;
    .timestamp {
      color: #c4c4c4;
    }
    .profile {
      .btn-primary {
        transform: scale(0.9);
      }
    }
    .tooltip {
      min-width: 75px;
    }
    .tooltip-inner {
      max-width: 75px; 
    }
    .stars_bg {
      transform: scale(1.3);
    }
    .forum_btns {
      position: absolute;
      bottom: 10px;
      right: 20px;
      .forum_upvote, .forum_downvote, .forum_reply_btn {
        float: left;
        font-size: 18px;
        margin-left: 15px;
        cursor: pointer;
        span {
          padding-left: 10px;
        }
        &:hover {
          color: #ffc42f;
        }
        a, span {
          color: #000;
          &:hover, &:focus {          
            text-decoration: none;
            color: #000;
          }
        }
      }
      .active a, .active span {
        color: #ffcb30;
        &:hover, &:focus {          
          color: #ffcb30;
        }
      }
    }
  }
  .best_answer {
    background-color: #ecffec;
  }
  .forum_reply {
    //border-bottom: 1px solid #aaa;
    .timestamp {
      color: #c4c4c4;
    }
    .img-circle {
      position: absolute;
      left: -26px;
      margin-top: 4px;
    }
    .answer_body {
      //background-color: #f7f7f7;
      box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.08);
      background-color: #fff;
      position: relative;
      border-radius: 17px;
      padding: 11px 11px 6px;
    }
    .arrow_left {
      width: 0; 
      height: 0; 
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent; 
      border-right:7px solid #f7f7f7; 
      position: absolute;
      left: -6px;
    }
    &:last-child {
      border-bottom: 0px;
    }
  }
  .simple_form.search {
    position: relative;
    label { display: none; }
    .search_submit {
      border: 0px;
      position: absolute;
      right: -5px;
      top: -1px;
    }
  }
  h1.text-center {
    font-size: 55px;
  }
  .simple_form.new_forum_question {
    .control-label { display: none; }
  }
  #header {
    margin-bottom: 0px;
  }
  .app_container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bottom_top_questions {
    .col-md-4 {
      h3 {
        font-weight: bold;
        font-size: 18px;
      }
      p a {
        color: #000;
      }
    }
  }
  .sub_block {
    padding: 0px 30px;
    .entry {
      background-color: #fff;
      border: 4px solid #ffc42f;
      text-align: center;
      position: relative;
      height: 230px;
      color: #000;
      h1 {
        font-family: 'Nimbus Sans';
        font-weight: bold;
        font-size: 20px;
        color: #242323;
      }
      small {
        font-family: 'Nimbus Sans';
        font-weight: bold;
        font-size: 12px;
        color: #999999;
        display: block;
        transform: translateY(-20px) translateX(-20px);
        margin-bottom: -8px;
      }
      span {
        font-family: 'Avenir Light';
        font-size: 14px;
        color: #000000;
        display: block;
        top: 155px;
        width: 100%;
      }
      .price {
        h1, h3, b {
          display: inline-block;
        }
        h1 {
          font-family: 'Muller';
          font-weight: $black-weight;
          font-size: 65px;
          margin-top: 10px;
        }
        h3 {
          font-size: 30px;
          font-family: 'Muller';
          font-weight: $black-weight;
          transform: translateY(-22px);
        }
        b {
          font-family: 'Nimbus Sans';
          font-weight: bold;
          font-size: 15px;
          transform: translateY(-16px);
        }
      }
    }
  }
  .pitch {
    background-color: #242323;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #fcc73e;
    .col-md-3 {
      h3 {
        font-family: "Nimbus Sans Cond";
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
}