body.forum_questions.index, body.forum_questions.search, body.forum_questions.create, body.forum_questions.show {
  .top_question_header {
    height: 40px;
  }
  .back_btn {
    position: absolute;
    margin-top: -43px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #ffcc00;
    line-height: 9px;
    display: flex;
    align-items: center;
    i {
      padding-right: 5px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .answers_count {
    .small {
      color: #000;
    }
  }
  .forum_hr {
    border-bottom: 1px solid #dbd9d9;
    border-top: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .metadata {
    font-family: 'Open Sans';
    font-weight: $bold-weight;
  }
  .forum_answer_body {
    label {
      display: none;
    }
  }
  .thread {
    background-color: #f3f3f3;      
  }
  .search_results {
    .well {
      border: 2px solid #ffcc00;
      a {
        color: #000;
      }
    }
  }
  .forum_answer_form {
    background-color: #f3f3f3;
  }
  .forum_answer {
    .timestamp {
      color: #000;
    }
    .profile {
      .btn-primary {
        transform: scale(0.9);
      }
    }
    .tooltip {
      min-width: 75px;
    }
    .tooltip-inner {
      max-width: 75px; 
    }
    .first_name {
      a {
        text-decoration: none;
        color: #333333;
        &:hover, &:focus {
          text-decoration: none;
          color: #333333;
        }
      }
    }
  }
  .forum_btns {
    .forum_upvote, .forum_downvote, .forum_flag_btn {
      float: left;
      font-size: 13px;
      font-weight: normal;
      font-family: 'Open Sans';
      margin-left: 15px;
      cursor: pointer;
      span {
        padding-left: 10px;
        font-weight: normal;
        color: #5c5c5c;
      }
      &:hover {
        color: #ffc42f;
      }
      a, span {
        color: #5c5c5c;
        &:hover, &:focus {          
          text-decoration: none;
          color: #5c5c5c;
        }
      }
    }
    .active a, .active span {
      color: #ffcb30;
      &:hover, &:focus {          
        color: #ffcb30;
      }
    }
  }

  @keyframes bg_colorchange {
    0%   {background: #ffbb05;}
    100%  {background: #ffffff;}
  }

  @keyframes bg_colorchange_comment {
    0%   {background: #ffbb05;}
    100%  {background: #f1f1f1;}
  }

  .new_forum_comment {
    //animation: bg_colorchange_comment 3s;
  }

  .new_forum_answer {
    //animation: bg_colorchange 3s;
  }

  .best_answer {
    background-color: #ecffec;
    .answer_body, .forum_btns {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
  .forum_reply {
    //border-bottom: 1px solid #aaa;
    .first_name {
      b {
        font-family: 'Open Sans';
        font-weight: bold;
      }
      font-size: 12px;
    }
    .timestamp {
      color: #c4c4c4;
    }
    .answer_body {
      //background-color: #f7f7f7;
      //box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.08);
      //background-color: #fff;
      position: relative;
      //border-radius: 17px;
      padding: 11px 11px 6px;
      background-color: #ffffff;
    }
    /*.arrow_left {
      width: 0; 
      height: 0; 
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent; 
      border-right:7px solid #f7f7f7; 
      position: absolute;
      left: -6px;
    }*/
    &:last-child {
      border-bottom: 0px;
    }
  }
  .simple_form.search {
    position: relative;
    label { display: none; }
    .search_submit {
      border: 0px;
      position: absolute;
      right: -5px;
      top: -1px;
    }
  }
  h1.text-center {
    font-size: 55px;
  }
  .simple_form.new_forum_question {
    .control-label { display: none; }
  }
  #header {
    margin-bottom: 0px;
  }
  .app_container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bottom_top_questions {
    .col-md-4 {
      h3 {
        font-weight: bold;
        font-size: 18px;
      }
      p a {
        color: #000;
      }
    }
  }
  .sub_block {
    padding: 0px 30px;
    .beta_info {
      font-family: "Open Sans";
      font-weight: bold;
      padding-top: 8px;
    }
    .entry {
      background-color: #fff;
      border: 4px solid #ffc42f;
      text-align: center;
      position: relative;
      height: 273px;
      color: #000;
      h1 {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 20px;
        color: #242323;
      }
      small {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 12px;
        color: #999999;
        display: block;
        transform: translateY(-20px) translateX(-20px);
        margin-bottom: -8px;
      }
      span {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 14px;
        color: #000000;
        display: block;
        top: 155px;
        width: 100%;
      }
      .price {
        h1, h3, b {
          display: inline-block;
        }
        h1 {
          font-family: 'Canela';
          font-weight: $black-weight;
          font-size: 65px;
          margin-top: 10px;
        }
        h3 {
          font-size: 30px;
          font-family: 'Canela';
          font-weight: $black-weight;
          transform: translateY(-22px);
        }
        b {
          font-family: 'Open Sans';
          font-weight: bold;
          font-size: 15px;
          transform: translateY(-16px);
        }
      }
    }
  }
  .pitch {
    background-color: #242323;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #fcc73e;
    .col-md-3 {
      h3 {
        font-family: "Open Sans";
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
  .first_button {
    margin-top: 56px !important;
  }
  @media (max-width: $screen-md-min) {
    .sub_block {
      margin-bottom: 40px;
    }
    .pitch {
      padding-bottom: 0px;
    }
  }
}

body.forum_questions.show {
  #modal {
    .modal-header, .modal-footer { display: none; }
    .modal-content { border-radius: 0px; }
    .modal-body { padding: 0px; }
  }
}