body.home.index, body.home.page {
  color: #000;
  background-color: #fafafa;

  .nav-padding {
    padding: 0 90px;
  }

  .double-margin-p p {
    margin-bottom: 2rem;
  }

  #nav {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 2px;

    a {
      color: #000;

      &:hover {
        color: $brand-primary;
      }
    }

    .dropdown-menu a {
      color: #fff;
    }
  }

  > .container {
    width: auto;
    padding: 0;
  }

  .hero-image {
    background: no-repeat fixed center;
    background-size: cover;
    color: #000;

    .btn {
      border-radius: 7px;
      border: 3px solid rgba(243, 243, 243, 1.0);
      background-color: rgba(243, 243, 243, 1.0);
      transition: background-color 0.5s ease,
      border-color 0.5s ease,
      color 0.5s ease;

      &:hover {
        border-color: rgba($brand-primary, 1.0);
        background-color: rgba(243, 243, 243, 0);
        color: rgba($brand-primary, 1.0);
      }
    }
  }

  .slogan {
    font-size: 90px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    line-height: 0.9;
    margin-top: 0;
    padding: 0 25px;
    margin-right: 40px;

    span {
      color: $brand-primary;
      display: block;
      margin-top: -8px;
      border-top: 3px solid $brand-primary;
      line-height: 0.7;
      margin-left: -25px;
      padding-left: 25px;
    }

    @media (max-width: $screen-md-max) {
      font-size: 70px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 40px;
    }

    @media (max-width: $screen-sm-max) {
      margin-right: 0;
    }
  }

  .how-it-works {
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      width: 1px;
      position: absolute;
      left: 50%;
      top: 0;
      border-left: 1px dashed #000;
      height: 1000px;
    }

    .last-step {
      height: 11em;
      background-color: #fafafa;
    }

    @media (max-width: $screen-sm-max) {
      text-align: center;

      &:before {
        display: none;
      }

      h3 {
        margin-top: 1em !important;
      }

      .step {
        margin-top: 1em !important;
      }

      .last-step {
        height: auto;
      }

      .descriptions {
        padding: 0 3em;
      }
    }

    .steps {
      text-align: center;

      .step {
        background: #f3f3f3;
        width: 56px;
        height: 56px;
        border: 2px solid #000;
        border-radius: 50%;
        line-height: 52px;
        font-size: 20px;
        margin: 0 auto;
      }
    }
  }

  .hero-dark {
    background-color: #2f2f2f;
    color: #fff;
    padding: 70px 0;
  }

  .hero-light {
    padding: 70px 0;

    .btn-primary {
      border-radius: 7px;
      border: 3px solid rgba($brand-primary, 1.0);
      background-color: rgba($brand-primary, 1.0);
      transition: background-color 0.5s ease,
      border-color 0.5s ease,
      color 0.5s ease;

      &:hover {
        border-color: rgba($brand-primary, 1.0);
        background-color: rgba($brand-primary, 0);
        color: rgba($brand-primary, 1.0);
      }
    }
  }

  .types-of-services .type-of-service {
    height: 85px;
  }

  .the-talent .talent {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 180px;

    .reveal {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      width: 180px;
      height: 180px;
      transition: opacity 0.5s ease;
      line-height: 180px;
      background-color: rgba($brand-primary, 0.7);
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;

    }

    &.two-lines .reveal {
      line-height: 1.2em;
      padding-top: 69px;
    }

    &:hover .reveal {
      opacity: 1.0;
    }
  }

  .hero-numbers {
    height: 350px;
    background-color: rgba(0, 0, 0, 0.3);

    @media (max-width: $screen-sm-max) {
      height: 450px;
    }

    @media (max-width: $screen-xs-max) {
      height: 700px;
    }
  }

  .financial-numbers {
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;

    .number {
      color: $brand-primary;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }

  #footer {
    margin-top: 0;
  }

  .default-heading {
    background: asset_url("home/graph-bg.jpg") no-repeat center;
    height: 380px;

    h1 {
      background-color: rgba(0, 0, 0, 0.15);
      margin: 0;
      line-height: 380px;
      color: #fff;
      text-transform: uppercase;
      font-size: 90px;
      text-align: center;
      font-weight: 700;
    }

    @media (max-width: $screen-xs-max) {
      h1 {
        font-size: 40px;
      }
    }
  }

  .collapsible-list {
    padding: 0;
    list-style: none;

    > li {
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;

      span {
        margin-bottom: 1rem;
        display: inline-block;
      }

      &:before {
        content: "-";
        margin-right: 5px;
      }

      &.collapsed:before {
        content: "+";
      }

      .collapse, .collapsing {
        font-weight: normal;
        font-size: 14px;
      }
    }

    li.section {
      cursor: default;

      &:before {
        display: none;
      }
    }

    li + li {
      margin-top: 1rem;
    }
  }

  .team-members {
    width: 85%;
    margin: 0 auto;

    .team-member {
      text-align: center;
      width: 209px;

      img {
        border-radius: 50%;
      }

      .name {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        margin-top: 1rem;
      }

      .position {
        font-size: 17px;
        margin: 0.3rem 0;
      }

      .linkedin {
        color: #0070b3;
        font-size: 40px;
      }
    }
  }

  .partners-list .partner {
    .your-business {
      display: inline-block;
      border: 3px solid #999;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: relative;

      &:before {
        content: "+";
        position: absolute;
        color: #999;
        font-size: 110px;
        font-family: Arial;
        text-align: center;
        width: 150px;
        height: 150px;
        line-height: 150px;
        left: 0;
        top: 0;
      }
    }

    span {
      padding: 3rem 0;
      display: block;
    }
  }

  .partner-callout {
    color: $brand-primary;
    text-transform: uppercase;
    margin: 80px 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

    a:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}

body.home.index .home-content, body.home.page .home-content {
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: Raleway;
    font-style: normal;;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: Raleway;
    text-transform: uppercase;
  }

  h4 {
    font-family: Raleway;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .ol-letters {
    list-style-type: lower-alpha;
  }

  .ol-numerals {
    list-style-type: lower-roman;
  }
}
