.job-applications {
  .job-application + .job-application {
    margin-top: 1rem;
  }

  .job-application {
    background-color: #fff;
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    display: flex;
    @include clearfix;

    .profile {
      flex-grow: 1;
      background-color: $gray;
      color: #fff;
      padding: 10px 10px 35px; // 35 = tools height + padding
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;

      .profile-image {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }

      .name {
        margin-top: calc((80px - 1em - 22px) / 2);
      }

      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px
      }

      .date {
        float: left;
        color: #fff;
        font-size: 90%;
        font-weight: bold;
        line-height: 25px;
      }

      .tools {
        float: right;

        .tool {
          border-radius: $border-radius-small;
          background-color: $gray-lighter;
          padding: 2px 7px;
        }

        .tool + .tool {
          margin-left: 4px;
        }

        .icon {
          color: $gray-dark;
        }
      }
    }

    .intro {
      clear: both;
    }

    .details {
      flex-grow: 2;
      background-color: #fff;
      padding: 20px 15px (($padding-md-vertical * 2) + ($font-size-base * $line-height-md) + 20px);
      font-size: 90%;

      .icon-list .item span {
        width: calc(100% - 1.6em);
      }
    }

    .actions {
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% + 3px); // Rounding makes this adjustment needed it seems

      .btn {
        border-radius: 0;
      }

      .btn + .btn {
        border-left: 1px solid darken($btn-primary-bg, 10%);
      }

      .btn:last-child {
        border-bottom-right-radius: $border-radius-base;
      }
    }

    @media (max-width: $screen-sm-max) {
      display: block;

      .profile {
        border-bottom-left-radius: 0;
        border-top-right-radius: $border-radius-base;
      }

      .details .actions {
        .btn:first-child {
          border-bottom-left-radius: $border-radius-base;
        }
      }
    }
  }

  .job-application[data-visibility=shortlisted] .shortlist-application,
  .job-application[data-visibility=hidden] .hide-application {
    background-color: $btn-primary-bg !important;
  }
}
