body.job_applications.index {
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;

  h1 {
    font-size: 24px;
    font-weight: $bold-weight;
  }

  .input-lg {
    border: 2px solid #ffcc00;
    border-radius: 0px;
    height: 42px;
    line-height: 33px;
    padding: 0px 14px;
    text-transform: uppercase;
    color: #333;

    .caret {
      margin-top: 17px;
      margin-left: 3px;
    }

    .btn {
      padding-top: 0px;
      padding-bottom: 0px;
      height: 32px;
      line-height: 28px;
      font-size: 12px;
    }

    .btn-group {
      .btn {
        padding-left: 10px;
      }
    }

    .form-group {
      margin-bottom: 10px;
    }
  }

  #project_search_regulator {
    right: 9px;
  }

  .search-results {
    padding-bottom: 7px;
    .card-container {
      padding-bottom: 27px;
    }
  }
}

.job-applications {
  .job-application {
    margin-bottom: 30px;
  }

  .stars {
    display: block;
    line-height: 13px;
    .star {
      font-size: 12px;        
    }
  }

  .job-application {
    background-color: #fff;
    //border-top-right-radius: $border-radius-base;
    //border-bottom-right-radius: $border-radius-base;
    display: flex;
    @include clearfix;
    -webkit-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.2);

    .panel-heading h3 {
      text-transform: none;
    }

    .profile {
      background-color: $gray;
      color: #fff;
      padding: 10px 10px;
      text-align: center; // 35 = tools height + padding
      //border-top-left-radius: $border-radius-base;
      //border-bottom-left-radius: $border-radius-base;

      .profile-image {
        width: 100px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
      }

      .name {
        font-size: 18px;
        font-weight: $medium-weight;
      }

      .footer {
        //position: absolute;
        //bottom: 0;
        //left: 0;
        width: 100%;
        //padding: 10px 0px;
      }

      .date {
        color: #fff;
        font-weight: $medium-weight;
        font-size: 12px;
      }

      .tools {
        .tool {
          padding: 2px 7px;
          border: 0px;
          font-size: 24px;

          &:hover {
            color: #fff;
          }
        }

        .tool + .tool {
          margin-left: 4px;
        }

        .icon {
          color: $gray-dark;
        }
      }
    }

    .intro {
      clear: both;
      font-size: 12px;
      font-weight: $light-weight;
    }

    .details {
      flex-grow: 2;
      background-color: #fff;
      padding: 20px 15px (($padding-md-vertical * 2) + ($font-size-base * $line-height-md));
      padding-right: 20px;
      padding-left: 20px;

      .list-icon .item span {
        //width: calc(100% - 1.6em);
        letter-spacing: 0px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
      }
    }

    .actions {
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% + 3px); // Rounding makes this adjustment needed it seems

      .btn {
        border-radius: 0;
      }

      .btn + .btn {
        border-left: 1px solid darken($btn-primary-bg, 10%);
      }
    }

    @media (max-width: $screen-sm-max) {
      display: block;

      .profile {
        border-bottom-left-radius: 0;
      }
    }
  }

  .job-application[data-visibility=shortlisted] .shortlist-application,
  .job-application[data-visibility=hidden] .hide-application {
    //background-color: $btn-primary-bg !important;
    i {
      font-weight: bolder;
      color: #fff;      
    }
  }
}
