.message-thread {
  .messages-day {
    clear: both;
    width: 100%;
    float: left;
    text-align: center;
    margin: 20px;
    font-weight: bold;
    color: darken($gray-lighter, 50%);
  }

  .messages {
    max-height: 300px;
    overflow-y: auto;
    @include clearfix;
    padding-right: $padding-base-horizontal;
  }

  .message {
    clear: both;
    width: 75%;

    @media (max-width: $screen-xs-max) {
      width: 90%;
    }

    .text {
      background-color: #fff;
      padding: 10px 12px;
      border-radius: $border-radius-large;
      margin-bottom: 0.5rem;
    }

    .author, .date {
      float: left;
    }

    .author {
      font-weight: $raleway-bold;
      font-size: 90%;
      margin-right: 1rem;
    }

    .date {
      font-size: 90%;
      color: $gray-light;
    }

    &.me {
      float: right;

      .text {
        background-color: darken($gray-lighter, 5%);
      }

      .author {
        margin-right: 0;
        margin-left: 1rem;
      }

      .author, .date {
        float: right;
      }
    }

    &.them {
      .file {
        float: right;
      }
    }
  }

  .message + .message {
    padding-top: 1.5rem;
  }
}

.message-form {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
