body.home.partnerships {
  .content-wrap {
    > .container {
      width: auto;
    }
    > .app_container {
      width: auto;
    }
  }
}

#partnerships-header {
  h1 {
    font-family: "Canela";
    font-weight: $black-weight;
    font-size: 50px;
    color: #FFC300;
    text-align: center;
  }
  h2 {
    font-family: "Open Sans";
    font-weight: $bold-weight;
    text-align: center;
  }
  .partnerships-list {
    h1 {
      text-align: left;
      font-family: "Avenir";
      font-size: 16px;
      font-weight: bold;
      color: #000;
    }
    a {
      color: #000;
    }
    .entry {
      img {
        margin-bottom: 15px;
        text-align: center;
      }
      overflow: hidden;
      width: 306px;
      height: 353px;
      margin-top: 20px;
//      height: 431px;
      padding: 17px;
      padding-bottom: 90px;
      background: #ffffff;
      margin-right: 30px;
      position: relative;
      float: left;
      font-size: 12px;
      font-family: "Avenir Light";
      letter-spacing: 0px;
      p {
        font-size: 14px;
        font-weight: bold;
        background: #fff;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        font-family: "Open Sans";
        color: #FFC304;
        padding: 17px;
        text-align: center;
        margin-bottom: 0px;
      }
    }
  }
  #partnerships-block {
    font-family: "Avenir";
    width: 853px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 16px;
    border-top: 1px solid rgb(215, 210, 196);
    .hrow {
      border-left: 1px solid rgb(215, 210, 196);
    }
    .entry {
      background: #fff;
      border-right: 1px solid rgb(215, 210, 196);
      border-bottom: 1px solid rgb(215, 210, 196);
      border-collapse: collapse;
      width: 213px;
      height: 184px;
      float: left;
      text-align: center;
      img {
        width: 77px;
        height: 77px;
        margin-bottom: 20px;
        margin-top: 30px;
      }
    }
    .entry-yellow {
      background-color: #FFC300;
      padding-top: 80px;
      text-transform: uppercase;
      img {
        display: none;
      }
    }
  }
}