body.home.partnerships {
  .content-wrap {
    > .container {
      width: auto;
    }
    > .app_container {
      width: auto;
    }
  }
  #left_navbar { display: none; }
}

#partnerships-header {
  @media (min-width: $screen-md-max) {
    padding: 0px;
    width: 100%;
  }
  .col-xs-6 {
    font-family: "Open Sans";
  }
  h1 {
    font-family: "Canela";
    font-weight: 300;
    font-size: 48px;
    color: #000;
    margin-top: 120px;
    padding-bottom: 30px;
  }
  h2 {
    font-family: "Open Sans";
    font-weight: $bold-weight;
    text-align: center;
  }
  .partnerships-list {
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 0px 100px;
    z-index: -1;
    h1 {
      text-align: center;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      color: #000;
    }
    a {
      color: #000;
    }
    .entry {
      .wrapper {
        box-shadow: 1px 1px 6px rgba(0,0,0,.1);
        img {
          margin-bottom: 15px;
          text-align: center;
        }
        overflow: hidden;
        height: 353px;
        margin-top: 20px;
  //      height: 431px;
        padding: 17px;
        padding-bottom: 90px;
        background: #ffffff;
        //margin-right: 30px;
        position: relative;
        float: left;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: 300;
        text-align: center;
        letter-spacing: 0px;
        p {
          font-size: 14px;
          font-weight: 600;
          background: #fff;
          width: 100%;
          position: absolute;
          bottom: 0px;
          left: 0px;
          font-family: "Open Sans";
          color: #FFC304;
          padding: 17px;
          text-align: center;
          margin-bottom: 0px;
        }
      }
    }
  }
  #partnerships-block {
    font-family: "Open Sans";
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 100px;
    left: 0;
    position: absolute;
    background-color: #394ad3;
    
    //border-top: 1px solid rgb(215, 210, 196);
    .entry {
      color: #fff;
      //background: #fff;
      //border-right: 1px solid rgb(215, 210, 196);
      //border-bottom: 1px solid rgb(215, 210, 196);
      border-collapse: collapse;
      width: 50%;
      @media (min-width: $screen-md-min) {
        width: 20%;
      }
      float: left;
      text-align: center;
      img {
        width: 70%;
        margin-bottom: 20px;
        margin-top: 30px;
      }
      p {
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 500;
      }
    }
    .entry-yellow {
      background-color: #FFC300;
      padding-top: 80px;
      text-transform: uppercase;
      img {
        display: none;
      }
    }
  }
}