body.home.press {
  .content-wrap {
    > .container {
      width: auto;
    }
    > .app_container {
      width: auto;
    }
  }

  #header {
    margin-bottom: 0px;
  }

  #press {
    .articles {
      padding-top: 90px;
      .article {
        a {
          color: #000;
        }
        h1 {
          font-family: "Open Sans";
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 50px;
        }
        h2 {
          font-size: 14px;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        h3 {
          font-family: "Avenir";
          font-weight: bold;
          font-size: 12px;
          margin-top: 0px;
          margin-bottom: 20px;
        }

      }
    }
    .press-kit {
      padding-top: 193px;
      text-align: center;
      h1 {
        font-size: 25px;
        font-family: "Open Sans";
        font-weight: bold;
        color: #fec200;
        margin-top: 115px;
      }
      p {
        font-family: "Avenir Light";
        font-size: 16px;
        color: #fff;
        letter-spacing: 0px;
      }
      img {
        width: 67px;
        height: 67px;
      }
      .fig {
        position: absolute;
        z-index: -1;
        margin-left: -50px;
      }
    }
    .press_header {
      background-image: asset_url("press/header.png");
      width: 444px;
      height: 123px;
      font-family: "Canela";
      font-weight: $black-weight;
      text-transform: uppercase;
      font-size: 50px;
      line-height: 127px;
      text-align: right;
      padding-right: 88px;
      color: #000;
      margin-top: 70px;
      background-size: 100%;
      margin-left: -213px;
      position: relative;
      span {
        display: block;
        position: absolute;
        right: 0px;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: bold;
        line-height: 14px;
        text-transform: uppercase;
        color: #FEC200;
        bottom: -30px;
      }
    }
  }
}