.panel.profile-info {
  .logo {
    width: 65%;
    margin: 0 auto;

    img {
      margin: 0 auto;
    }
  }

  .btn-group {
    width: 100%;

    .btn {
      width: 50%;
      font-size: 11px;
    }
  }
}
