#header .profile-header {
  @media (min-width: $screen-xs-max) {
    margin-top: 132px;  
  }
  .title h1 .linkedin {
    $color: #2777bd;
    color: $color;
    font-size: 35px;
    margin-left: 10px;
    position: relative;

    &:hover {
      text-decoration: none;
      color: darken($color, 10%);
    }

    &:before {
      position: relative;
      z-index: 1;
    }

    &:after { // White bg so the "in" is not transparent
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      background: white;
      left: 13%;
      top: 13%;
    }
  }

  .profile-image {
    position: relative;

    .ghost {
      visibility: hidden;

      @media (max-width: $screen-xs-max) {
        visibility: visible;
        margin: 20px 0;
      }
    }

    .real {
      //position: absolute;
      //bottom: 0px;
      //padding: 15px;
      border: 10px solid #ffcc00;
      border-radius: 5px;
      background-color: #fff;

      /*@media (max-width: $screen-xs-max) {
        display: none;
      }*/
    }
  }
}

.panel.profile-info {
  .logo {
    width: 65%;
    margin: 0 auto;

    img {
      margin: 0 auto;
    }
  }

  .btn-group {
    width: 100%;

    .btn {
      width: 50%;
      font-size: 11px;
    }
  }
}
