body.projects.show {
  #header {
    background-image: asset_url("header-project.jpg");
    background-position-y: -100px;

    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }
}

form.project_form {
  #project_description {
    min-height: ($input-height-large * 3) + $form-group-margin-bottom * 2;
  }

  .form-group.project_location {
    display: none;
  }

  .project-details[data-location-type*=onsite], .project-details[data-location-type*=travel] {
    .form-group.project_location {
      display: block;
    }

    #project_description {
      min-height: ($input-height-large * 4) + $form-group-margin-bottom * 3;
    }
  }

  .project_fee_type, .project_skill_selector {
    width: calc(100% - 2em);
    display: inline-block;
  }

  .project-pricing[data-pricing-type=fixed] {
    .form-group.project_hourly_rate, .form-group.project_hourly_payment_schedule {
      display: none;
    }
  }

  .project-pricing[data-pricing-type=hourly] {
    .form-group.project_fixed_budget, .form-group.project_fixed_payment_schedule {
      display: none;
    }
  }

  .form-group.project_fee_type {
    label {
      display: block;
    }

    .btn-group {
      width: 100%;
    }

    .btn {
      width: 50%;
    }
  }

  &[data-project-type=one_off] {
    .one-off { display: inherit; }
    .full-time { display: none; }

    .form-group.project_full_time_starts_on {
      display: none;
    }

    .project-salary {
      display: none;
    }
  }

  &[data-project-type=full_time] {
    .one-off { display: none; }
    .full-time { display: inherit; }

    .project-details #project_description {
      min-height: ($input-height-large * 3) + $form-group-margin-bottom * 2;
    }

    .form-group.project_key_deliverables {
      display: none;
    }

    .form-group.project_location_type {
      display: none;
    }

    .form-group.project_location {
      display: block !important;
    }

    .project-duration, .project-pricing {
      display: none;
    }
  }

  .actions {
    text-align: center;

    .btn {
      width: 185px;
    }
  }
}

body.projects.show {
  #new_flag {
    .aligned-center {
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }

    .btn-group {
      width: 100%;

      .p-x-3:first-of-type {
        width: 35%;
      }

      .p-x-3:last-of-type {
        width: 30%;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .table {
      margin-bottom: 0;
    }

    .panel-body .table td, .panel-body .table th {
      width: 50%;
    }
  }
}

.project.panel {
  .panel-heading {
    h4 {
      //height: 2.4em;
    }

    .label {
      float: right;
      border-radius: 1em;
      margin-right: -5px;
      margin-left: 10px;

      .icon {
        color: #fff;
        margin-right: 0.3em;
        font-size: 16px;
      }
    }
  }

  .icon-list .icon {
    color: $text-muted;
  }
}

.project_invite_project .multiselect-container {
  height: 292px;
  overflow-y: auto;
}

.documents-table .added-by {
  min-width: 100px;
}

@import "project/*";
