form.project_form {
  #project_description {
    min-height: ($input-height-large * 3) + $form-group-margin-bottom * 2;
  }

  .form-group.project_location {
    display: none;
  }

  .project-details[data-location-type*=remote] {
    .form-group.project_location {
      display: block;
    }

    #project_description {
      min-height: ($input-height-large * 4) + $form-group-margin-bottom * 3;
    }
  }

  .project-pricing[data-pricing-type=fixed] {
    .form-group.project_hourly_rate, .form-group.project_hourly_payment_schedule {
      display: none;
    }
  }

  .project-pricing[data-pricing-type=hourly] {
    .form-group.project_fixed_budget, .form-group.project_fixed_payment_schedule {
      display: none;
    }
  }

  .form-group.project_fee_type {
    label {
      display: block;
    }

    .btn-group {
      width: 100%;
    }

    .btn {
      width: 50%;
    }
  }

  &[data-project-type=one_off] {
    .one-off { display: inherit; }
    .full-time { display: none; }

    .form-group.project_full_time_starts_on {
      display: none;
    }

    .project-salary {
      display: none;
    }
  }

  &[data-project-type=full_time] {
    .one-off { display: none; }
    .full-time { display: inherit; }

    .project-details #project_description {
      min-height: ($input-height-large * 3) + $form-group-margin-bottom * 2;
    }

    .form-group.project_key_deliverables {
      display: none;
    }

    .form-group.project_location_type {
      display: none;
    }

    .form-group.project_location {
      display: block !important;
    }

    .project-duration, .project-pricing {
      display: none;
    }
  }

  .skills-required {
    @include list-unstyled;

    li {
      display: inline-block;
      background-color: #fff;
      padding: 10px 15px;
      color: #000;
      border-radius: $border-radius-base;
      margin-right: 14px;
      margin-bottom: 14px;

      span {
        vertical-align: middle;
        line-height: 1.3em;
      }
    }

    .remove {
      margin-left: 10px;
      cursor: pointer;
      font-size: 1.3em;
      line-height: 1em;
      color: #666;
    }
  }

  .actions {
    text-align: center;

    .btn {
      width: 185px;
    }
  }
}

body.projects.show {
  @media (max-width: $screen-sm-max) {
    .table {
      margin-bottom: 0;
    }

    .panel-body .table td, .panel-body .table th {
      width: 50%;
    }
  }
}

.project.panel {
  .panel-heading {
    .label {
      float: right;
      border-radius: 1em;

      .icon {
        color: #fff;
        margin-right: 0.3em;
        font-size: 16px;
      }
    }
  }

  .panel-body {
    h4 {
      font-size: 22px;
      font-weight: $roboto-light;
      line-height: 25px;
      height: 2.4em;
      overflow: hidden;
      margin: 0;
    }
  }

  &.full_time-project {
    .panel-body h4 {
      position: relative;
      padding-right: 1.2em;

      &:before {
        content: "\e00f";
        font-family: maxicons;
        position: absolute;
        right: 0;
        top: 0;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8em;
        font-size: 15px;
        text-align: center;
        color: #fff;
        background-color: #898989;
        border-radius: 50%;
      }
    }
  }
}
