.seats_info {
  font-size: 9px;
  font-weight: normal;
  h3 {
    color: #ACACAC;
    font-family: "Open Sans" !important;
    font-size: 10px!important;
    font-weight: 600 !important;
  }
  .progress {
    height: 3px;
    background-color: #8898AA;
  }
}