.modal-wrapper {
  background-color: #ffffff;
  padding: 10px;
  @media screen and (max-width: $screen-xs-min) { 
    padding: 0px;
  }
}

.forgot-password {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: $light-weight;
  color: #666666;

  a {
    color: #666666;
  }
}

#reset-password {
  @media (min-width: $screen-sm-min) {
    width: 500px;  
  }
  margin-left: auto;
  margin-right: auto;
  position: relative;

  h4 {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: $medium-weight;
    margin-top: 12px;
  }

  p {
    font-size: 14px;
    font-weight: $light-weight;
    line-height: 16px;
  }

  /*.user_email {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #FFCC01;
    input {
      font-size: 14px;
      padding: 24px 16px;
    }
  }*/

  .btn-primary {
    padding: 12px 67px;
    font-weight: $medium-weight;
  }
}

#choose-signup {
  //padding: 30px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  //padding-top: 60px !important;
  .modal-wrapper {
    background-color: transparent;
  }
  @media screen and (min-width: $screen-md-min) { 
    width: 650px;
  }
  div[class*="col-"] {
    padding: 0px 0px;
  }
  .modal-fake {
    //width: 271px;
    //height: 298px;
    border: 0px;
    box-shadow: 1px 1px 6px rgba(0,0,0,.1);

    h2 {
      font-family: Canela;
      font-size: 18px;;
      font-weight: lighter;
      font-style: normal;
      margin-top: 10px;
    }

    p {
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: $bold-weight;
      line-height: 24px;
      span {
        letter-spacing: 0.1em;
        font-size: 30px;
      }
    }

    .icon-briefcase, .icon-user {
      font-size: 84px;
    }

    h4 {
      font-size: 16px;
      font-family: "Open Sans";
      font-weight: $light-weight;
    }

    .btn-lg {
      padding: 13px 16px;
      font-weight: $light-weight;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }


  }
}

#sign-in {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media (min-width: $screen-sm-min) {
    width: 549px;
  }

  .input-lg {
    //border: 3px solid #FFCC01;
    //border-radius: 0px;
    //font-weight: $light-weight;
  }

  h4 {
    margin: 20px 0px 15px 0px;
  }

  .modal-fake {
    //width: 520px;
    padding: 20px 35px;
    @media screen and (max-width: $screen-xs-min) { 
      //padding: 35px 10px;
      border: 0px;
    }
  }

  .btn {
    height: 44px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
  }

  .btn-social-linkedin {
    width: 240px;
    padding: 0;
    line-height: 40px;
    margin: 0 auto;
    .social {
      width: 32px;
      height: 32px;
      line-height: 28px;
      font-size: 20px;
    }
  }

  .new-user {
    margin-top: 30px;
    height: 144px;
  }

  .form-group {
    margin-bottom: 8px;
  }
}

#sign-in, #reset-password, #choose-signup {
  .btn-primary:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
    cursor: pointer;
  }
}