#choose-signup {
  .modal-fake {
    width: 271px;
    height: 298px;

    h2 {
      font-family: Muller;
      font-size: 18px;;
      font-weight: lighter;
      font-style: normal;
      margin-top: 10px;
    }
  }

  .btn {
    height: 46px;
  }
}

#sign-in {
  .modal-fake {
    width: 474px;
    padding: 26px;
  }

  .btn {
    height: 46px;
  }

  .btn-social-linkedin {
    width: 199px;
    color: #fff;
    padding: 0;
    line-height: 45px;
    margin: 0 auto;
  }

  .forgot-password {
    text-decoration: underline;
    color: #000;
  }

  .new-user {
    margin-top: 30px;
    height: 144px;
  }
}
