.container form.new_session, .container #choose-signup {
  @include make-xs-column(12);
  @include make-sm-column(8);
  @include make-sm-column-push(2);
  @include make-md-column(6);
  @include make-md-column-push(3);
}

.modal a.forgot-password {
  color: #fff;
}

#choose-signup {
  .modal-fake {
    width: 271px;
    height: 298px;

    h2 {
      font-family: Raleway;
      font-size: 18px;;
      font-weight: $raleway-light;
      font-style: normal;
      margin-top: 10px;
    }
  }

  .btn {
    height: 46px;
  }
}
