.container form.new_session, .container #choose-signup {
  @include make-xs-column(12);
  @include make-sm-column(8);
  @include make-sm-column-push(2);
  @include make-md-column(6);
  @include make-md-column-push(3);
}

#choose-signup {
  .modal-fake {
    width: 271px;
    height: 298px;

    h2 {
      font-family: Raleway;
      font-size: 18px;;
      font-weight: $raleway-light;
      font-style: normal;
      margin-top: 10px;
    }
  }

  .btn {
    height: 46px;
  }
}

#sign-in {
  .modal-fake {
    width: 474px;
    height: 373px;
    padding: 26px;
  }

  .btn {
    height: 46px;
  }

  .btn-social-linkedin {
    width: 199px;
    color: #fff;
    padding: 0;
    line-height: 45px;
    margin: 0 auto;
  }

  .forgot-password {
    text-decoration: underline;
    color: #000;
  }

  .new-user {
    margin-top: 30px;
    height: 144px;
  }
}
