.settings-nav {
  list-style-type: none;
  padding-left: 10px;
  border-left: 2px solid #ffcc00;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 15px;

  .active a {
    color: #ffcc33;
  }

  li a {
    font-size: 13px;
    font-weight: $bold-weight;
    text-decoration: none;
  }

  .btn-md {
    padding: 7px 14px;
  }
}

.subscription_settings {
  .subscription_plan, .subscription_charge {
    .btn-group {
      position: absolute;
      right: 0px;
      margin-top: -10px;
    }
  }
}

#business-settings, #specialist-settings {
  margin-top: 8px;

  .clipboard-button {
    display: none;
  }

  .clipboard--supported .clipboard-button {
    display: initial;
  }

  .multiselect-parent .btn-default {
    border-color: #ffcc00;
  }

  input.form-control {
    border-color: #ffcc00;
  }

  table.payment-details {
    border-top: 0px;
    tr, td {
      border-top: 0px;
      border-bottom: 1px solid #dddddd;
    }

    tr.primary {
      border-bottom: 2px solid #ffcc00;
    }

    td:first-child {
      width: 10px;
    }

    strong {
      font-weight: $bold-weight;
    }
  }

  table.notification-preferences {
    td {
      padding-left: 0px;
      padding-right: 0px;
      line-height: 25px;
    }
  }

  table.manage-employees {
    border-top: 0px;

    tr, td {
      border-top: 0px;
      border-bottom: 1px solid #dddddd;
    }
  }

  .delete-account {
    border: 2px solid #ffcc00;

    a {
      text-decoration: underline;
    }
  }
}

body.payment_settings #specialist-settings {
  .info-tooltip {
    margin-top: 0px;
    margin-left: 10px;
  }
}
