.settings-nav, .helps-nav {
  list-style-type: none;
  padding-left: 10px;
  //border-left: 2px solid #FFCC01;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 15px;

  .active a {
    color: #ffcc33;
  }

  li a {
    font-size: 16px;
    font-weight: $medium-weight;
    text-decoration: none;
  }

  .btn-md {
    padding: 7px 14px;
  }
}

#business-settings, #specialist-settings {
  .subscriptions-table {
    b {
      font-family: "Open Sans";
      font-weight: bold;
      font-size: 12px;
    }
    .col-xs-2, .col-xs-3 {
      padding: 0px !important;
    }
  }
  margin-top: 8px;
  padding-left: 0px;
  .clipboard-button {
    display: none;
  }

  .clipboard--supported .clipboard-button {
    display: initial;
  }

  .multiselect-parent .btn-default {
    border-color: #FFCC01;
  }

  input.form-control {
    border-color: #FFCC01;
  }

  table.payment-details {
    border-top: 0px;
    tr, td {
      border-top: 0px;
      border-bottom: 1px solid #dddddd;
    }

    tr.primary {
      border-bottom: 2px solid #FFCC01;
    }

    td:first-child {
      width: 10px;
    }

    strong {
      font-weight: $bold-weight;
    }
  }

  table.notification-preferences {
    td {
      padding-left: 0px;
      padding-right: 0px;
      line-height: 25px;
    }
  }

  table.manage-employees {
    border-top: 0px;

    tr, td {
      border-top: 0px;
      border-bottom: 1px solid #dddddd;
    }
  }

  .delete-account {
    border: 2px solid #FFCC01;

    a {
      text-decoration: underline;
    }
  }
}

body.payment_settings #specialist-settings {
  .info-tooltip {
    margin-top: 0px;
    margin-left: 10px;
  }
}

.payment-sources-table {
  tr {
    background-color: #fff !important;
  }
  .payment_source_primary, .payment_source_not_primary {
    background-image: url(asset_path("checkbox_y.png"));
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: cover;
  }
  .payment_source_primary {
    background-position: 0px 0px;
  }
  .payment_source_not_primary {
    background-position: 0px -98px;
  }
}