.signup_form, .business_step, .i_dunno {
  display: none;
  .form_error {
    border-color: #ff0000;
  }
  .btn-default.back {
    width: 120px;
  }
}

.business_step {
  .choices {
    .btn {
      text-align: left;
      input[type=checkbox] {
        margin-right: 5px;
      }
      span {
        span {
          text-transform: none;
          display: block;
          font-size: 16px;
          font-weight: normal;
          font-style: italic;
        }
      }
    }
    .btn.active {
      background-color: #000;
      color: #fff;
      border-color: #000;
      &:focus {
        background-color: #000 !important;
        border-color: #000 !important;
      }
    }
  }
}

.business_step4, .business_step41, .business_step42 {
  .choices {
    .btn {
      span {
        span {
          display: inline-block;
          font-style: normal;
        }
      }
    }
  }
}