.signup_form, .business_step, .i_dunno, .specialist_step {
  display: none;
  .form_error {
    border-color: #ff0000;
  }
  .btn-default.back {
    width: 120px;
  }
  #specify_other {
    position: absolute;
    bottom: -46px;
    left: 15px;
    right: 0px;
    height: 35px;
    padding: 10px;
    width: 90%;
  }
  .alt_step { display: none; }
}

.business_step, .specialist_step {
  .choices {
    .btn {
      text-align: left;
      input[type=checkbox] {
        margin-right: 5px;
      }
      span {
        span {
          text-transform: none;
          display: block;
          font-size: 16px;
          font-weight: normal;
          font-style: italic;
        }
      }
    }
    .btn.active {
      background-color: #000;
      color: #fff;
      border-color: #000;
      &:focus {
        background-color: #000 !important;
        border-color: #000 !important;
      }
    }
  }
}

.business_step4, .business_step41, .business_step42, .specialist_step3, .specialist_step31, .specialist_step32 {
  .choices {
    .btn {
      span {
        span {
          display: inline-block;
          font-style: normal;
        }
      }
    }
  }
}