.skill-tags {
  white-space: normal;
  @include clearfix;

  .skill-tag {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.5em;
  }
}

.skill-tag {
  padding: .3em .7em .4em;
  background-color: #dadada;
  border-radius: $border-radius-base;
  color: #000;
  font-size: 100%;
}

.skills-required {
  @include list-unstyled;

  li {
    display: inline-block;
    background-color: #fff;
    padding: 5px 12px;
    color: #000;
    border-radius: $border-radius-base;
    margin-right: 14px;
    margin-bottom: 14px;
    border: 1px solid #FFCC01;

    span {
      vertical-align: middle;
      line-height: 1.3em;
    }
  }

  .remove {
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.3em;
    line-height: 1em;
    color: #666;
    display: inline-block;
    margin-top: -3px;
  }
}
