.card.specialist {
  .panel-heading {
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
    height: 116px;

    .avatar {
      position: absolute;
    }

    .avatar img {
      border-radius: 50%;
    }

    .name {
      margin-top: 8px; // Magic number to center with avatar
      font-weight: $raleway-light;
      white-space: nowrap;
      overflow: hidden;
    }

    .name, .rating {
      padding-left: 75px;
    }

    .rating .stars {
      display: block;
      line-height: 13px;
    }

    .favourite {
      position: absolute;
      top: 3px;
      right: 2px;

      .icon {
        color: rgba(255, 255, 255, 0.3);
      }

      &.active .icon, &:hover .icon {
        color: $brand-primary;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .panel-body .icon-list {
    margin: 0;
  }
}
