.card.specialist {
  .panel-heading {
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;

    .avatar {
      position: absolute;
      top: 14px;
      left: 20px;
    }

    .avatar img {
      border-radius: 50%;
    }

    .name {
      font-weight: $raleway-light;
      white-space: nowrap;
      overflow: hidden;
      padding-bottom: 0.5em;
    }

    .name, .rating {
      padding-left: 75px;
    }

    .rating .stars {
      display: block;
      line-height: 13px;
    }

    .favourite {
      position: absolute;
      top: 7px;
      right: 2px;

      .icon {
        color: rgba(255, 255, 255, 0.3);
      }

      &.active .icon, &:hover .icon {
        color: $brand-primary;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .panel-body .icon-list {
    margin: 0;
  }
}

.form-specialist {
  #work-experiences {
    position: relative;

    > :nth-last-child(2) {
      .remove {
        padding-right: 7em;
      }
    }

    .add {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  #education-histories {
    position: relative;

    > :nth-last-child(2) {
      .remove {
        padding-right: 7em;
      }
    }

    .add {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .specialist_skill_selector {
    width: calc(100% - 2em);
    display: inline-block;
  }

  .form-group.specialist_work_experiences_from, .form-group.specialist_work_experiences_to {
    input {
      padding-right: 2em;
    }

    &:after {
      font-family: FontAwesome;
      content: "\f133";
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%;
      line-height: $input-height-large;
      color: lighten($text-muted, 10%);
      pointer-events: none;
    }
  }
}
