@import 'specialist/*';

body.specialists.show {
  #header {
    background-image: asset_url("header-profile.jpg");
    background-position-y: -100px;

    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }
}

.card.specialist {
  .panel-heading {
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;

    .avatar {
      position: absolute;
      top: 14px;
      left: 20px;
      width: 60px;
      height: 60px;
    }

    .avatar img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    .name {
      font-weight: $raleway-light;
      white-space: nowrap;
      overflow: hidden;
      padding-bottom: 0.5em;
      text-overflow: ellipsis;
    }

    .name, .rating {
      padding-left: 75px;
    }

    .rating .stars {
      display: block;
      line-height: 13px;
    }

    .favorite {
      position: absolute;
      top: 7px;
      right: 2px;

      .icon {
        color: rgba(255, 255, 255, 0.3);
      }

      &.active .icon, &:hover .icon {
        color: $brand-primary;
      }

      &:hover, &:focus {
        text-decoration: none;
        outline: none;
      }
    }
  }

  .panel-body .icon-list {
    margin: 0;
  }
}

.form-specialist {
  .time_zone {
    color: $gray;
  }
  #work-experiences {
    position: relative;

    & > :nth-last-child(3) {
      .remove {
        margin-right: 2em;
      }
    }

    .add {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  #education-histories {
    position: relative;

    & > :nth-last-child(3) {
      .remove {
        margin-right: 2em;
      }
    }

    .add {
      position: absolute;
      right: 0;
      bottom: 0;
    }

  }

  .specialist_education_histories_year .multiselect-container {
    max-height: 200px;
    overflow: auto;
  }

  // New/edit forms differ a bit so we need to adjust
  &#new_specialist #education-histories {
    > :nth-last-child(3) {
      .remove {
        margin-right: 0;
      }
    }

    > :nth-last-child(2) {
      .remove {
        margin-right: 2em;
      }
    }
  }

  &#new_specialist #work-experiences {
    > :nth-last-child(3) {
      .remove {
        margin-right: 0;
      }
    }

    > :nth-last-child(2) {
      .remove {
        margin-right: 2em;
      }
    }
  }

  .specialist_skill_selector {
    width: calc(100% - 2em);
    display: inline-block;
  }

  .form-group.specialist_work_experiences_from, .form-group.specialist_work_experiences_to {
    input {
      padding-right: 2em;
    }

    &:after {
      font-family: FontAwesome;
      content: "\f133";
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%;
      line-height: $input-height-large;
      color: lighten($text-muted, 10%);
      pointer-events: none;
    }
  }
}
