body.specialists.index {
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;

  .new_specialist_search {
    .input-lg {
      border: 2px solid #ffcc00;
      border-radius: 0px;
      height: 32px;
      line-height: 28px;
      padding: 0px 10px;
      text-transform: uppercase;
      color: #333;

      .caret {
        margin-top: 14px;
      }
    }

    #specialist_search_regulator {
      right: 9px;
    }
  }

  .search-results {
    padding-bottom: 7px;
    .card-container {
      padding-bottom: 27px;
    }
  }
}

body.specialists.show {
  /*#header {
    background-image: asset_url("header-profile.jpg");
    background-position-y: -100px;

    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }*/

  #header {
    background-image: asset_url("header-profile.jpg");
    //background-position-y: -120px;
    background-size: cover;
    @media (min-width: $screen-xs-max) {
      height: 381px;
      margin-bottom: 120px;      
    }
    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }

  .specialist-profile .btn-block {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

body.specialists.new, body.specialists.create, body.specialists.edit {
  background-image: asset_url('bg.png');
  background-position: center top;
  background-repeat: repeat-y;
  .app_container{
    -webkit-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.3);
    background-color: #ffffff;
    padding-top: 25px;
    margin-bottom: 100px;
  }
  .btn-lg {
    text-transform: uppercase;
    font-weight: $medium-weight;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 0px;
    padding: 10px 20px;
  }
  #eligible-huge {
    display: inline-block;
    max-width: 360px;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  #eligible-mobile {
    display: none;
    @media (max-width: $screen-xs-max) {
      display: inline-block;
    }
  }
}

.card.specialist {
  .panel-heading {
    //background-color: rgba(0, 0, 0, 0.65);
    position: relative;

    .avatar {
      position: absolute;
      top: 9px;
      left: 9px;
      width: 50px;
      height: 50px;
    }

    .avatar img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    .name {
      font-weight: $bold-weight;
      white-space: nowrap;
      overflow: hidden;
      padding-bottom: 0.5em;
      text-overflow: ellipsis;
      text-align: left;
      text-transform: none;
      font-size: 12px;
    }

    .name {
      padding-left: 54px;
    }

    .rating {
      padding-top: 5px;
      .stars {
        display: block;
        line-height: 13px;
        .star {
          font-size: 12px;        
        }
      }
    }
  }

  .favorite {
    position: absolute;
    right: 17px;
    top: 8px;
    z-index: 5;

    .icon-heart {
      font-weight: bold;
      color: #d2d2d2;

      &:hover {
        color: #ffcc00;
      }
    }

    &.active .icon-heart, &:hover .icon-heart {
      color: $brand-primary;
    }

    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  .panel-body .icon-list {
    margin: 0;
  }
}

.form-specialist {
  #work-experiences {
    position: relative;

    .add {
      position: absolute;
      right: 14px;
      bottom: 1px;
    }
  }

  .specialist_current, .specialist_compliance, .specialist_former_regulator {
    color: $gray-light;
  }

  #education-histories {
    position: relative;

    .add {
      position: absolute;
      right: 14px;
      @media (min-width: $screen-sm-max) {
        bottom: 38px;
      }
      bottom: 0px;
    }

  }

  .specialist_education_histories_year .multiselect-container {
    max-height: 200px;
    overflow: auto;
  }

  .specialist_skill_selector {
    width: calc(100% - 2em);
    display: inline-block;
  }

  .form-group.specialist_work_experiences_from, .form-group.specialist_work_experiences_to {
    input {
      padding-right: 2em;
    }

    &:after {
      font-family: FontAwesome;
      content: "\f133";
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%;
      line-height: $input-height-large;
      color: lighten($text-muted, 10%);
      pointer-events: none;
    }
  }
}
