body {
  background-color: #F3F5F7;
}

body.specialists.index {
  background-position: center top;
  background-repeat: repeat-y;

  .new_specialist_search {
    .input-lg {
      border: 2px solid #FFCC01;
      border-radius: 0px;
      height: 32px;
      line-height: 28px;
      padding: 0px 10px;
      text-transform: uppercase;
      color: #333;

      .caret {
        margin-top: 14px;
      }
    }

    #specialist_search_regulator {
      right: 9px;
    }
  }

  .search-results {
    padding-bottom: 7px;
    .card-container {
      padding-bottom: 27px;
    }
  }
}

body.specialists.show {
  #header {
    background-image: asset_url("header-profile.jpg");
    background-size: cover;
    @media (min-width: $screen-xs-max) {
      height: 381px;
      margin-bottom: 100px;      
    }
    @media (max-width: 689px) {
      background-size: auto 300px + 150px;
    }
  }

  .specialist-profile .btn-block {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

body.ported_businesses {
  background-color: #fff;
}

body.specialists.new, body.specialists.create {
  background-position: center top;
  background-repeat: repeat-y;
  background-color: #fff;
  .app_container{
    background-color: #ffffff;
    padding-top: 25px;
    margin-bottom: 100px;
  }
  //.btn-lg {
  //  text-transform: uppercase;
  //  font-weight: bold;
  //  font-size: 14px;
  //  letter-spacing: 2px;
  //  border-radius: 0px;
  //  padding: 10px 20px;
  //}
  #eligible-huge {
    display: inline-block;
    max-width: 360px;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  #eligible-mobile {
    display: none;
    @media (max-width: $screen-xs-max) {
      display: inline-block;
    }
  }
}

.card.specialist {
  .panel-heading {
    position: relative;

    .avatar {
      position: absolute;
      top: 9px;
      left: 9px;
      width: 50px;
      height: 50px;
    }

    .avatar img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    .name {
      font-weight: $bold-weight;
      white-space: nowrap;
      overflow: hidden;
      padding-bottom: 0.5em;
      text-overflow: ellipsis;
      text-align: left;
      text-transform: none;
      font-size: 12px;
    }

    .name {
      padding-left: 54px;
    }

    .rating {
      padding-top: 5px;
      .stars {
        display: block;
        line-height: 13px;
        .star {
          font-size: 12px;        
        }
      }
    }
  }

  .favorite {
    position: absolute;
    right: 17px;
    top: 8px;
    z-index: 5;

    .icon-heart {
      font-weight: bold;
      color: #d2d2d2;

      &:hover {
        color: #FFCC01;
      }
    }

    &.active .icon-heart, &:hover .icon-heart {
      color: $brand-primary;
    }

    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  .panel-body .icon-list {
    margin: 0;
  }
}

.form-specialist {
  #work-experiences {
    position: relative;

    .add {
      position: absolute;
      right: 110px;
      bottom: 1px;
    }
  }

  .specialist_current, .specialist_compliance, .specialist_former_regulator {
    color: $gray-light;
  }

  #education-histories {
    position: relative;

    .add {
      position: absolute;
      right: 114px;
      @media (min-width: $screen-sm-max) {
        bottom: 2px;
      }
      bottom: 0px;
    }

  }

  .specialist_skill_selector {
    width: calc(100% - 2em);
    display: inline-block;
  }
}

.specialists_ported_business_page {
  label {
    background-size: cover; position: absolute; margin-left: -50px;
    padding: 10px;
    margin-top: 4px;
  }
  b {
    font-size: 15px;
  }
}