.selected-timesheet .form-buttons input {
  height: 36px;
  padding: 6px 14px;
}

.panel-drawer.timesheets {
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: calc(100% + 30px);
  border-top: 2px solid #b7b7b7;
}

#timesheets {
  .slick-prev, .slick-next {
    top: 40%;
  }

  .slick-dots {
    margin-top: 10px;
  }
}

.timesheets .timesheet {
  width: 118px;
  float: left;
  padding-top: 22px;
  position: relative;

  .sheet-icon {
    display: block;
    height: 110px;
    width: 84px;
    background: #fff asset_url("timesheet.png") no-repeat center;
    background-size: 84px 110px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .sheet-icon:before {
    position: absolute;
    right: 12px;
    top: 10px;
    width: 16px;
    height: 16px;
    text-align: right;
  }

  &.disputed .sheet-icon {
    &:before {
      font-family: 'Simple-Line-Icons';
      content: "\e082";
      background-color: #bf0000;
      color: #fff;
      display: block;
      border-radius: 50%;
    }

    &:after {
      content: "in dispute";
      display: inline-block;
      text-transform: uppercase;
      color: #000;
      opacity: 0.3;
      top: 70px;
      left: 3px;
      position: absolute;
      font-weight: $bold-weight;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
  }

  &.approved .sheet-icon:before, &.charged .sheet-icon:before {
    font-family: 'Simple-Line-Icons';
    content: "\e080";
    background-color: #0d8500;
    color: #fff;
    display: block;
    border-radius: 50%;
  }

  &.pending .sheet-icon:before {
    content: "\e060";
    font-family: 'Simple-Line-Icons';
  }

  &.selected:after {
    font-family: FontAwesome;
    content: "\f0d7";
    font-size: 30px;
    color: #b7b7b7;
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .date {
    text-align: center;
    margin: 0.5rem 0;
    font-weight: $bold-weight;
    color: #7c7c7c;
    font-size: 10px;
  }

  a {
    display: block;
  }
}

.timesheet.submitted .sheet-icon:before {
  content: "\e081";
  font-family: 'Simple-Line-Icons';
  animation: pulse 3s infinite;
}

.timesheets.business-timesheets-empty {
  margin-top: -15px;
}

@keyframes pulse {
  0% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

.timesheets {
  :nth-last-child(2) {
    margin-right: 0; // Remove margin on last .timesheet element
  }

  .dot-pagination {
    clear: both;
    padding-top: $panel-body-padding;
  }
}

form.form-timesheet {
  .form-buttons {
    width: 100%;
    margin-bottom: 20px;
    @include clearfix;
  }
}

table.time_logs {
  margin-bottom: 20px;
  width: 100%;

  .form-control {
    border: 2px solid #eaeaea;
  }

  th {
    text-transform: uppercase;
    font-weight: $medium-weight;
  }

  td {
    vertical-align: top;
  }

  .description {
    width: 75%;

    span {
      max-height: 2.6em;
      overflow: hidden;
    }
  }

  .hours {
    width: 20%;

    input {
      text-align: right;
    }
  }

  .tools {
    text-align: center;
    vertical-align: top;
    padding-top: calc(#{$input-height-base / 2} - 0.25em);
  }

  .form-group {
    margin-bottom: 0;
  }
}
