.turnkey-entry {
  text-align: center;
  margin-bottom: 40px;
  .check_boxes.turnkey_flavor {
    text-align: left;
  }
  .checkbox {
    padding: 4px 0px 2px !important;
    margin: 0px;
    display: inline-block;
    width: 45px;
    border: 2px solid #ffc42f;
    label {
      text-align: center;
      width: 100% !important;
    }
    label::before {
      content: none;
    }
  }
  .btn-grid-flavor {
    opacity: 1 !important;
    -webkit-appearance: none;
    appearance: none;
    width: 1px; /*Desired width*/
    height: 1px; /*Desired height*/
    display: block;
    float: left;
    color: white;
    margin-right: 0px;
    z-index: auto !important;
    &:checked:before {
      content: '';
      background: #FFC42F;
      position: absolute;
      width: 44px;
      height: 27px;
      left: 13px;
      top: -8px;
      z-index:-200;
    }
  }
  form {
    border: 2px solid #FFC42F;
    padding: 10px;
    position: relative;
    .control-label { display: none; }
  }
  h1 {
    font-size: 30px;
    font-family: "Nimbus Sans";
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  &-profits {
    padding-left: 20px;
    margin-bottom: 30px;
    li {
      text-align: left;
      font-family: "Avenir Light";
      font-size: 14px;
      b {
        font-family: "Avenir";
        font-weight: bold;
      }
      ul {
        padding-left: 20px;
      }
    }
  }
  &-purchase {
    bottom: -20px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: -10px;
  }
}

body.turnkey_pages.show {
  .app_container {
    width: 100% !important;
    padding: 0px;
  }
  .page-parallax {
    height: 280px;
    background-size: cover;
    width: 100%;
  }
  .page-parallax-footer {
    height: 460px;
    background-size: cover;
    width: 100%;
  }
  .turnkey-footer-top {
//    margin-right: -1%;
    @media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
      margin-right: -50px;
    }
    h1 {
      margin-top: 70px;
      font-size: 60px;
      font-family: 'Nimbus Sans';
      font-weight: bold;
      color: #000;
      text-shadow: -2px -2px 0px rgba(253, 215, 83, 1);
      @media (min-width: $screen-sm-max) {
        margin-right: 80px;
      }
    }
    .btn-primary {
      margin-left: auto;
      margin-left: auto;
      display: inline-block;
      background-color: #000;
      border: 3px solid #000;
      color: #fff;
      &:hover {
        background-color: #fff !important;
        color: #000 !important;
        border: 3px solid #fff !important;
      }
    }
    .arrow-down {
      transform: rotate(270deg) scale(0.10);
      @media (min-width: $screen-sm-max) {
        margin-top: -50px;
        margin-bottom: -40px;
        transform: rotate(270deg) scale(0.06);
      }
      svg {
        fill: #fff;
        @media (min-width: $screen-sm-max) {
          fill: #000;
        }
      }
    }
  }
  #header {
    margin-bottom: 0px;
  }
}

body.turnkey_pages.index {
  .app_container {
    padding: 0px;
  }
  .modal-content{
    box-shadow: none !important;
    border: 0px !important;
  }
  .black-line {
    background-color: #000;
    height: 15px;
    margin-bottom: 85px;
  }
  .find-out-more {
    background-color: #EBEBEB;
    .line {
      width: 96px;
      height: 3px;
      background-color: #000;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      font-size: 50px;
      font-family: "Nimbus Sans";
      font-weight: bold;
    }
  }
  .enterprise-solutions {
    background-color: #EDEDED;
    .col-md-4 {
      padding: 1.5px;
    }
    h1 {
      font-family: "Muller";
      font-weight: $black-weight;
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    form {
      label { display: none; }
      textarea { height: 182px; }
      .form-group {
        margin-bottom: 3px;
      }
      .btn { margin-right: -15px; }
    }
  }
  .turnkey-index {
    .col-md-4 {
      perspective: 1000px;
      &:hover .turnkey-index-entity {
        transform: rotateY(180deg);        
      }
    }
    h1 {
      font-family: "Muller";
      font-weight: $black-weight;
      font-size: 50px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    &-entity {
      transition: 0.6s;
      transform-style: preserve-3d;
      width: 240px;
      height: 280px;
      margin-bottom: 85px;
      position: relative;
      &-front, &-back {
        position: absolute;
        top: 0px;
        left: 0px;
        backface-visibility: hidden;
        width: 100%;
        background-color: #EDEDED;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #ededed;
        cursor: pointer;
      }
      &-front {
        a {
          color: #000;
          font-size: 30px;
          text-transform: uppercase;
          text-align: center;
          display: block;
          &:hover {
            text-decoration: none;
          }
        }
        transform: rotateY(0deg);
        .cost {
          position: absolute;
          bottom: 20px;
          width: 100%;
        }
        &-bg {
          position: absolute;
          top: 15px;
          left: 15px;
          z-index: -10;
          display: block;
          border: 3px solid #ededed;
          width: 100%;
          height: 100%;
        }
      }
      &-back {
        transform: rotateY(180deg);
        background-color: #fff;
        color: #000;
        a {
          color: #000;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .black_thing {
    position: absolute;
    background-color: #242323;
    height: 288px;
    width: 100%;
    z-index: -1;
  }
  .app_container {
    width: 100% !important;
  }
	.page-parallax {
    height: 453px;
    background-size: cover;
    width: 100%;
  }
  #header {
    margin-bottom: 0px;
  }
  .left-story {
    p {
      font-family: 'Nimbus Sans';
      font-weight: $bold-weight;
      color: #000000;
      letter-spacing: 0.1em;
      margin-top: 30px;
      @media (min-width: $screen-sm-max) {
        margin-top: 70px;
      }
    }
    .btn {
      padding: 15px 40px;
      margin-top: 20px;
      font-weight: 600;
    }
    .arrow-down {
      transform: rotate(270deg) scale(0.15);
    }
  }
  .right-story {
    background: #ededed;
    box-shadow: 2.97px 2.68px 4px 3px rgba(0,0,0,0.23);
    margin-top: -185px;
    padding-left: 150px;
    padding-right: 65px;
    padding-bottom: 35px;
    ul {
      padding-left: 15px;
    }
    h1 {
      margin-left: -95px;
      font-size: 16px;
      font-family: "Nimbus Sans";
      font-weight: bold;
    }

    h3 {
      font-size: 20px;
      font-family: "Nimbus Sans";
      font-weight: bold;
    }
    img {
      position: absolute;
      width: 64px;
      height: 64px;
      margin-left: -85px;
      margin-top: 10px;
    }
  }
}