.work-experiences {
  .list-group-item-heading {
    @include clearfix;
  }

  .list-group-item + .list-group-item {
    margin-top: 2.5em;
  }

  .list-group-item-text {
    margin-top: 0.7em;
  }

  .company, .list-group-item-text {
    clear: both;
  }

  .job-title {
    float: left;
    font-weight: normal;
    font-style: italic;
  }

  .detail {
    float: right;
  }
}
